<div class="jumbotron">
  <strong>
  <p>Soalan berkaitan daya saing pertubuhan mengandungi 4 Seksyen iaitu:</p>
  <br>
  <p>Seksyen A: Modul Penggunaan ICT dan e-Dagang</p>
  <p>Seksyen B: Import dan Eksport</p>
  <p>Seksyen C: Inovasi dan Penyelidikan & Pembangunan</p>
  <p>Seksyen D: Perbelanjaan Perlindungan Alam Sekitar</p>
  </strong>
</div>