<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">14.3</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm"> Adakah pertubuhan tuan mendapat pengiktirafan pensijilan yang berkaitan alam sekitar? </label>
    <br>
    <label class="fnum">340003</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F340003" id="F3400031" value="1">
        <span class="fnum">1</span> Ya
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F340003" id="F3400032" value="2">
        <span class="fnum">2</span> Tidak
      </label>
    </div>
  </div>
</div>

