<div class="row">
  <div class="col-md-1">{{ num }}</div>
  <div class="col-md-11">{{ text }}</div>
</div>
<div class="form-group row">
  <div class="col-md-1"></div>
  <div class="input-group col-md-5">
    <div class="input-group-prepend">
      <span class="input-group-text">Dari</span>
    </div>
    <input class="form-control" placeholder="yyyy-mm-dd"
            name="dp_dari" [(ngModel)]="dari" ngbDatepicker #d="ngbDatepicker">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
        <img src="assets/calendar-icon.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
      </button>
    </div>
    <span class="field_number mt-2 ml-2">{{ fnum_dari }}</span>
  </div>
  <div class="col-md-1"></div>
  <div class="input-group col-md-5">
    <div class="input-group-prepend">
      <span class="input-group-text">hingga</span>
    </div>
    <input class="form-control" placeholder="yyyy-mm-dd"
            name="dp_hingga" [(ngModel)]="hingga" ngbDatepicker #h="ngbDatepicker">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="h.toggle()" type="button">
        <img src="assets/calendar-icon.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
      </button>
    </div>
    <span class="field_number mt-2 ml-2">{{ fnum_hingga }}</span>
  </div>
</div>
