<div class="row">
  <div class="col-md-4 text-center">
  </div>

  <div class="col-md-4 text-center">
    <label> {{ text1 }} <br> RM </label>
    <label class="field_number" style="float: right; color: blue;">{{ field_number1 }}</label>
  </div>

  <div class="col-md-4 text-center">
    <label class="field_number" style="float: right; color: blue;">{{ field_number2 }}</label>
    <label> {{ text2 }} <br> RM </label>
  </div>

</div>

<div class="row" *ngFor="let row of array">
  <div class="col-md-4">
    <label> {{ row.num }} {{ row.text }}</label>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text field_number">{{ row.fnum }}</span>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text field_number">{{ row.fnum }}</span>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>
</div>
