<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <label class="col-md-5 col-form-label col-form-label-sm">
    Sila nyatakan jumlah pendapatan pertubuhan tuan bagi tahun rujukan 2017 (Tidak termasuk CBP)
  </label>
    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend">
        <span class="input-group-text font14">RM</span>
      </div>
      <input type="text" class="form-control form-control-sm" id="F080089" name="F080089">
      <span class="input-group-addon fnum mt-2 ml-2">080089</span>
    </div>
</div>
