<div class="form-group row">
  <div class="col-md-1">{{ num }}</div>
  <div class="col-md-5">{{ text }}</div>
  <div class="col-md-3">
    <span class="field_number">{{ field_number1 }}</span>
    <input type="text" id="F{{field_number1}}" name="F{{field_number1}}" class="form-control">
  </div>
  <div class="col-md-3">
    <span class="field_number">{{ field_number2 }}</span>
    <input type="text" id="F{{field_number2}}" name="F{{field_number2}}" class="form-control">
  </div>
</div>
