<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm" for="F030013">
      Jika modal berbayar pertubuhan tuan dipegang melebihi 50 peratus oleh syarikat / individu di luar
      negara, secara langsung atau tidak langsung, <u>sila nyatakan negara syarikat induk muktamad</u>
    </label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" name="F030013" id="F030013">
      <span class="fnum mt-2 ml-2">030013</span>
    </div>
  </div>
</div>
