<div class="form-group row">
  <label class="col-md-1">{{ num }}</label>
  <div class="col-md-11">
    <label>{{ text }}</label>
    <br>
    <label class="field_number">{{ field_number }}</label>
    <div *ngFor="let row of array" class="custom-control custom-radio">
      <input type="radio" id="F{{ field_number }}{{row.last}}" name="F{{ field_number }}" class="custom-control-input">
      <label class="custom-control-label" for="F{{ field_number }}{{row.last}}"> <span class="last mr-3">{{ row.last }}</span>{{ row.text }}</label>
    </div>
  </div>
</div>