<div class="row">
  <div class="col-md-1"><label>12.1</label></div>
  <div>Sila laporkan jumlah import dan eksport dalam tahun rujukan bagi:</div>
</div>
<div class="row">
  <div class="col-md-4 text-center">
  </div>

  <div class="col-md-4 text-center">
    <label class="field_number" style="float: right; color: blue;">3201</label>
    <label> Import Nilai <br> RM </label>
  </div>

  <div class="col-md-4 text-center">
    <label class="field_number" style="float: right; color: blue;">3202</label>
    <label> Eksport Nilai <br> RM </label>
  </div>

</div>

<div class="row">
  <div class="col-md-1">
    <label>(a)</label>
  </div>
  <div class="col-md-3">
    <label>Barangan</label>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text field_number">01</span>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text field_number">01</span>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <label>(b)</label>
  </div>
  <div class="col-md-3">
    <label>Perkhidmatan</label>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text field_number">02</span>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text field_number">02</span>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>
</div>
