<div class="scroller">
  <table class="table-bordered font14">
    <thead class="text-center">
    <tr>
      <th rowspan="5" colspan="5">
        Kategori Pekerja / Jawatan (Lelaki)
      </th>
      <th colspan="13">
        Bilangan pekerja yang dibayar oleh pertubuhan ini pada Disember 2017 atau pada tempoh gaji terakhir
      </th>
    </tr>
    <tr>
      <th rowspan="3">Pascasiswazah</th>
      <th rowspan="2" colspan="2">Ijazah Sarjana Muda / Diploma Lanjutan atau yang setaraf</th>
      <th rowspan="2" colspan="2">Diploma</th>
      <th rowspan="3">STPM atau yang setaraf</th>
      <th colspan="4">Sijil</th>
      <th rowspan="3">SPM / SPM(V) atau yang setaraf</th>
      <th rowspan="3">Di bawah taraf kelulusan SPM / SPM(V)</th>
      <th rowspan="3">JUMLAH</th>
    </tr>
    <tr>
      <th rowspan="2">Akademik</th>
      <th colspan="3">Sijil Kemahiran (TVET)</th>
    </tr>
    <tr>
      <th>Akademik</th>
      <th>Teknikal *</th>
      <th>Akademik</th>
      <th>Teknikal dan Vokasional (TVET)</th>
      <th>Tahap 3</th>
      <th>Tahap 1 & 2</th>
      <th>Lain-lain</th>
    </tr>
    <tr class="fnum">
      <td>0601</td>
      <td>0602</td>
      <td>0603</td>
      <td>0604</td>
      <td>0605</td>
      <td>0606</td>
      <td>0607</td>
      <td>0608</td>
      <td>0609</td>
      <td>0610</td>
      <td>0611</td>
      <td>0612</td>
      <td>0613</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th colspan="4">A. <u>Warganegara Malaysia</u></th>
      <th></th>
      <th colspan="13"></th>
    </tr>
    <tr>
      <th valign="top">6.1</th>
      <th colspan="3">Pemilik yang bekerja dan rakan niaga yang aktif</th>
      <td class="text-center fnum">01</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th valign="top">6.2</th>
      <th colspan="3">
        Pekerja keluarga tidak bergaji (semua ahli keluarga dan rakan yang tidak menerima upah yang tetap)
      </th>
      <td class="text-center fnum">02</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th valign="top">6.3</th>
      <th colspan="3">Pekerja bergaji (sepenuh masa):</th>
      <th></th>
      <td colspan="13"></td>
    </tr>
    <tr>
      <th></th>
      <th>6.3.1</th>
      <th colspan="2">Pengurus</th>
      <td class="text-center fnum">03</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th>6.3.2</th>
      <th colspan="2">Profesional</th>
      <th></th>
      <th colspan="13"></th>
    </tr>
    <tr>
      <th colspan="2"></th>
      <th>(a)</th>
      <th>Profesional</th>
      <td class="text-center fnum">04</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th colspan="2"></th>
      <th>(b)</th>
      <th>Penyelidik</th>
      <td class="text-center fnum"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th valign="top">6.3.3</th>
      <th colspan="2">Juruteknik dan Profesional Bersekutu</th>
      <td class="text-center fnum">06</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th valign="top">6.3.4</th>
      <th colspan="2">Pekerja Sokongan Perkeranian</th>
      <td class="text-center fnum">07</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th valign="top">6.3.5</th>
      <th colspan="2">Pekerja Perkhidmatan dan Jualan</th>
      <td class="text-center fnum">08</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th valign="top">6.3.6</th>
      <th colspan="2">Pekerja Kemahiran dan Pekerja Pertukangan yang berkaitan</th>
      <td class="text-center fnum">09</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th valign="top">6.3.7</th>
      <th colspan="2">Operator Mesin & Loji dan Pemasang</th>
      <td class="text-center fnum">16</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th>6.3.8</th>
      <th colspan="2">Pekerja Asas</th>
      <td class="text-center fnum">12</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th valign="top">6.3.9</th>
      <th colspan="2">Jumlah pekerja bergaji (sepenuh masa) (6.3.1 hingga 6.3.8)</th>
      <td class="text-center fnum">89</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th valign="top">6.4</th>
      <th colspan="3">
        Pekerja bergaji (sambilan)
      </th>
      <td class="text-center fnum">13</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th valign="top">6.5</th>
      <th colspan="3">
        Jumlah warganegara Malaysia <br> (6.1 + 6.2 + 6.3.9 + 6.4)
      </th>
      <td class="text-center fnum">22</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th colspan="4">B. <u>Bukan Warganegara Malaysia</u></th>
      <td class="text-center fnum">23</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th>6.6</th>
      <th colspan="3">JUMLAH (6.5 + B)</th>
      <td class="text-center fnum">99</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="note">
  <p>
    * Merujuk kepada kelulusan dalam pengkhususan Teknologi yang diperoleh daripada Rangkaian Universiti Teknikal
    Malaysia (MTUN)
  </p>
  <p>
    Medan 061399 mesti sama dengan medan 050799 yang dilaporkan di Soalan 5A perkara 5.5
  </p>
</div>
