<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">
      Adakah pertubuhan tuan membeli perkhidmatan pengkomputeraan awan yang digunakan di internet (
      cth: Microsoft SkyDrive, Apple iCloud, Dropbox) semasa tempoh pelaporan?
    </label>
    <br>
    <label class="fnum">310034</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310034" id="F3100341" value="1">
        <span class="fnum">1</span> Ya
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310034" id="F3100342" value="2">
        <span class="fnum">2</span> Tidak
      </label>
    </div>
    <div class="well">
      <div class="note">
        Pengkomputeraan awan merujuk kepada perkhidmatan ICT yang digunakan melalui internet untuk Mengakses
        perisian, kuasa pengkomputeraan, kapasiti penyimpanan dll
      </div>
    </div>
  </div>
</div>