<div class="row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <div class="row">
      <label class="col-md-6 col-form-label col-form-label-sm">Dana Pemegang Saham</label>
      <label class="col-md-6 text-center col-form-label col-form-label-sm">Seperti pada 31.12.2017<br>RM</label>
    </div>
    <div class="form-group row" *ngFor="let row of array">
      <label class="col-md-6 col-form-label col-form-label-sm" for="F{{row.fnum}}">{{ row.text }}</label>
      <div class="col-md-6 input-group">
        <input class="form-control form-control-sm" type="text" name="F{{row.fnum}}" id="F{{row.fnum}}">
        <span class="fnum mt-2 ml-2">{{ row.fnum }}</span>
      </div>
    </div>
    <div class="well">
      <div class="note">
        Nota: <br>* Jika taraf sah ialah hak milik perseorangan atau perkongsian, ia merujuk kepada modal yang disumbangkan oleh pemilik
      </div>
    </div>
  </div>
</div>
