<div class="form-group row">
  <div class="col-md-6">
    <label class="col-form-label col-form-label-sm">Nilai buku bersih pada 1.1.2017</label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" name="F040404" id="F040404">
      <span class="fnum mt-2 ml-2">040404</span>
    </div>
  </div>
  <div class="col-md-6">
    <label class="col-form-label col-form-label-sm">Pembelian (baru)</label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" name="F040199" id="F040199">
      <span class="fnum mt-2 ml-2">040199</span>
    </div>
  </div>
</div>



<div class="form-group row">
  <div class="col-md-6">
    <label class="col-form-label col-form-label-sm">Pembelian (terpakai)</label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" name="F040299" id="F040299">
      <span class="fnum mt-2 ml-2">040299</span>
    </div>
  </div>
  <div class="col-md-6">
    <label class="col-form-label col-form-label-sm">Pelupusan</label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" name="F040399" id="F040399">
      <span class="fnum mt-2 ml-2">040399</span>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6">
    <label class="col-form-label col-form-label-sm">Susut nilai</label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" name="F040403" id="F040403">
      <span class="fnum mt-2 ml-2">040403</span>
    </div>
  </div>
  <div class="col-md-6">
    <label class="col-form-label col-form-label-sm">Nilai buku bersih pada 31.12.2017</label>
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" name="F040405" id="F040405">
      <span class="fnum mt-2 ml-2">040405</span>
    </div>
  </div>
</div>



