<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3 text-center col-form-label-sm">
    <label>Nilai / RM</label>
    <span style="float:right;" class="fnum">0876</span>
  </div>
</div>
<div class="row">
  <div class="col-md-1 col-form-label-sm">8.1C</div>
  <div class="col-md-8 col-form-label-sm">Pendapatan daripada perkhidmatan komputer dan maklumat</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">15</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087615" id="F087615">
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="well">
      <div class="note col-form-label-sm">
        Nota: <br>* Nilai di medan 087615 mesti sama dengan jumlah medan (087616 + 087617 + 087618 + 087619 + 087620 + 087621 + 087622 + 087623 + 087624)
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.1.1</div>
  <div class="col-md-11 col-form-label-sm">Aktiviti pengaturcaraan komputer, perundingan dan aktiviti yang berkaitan</div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti pengaturcaraan komputer(cth. perkidmatan aplikasi reka bentuk dan pembangunan IT)</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">16</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087616" id="F087616" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-7 col-form-label-sm">Perundingan komputer (cth. perkhidmatan sokongan IT)</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">17</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087617" id="F087617" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(c)</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti pengurusan kemudahan komputer</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">18</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087618" id="F087618" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(d)</div>
  <div class="col-md-7 col-form-label-sm">Sistem keselamatan teknologi maklumat dan komunikasi (ICT)</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">19</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087619" id="F087619" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(e)</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti perkhidmatan teknologi maklumat lain</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">20</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087620" id="F087620" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.1.2</div>
  <div class="col-md-11 col-form-label-sm">Aktiviti perkhidmatan maklumat</div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-7 col-form-label-sm">Perkhidmatan penyediaan infrastruktur <i>hosting</i>, perkhidmatan prosesan data dan aktiviti yang berkaitan <i>(web hosting)</i></div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">21</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087621" id="F087621" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti prosesan data</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">22</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087622" id="F087622" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(c)</div>
  <div class="col-md-7 col-form-label-sm">Web portal</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">23</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087623" id="F087623" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(d)</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti perkhidmatan maklumat yang lain termasuk aktiviti agensi dan sindiket berita</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">24</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087624" id="F087624" >
    </div>
  </div>
</div>
<hr>
