<app-l010002 [num]="'1.1'"></app-l010002>
<app-f010002></app-f010002>
<app-f010028 [num]="'1.2'" [text]="'Sila nyatakan aktiviti utama pertubuhan tuan berdasarkan perkhidmatan yang diberikan'"></app-f010028>
<app-f010014 [num]="'1.3'"></app-f010014>
<app-f0100161></app-f0100161>
<app-f0100351></app-f0100351>
<app-f0100361></app-f0100361>
<app-f010017></app-f010017>
<app-f010027></app-f010027>
<app-f010029></app-f010029>
<app-f010031></app-f010031>
<app-f010034></app-f010034>
<app-f040404></app-f040404>
<app-f052001></app-f052001>
<app-f070101></app-f070101>
<app-f060199></app-f060199>
<app-f080001></app-f080001>
<app-f090001></app-f090001>
<app-f100101></app-f100101>
<app-f3100011 [num]="'11.1'"> </app-f3100011>
<app-f3100031 [num]="'11.2'"></app-f3100031>
<app-f3100361 [num]="'11.3'" ></app-f3100361>
<app-f310037 [num]="'11.4'" ></app-f310037>
<app-f310044 [num]="'11.5'" ></app-f310044>
<app-f310063 [num]="'11.6'" ></app-f310063>
<app-f320101></app-f320101>
<app-f330001 [num]="'13'"></app-f330001>
<app-f330005 [num]="'13'"></app-f330005>
<app-f330010 [num]="'13'"></app-f330010>
<app-f330014 [num]="'13'"></app-f330014>
<app-f330019 [num]="'13.5'"></app-f330019>
<app-f330032 [num]="'13.6'"></app-f330032>
<app-f330035></app-f330035>
<app-f330036 [num]="'13.8'"> </app-f330036>
<app-f330039 [num]="'13.9'"> </app-f330039>
<app-f330042 [num]="'13.10'"> </app-f330042>
<app-f330048 [num]="'13.11'"> </app-f330048>
<app-f330051 [num]="'13.12'"> </app-f330051>
<app-f340001></app-f340001>
<app-f340002 [num]="'14.2'"></app-f340002>
<app-f340003></app-f340003>
<app-f160001 [num]="'15.1'"></app-f160001>
<app-f151001></app-f151001>
<app-f010004 [num]="'1.4'"></app-f010004>
<app-f0200011 [num]="'2.1'"></app-f0200011>
<app-f0200021 [num]="'2.2'"></app-f0200021>
<app-f030001 [num]="'3.1'"></app-f030001>
<app-f030003 [num]="'3.2'"></app-f030003>
<app-f030013 [num]="'3.3'"></app-f030013>
<app-f030012></app-f030012>
<app-f3100011 [num]="'4.1'"></app-f3100011>
<app-f310080 [num]="'4.2'"></app-f310080>
<app-f310002 [num]="'4.3'" [text]="'Berapakah peratusan pekerja di pertubuhan tuan yang menggunakan komputer
      (sekurang-kurangnya sekali dalam seminggu) semasa bekerja?'"></app-f310002>
<app-f3100031 [num]="'4.4'"></app-f3100031>
<app-f310004 [num]="'4.5'"></app-f310004>
<app-f310005 [num]="'4.6'"></app-f310005>
<app-f310011 [num]="'4.7'"></app-f310011>
<app-f3100171 [num]="'4.8'"></app-f3100171>
<app-f310021 [num]="'4.9'"></app-f310021>
<app-f3100341 [num]="'4.10'" ></app-f3100341>
<app-f3100351 [num]="'4.11'" ></app-f3100351>
<app-f3100361 [num]="'4.12'" ></app-f3100361>
<app-f310037 [num]="'4.13'" ></app-f310037>
<app-f3100431 [num]="'4.14'" ></app-f3100431>
<app-f080089 [num]="'4.15'" ></app-f080089>
<app-f310044 [num]="'4.16'" ></app-f310044>
<app-f310046 [num]="'4.17'" ></app-f310046>
<app-f310051 [num]="'4.18'" ></app-f310051>
<app-f310054 [num]="'4.19'" ></app-f310054>
<app-f310056 [num]="'4.20'" ></app-f310056>
<app-f3100621 [num]="'4.21'" ></app-f3100621>
<app-f090089 [num]="'4.22'"></app-f090089>
<app-f310063 [num]="'4.23'" ></app-f310063>
<app-f310065 [num]="'4.24'" ></app-f310065>
<app-f310068 [num]="'4.25'" ></app-f310068>
<app-f310070 [num]="'4.26'" ></app-f310070>
<app-f3100761 [num]="'4.27'" ></app-f3100761>
<app-f310077 [num]="'4.28'" ></app-f310077>
<app-f040101></app-f040101>
<app-f050101></app-f050101>
<app-f051001></app-f051001>
<app-f060101></app-f060101>
<app-f061401></app-f061401>
<app-f070101></app-f070101>
<app-f087601></app-f087601>
<app-f087609></app-f087609>
<app-f087615></app-f087615>
<app-f087625></app-f087625>
<app-f080023></app-f080023>
<app-f090016></app-f090016>


