.fnum, .fnum2 {
    color: blue;
}

.fnum, .fnum2 , .form-check-label, .note, .font14 {
    font-size: 14px;
}

.well {
    background-color: beige;
    padding: 5px;
    margin: 2px;
    border: solid 0.5px lightgrey;
    border-radius: 10px;
}

.input-group-prepend span {
    background-color: transparent;
    border: none;
}

.input-group-text {
    height: 40px;
    background-color: transparent;
    border: none;
}

.table-borderless td,
.table-borderless th {
  border: 0;
  font-size: 14px;
}
