<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">
      Adakah pertubuhan tuan membuat pesanan (pembelian) barangan atau perkhidmatan menggunakan
      internet dalam tempoh laporan?
    </label>
    <br>
    <label class="fnum">310062</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310062" id="F3100621" value="1">
        <span class="fnum">1</span> Ya
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310062" id="F3100622" value="2">
        <span class="fnum">2</span> Tidak
      </label>
    </div>
    <div class="well">
      <div class="note">
        Jika TIDAK, sila ke Soalan {{ num2 }}<br>
      </div>
    </div>
    <div class="well">
      <div class="note">
        Termasuk:
        Melalui laman web, <i>specialised internet marketplaces, extranet,</i>EDI <i>over the internet,</i>
        telefon mudah alih yang membolehkan akses internet. <br>
        Tidak termasuk:
        Penghantaran pesanan melalui emel. <br>
        Nota: <br>
        Termasuk pembelian semasa dan perbelanjaan modal.
      </div>
    </div>
  </div>
</div>