<div class="row">
  <div class="col-md-1"><label class="col-form-label col-form-label-sm">{{ num }}</label></div>
  <div class="col-md-11"><label class="col-form-label col-form-label-sm">Data dalam pelaporan ini meliputi tempoh operasi</label></div> 
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Dari</span>
        </div>
        <input class="form-control" placeholder="yyyy-mm-dd"
              name="dp_dari" [(ngModel)]="dari" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <img src="assets/calendar-icon.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
        <span class="fnum mt-2 ml-2">010004</span>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">hingga</span>
        </div>
        <input class="form-control" placeholder="yyyy-mm-dd"
              name="dp_hingga" [(ngModel)]="hingga" ngbDatepicker #h="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="h.toggle()" type="button">
            <img src="assets/calendar-icon.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
        <span class="fnum mt-2 ml-2">010005</span>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-11">
    <div class="row">
      <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}.1</label>
      <div class="col-md-11">
        <label class="col-form-label col-form-label-sm">Jika tempoh masa laporan tidak meliputi seluruh tahun, sila tandakan (X) sebab-sebab di bawah (Boleh pilih lebih dari satu)</label>
        <br>
        <span class="fnum">0100</span>
        <div class="form-group">
          <div *ngFor="let row of array" class="form-check">
            <div class="row">
              <div class="col-md-12">
                <label for="F0100{{ row.fnum }}" class="form-check-label">
                  <input type="checkbox" id="F0100{{ row.fnum }}" name="F0100{{ row.fnum }}" class="form-check-input">
                  <span class="fnum">{{ row.fnum }}</span> {{ row.text }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <div class="form-group ml-2">
        <div class="input-group">
          <textarea class="form-control" name="F010013" id="F010013"></textarea>
          <span class="fnum mt-2 ml-2">010013</span>
      </div>
    </div>
  </div>
</div>
