<app-l010002 [num]="'1.1'"></app-l010002>
<app-f010002></app-f010002>
<hr>
<app-f010040 [num]="'1.2'" ></app-f010040>
<hr>
<app-f010003 [num]="'1.3'"></app-f010003>
<hr>
<app-f010004 [num]="'1.4'" ></app-f010004>
<hr>
<app-f010014 [num]="'1.5'" ></app-f010014>
<hr>
<app-f0100161 [num]="'1.6'" [num2]="'1.5'" ></app-f0100161>
<app-f010017 [label]="'Kod alamat tempat perniagaan'" ></app-f010017>
<hr>
<app-f010028 [num]="'1.7'" [text]="'Sila nyatakan aktiviti utama pertubuhan tuan berdasarkan perkhidmatan yang diberikan'" ></app-f010028>
<hr>
<app-f0100351 [num]="'1.8'" ></app-f0100351>
<hr>
<app-f0100361 [num]="'1.9'" [num2]="'2'" ></app-f0100361>
