<div class="row form-group">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-5">
    <label for="F010003" class=" col-form-label col-form-label-sm">Tahun mula perniagaan sekarang</label>
    <div class="input-group">
      <select class="form-control form-control-sm" id="F010003" name="F010003">
        <option *ngFor="let row of tahunRujukan" value="row.id">{{ row.tahun }}</option>
      </select>
      <span class="fnum mt-2 ml-2">010003</span>
    </div>
  </div>
</div>

