<div class="form-group row">
  <label class="col-md-1">{{ num }}</label>
  <div class="col-md-6">
    <label>{{ text }}</label>
    <input type="text" style="width: 300px;" class="form-control col-md-5 field_number"> {{ field_number }}
  </div>
</div>
