<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm" for="l010002">
      Nombor Pendaftaran Syarikat / Perniagaan (SSM) atau lain-lain (sila nyatakan)
    </label>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <input class="form-control form-control-sm" type="text" name="l010002" id="l010002">
  </div>
</div>
