<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3 text-center col-form-label-sm">
    <label>Nilai / RM</label>
    <span style="float:right;" class="fnum">0900</span>
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.1</div>
  <div class="col-md-8 col-form-label-sm">Bayaran pemprosesan data dan lain-lain perkhidmatan yang berkaitan dengan teknologi matlumat</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">16</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090016" id="F090016">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.2</div>
  <div class="col-md-8 col-form-label-sm">Bayaran pembaikan dan penyelenggaraan yang dibuat oleh pihak lain bagi harta tetap pertubuhan ini</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">11</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090011" id="F090011">
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="well">
      <div class="note">
        *Termasuk: <br> Bangunan (pejabat, kilang, gudang dsb.) alat pengangkutan, jentera dan kelengkapan, perabot dan pemasangan dan komputer
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-1 col-form-label-sm">9.3</div>
  <div class="col-md-8 col-form-label-sm">Kos filem dibeli untuk tayangan</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">66</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090066" id="F090066">
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="well">
      <div class="note">
        Belian tolak pemulangan <br>
        + Stok pembukaan tolak stok penutupan <br>
        + Bayaran pengangkutan <br>
        + Cukai dan duti <br>
        + Insurans
      </div>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.4</div>
  <div class="col-md-8 col-form-label-sm">Pengiklanan dan promosi</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">63</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090063" id="F090063">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.5</div>
  <div class="col-md-8 col-form-label-sm">Kos bahan yang digunakan (termasuk bahan yang digunakan untuk perkhidmatan pengiklanan)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">01</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090001" id="F090001">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.6</div>
  <div class="col-md-8 col-form-label-sm">Kos barang dijual (barang/ bahan yang dibeli untuk dijual semula tanpa melalui proses selanjutnya)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">09</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090009" id="F090009">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.7</div>
  <div class="col-md-8 col-form-label-sm">Bayaran kepada pembekal rancangan (cth. rancangan sukan, berita, pindahan tap dsb.)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">82</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090082" id="F090082">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.8</div>
  <div class="col-md-8 col-form-label-sm">Bayaran untuk penyewaan filem</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">64</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090064" id="F090064">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.9</div>
  <div class="col-md-8 col-form-label-sm">Jumlah bayaran yang diberi secara kontrak kepada pihak lain</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">59</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090059" id="F090059">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.10</div>
  <div class="col-md-8 col-form-label-sm">Bayaran perhubungan antara tempatan dan bayaran keluar antarabangsa</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">83</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090083" id="F090083">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.11</div>
  <div class="col-md-8 col-form-label-sm">Sumbangan kepada Kumpulan Wang Pemberian Perkhidmatan Sejagat</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">88</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090088" id="F090088">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.12</div>
  <div class="col-md-8 col-form-label-sm">Perbelanjaan penyelidikan dan pembangunan</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">12</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090012" id="F090012">
    </div>
  </div>
  <div class="col-md-10"></div>
  <div class="col-md-2 text-center col-form-label-sm">
    <label>Peratus <br> (%)</label>
    <span style="float:right;" class="fnum"> <br> 0900</span>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-8 col-form-label-sm">Dalaman</div>
  <div class="col-md-2 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">13</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090013" id="F090013">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-8 col-form-label-sm">Sumber luaran</div>
  <div class="col-md-2 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">14</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090014" id="F090014">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-form-label-sm">Jumlah</div>
  <div class="col-md-2 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">&nbsp;</span>
      </div>
      <input type="text" class="form-control form-control-sm" readonly value="100">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.13</div>
  <div class="col-md-8 col-form-label-sm">Bayaran telekomunikasi (cth. telefon, internet dsb.)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">17</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090017" id="F090017">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.14</div>
  <div class="col-md-11 col-form-label-sm">Bayaran royalti kepada:</div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-7 col-form-label-sm">Kerajaan/ Badan Berkanun (Sila nyatakan jenis royalti)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">26</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090026" id="F090026">
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-7">
    <div class="form-group">
      <textarea name="L090026_a" id="L090026_a" class="form-control form-control-sm"></textarea>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-10 col-form-label-sm">Organisasi bukan kerajaan/ tajaan korporat (Sila nyatakan jenis royalti)</div>
  <div class="col-md-2"></div>
  <div class="col-md-7">
    <div class="form-group">
      <textarea name="L090026_b" id="L090026_b" class="form-control form-control-sm"></textarea>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1 col-form-label-sm">(i)</div>
  <div class="col-md-6 col-form-label-sm">Tempatan</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">60</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090060" id="F090060">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1 col-form-label-sm">(ii)</div>
  <div class="col-md-6 col-form-label-sm">Luar negara</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">61</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090061" id="F090061">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.15</div>
  <div class="col-md-11 col-form-label-sm">Nilai bekalan-bekalan lain yang digunakan</div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-7 col-form-label-sm">Bahan unutk pembaikan dan penyenggaraan</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">03</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090003" id="F090003">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-7 col-form-label-sm">Alat tulis dan bekalan pejabat</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">05</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090005" id="F090005">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(c)</div>
  <div class="col-md-7 col-form-label-sm">Lain-lain</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">57</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090057" id="F090057">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.16</div>
  <div class="col-md-8 col-form-label-sm">Kos percetakan</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">58</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090058" id="F090058">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.17</div>
  <div class="col-md-8 col-form-label-sm">Air yang dibeli</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">06</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090006" id="F090006">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.18</div>
  <div class="col-md-8 col-form-label-sm">Tenaga elektrik yang dibeli</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">07</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090007" id="F090007">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.19</div>
  <div class="col-md-8 col-form-label-sm">Bahan pembakar, pelincir dan gas</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">08</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090008" id="F090008">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2 text-center col-form-label-sm">
    <label>Peratus <br> (%)</label>
    <span style="float:right;" class="fnum"> <br> 0900</span>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-8 col-form-label-sm">Pelincir</div>
  <div class="col-md-2 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">71</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090071" id="F090071">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-8 col-form-label-sm">Minyak diesel</div>
  <div class="col-md-2 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">72</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090072" id="F090072">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(c)</div>
  <div class="col-md-8 col-form-label-sm">Petrol</div>
  <div class="col-md-2 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">73</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090073" id="F090073">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(d)</div>
  <div class="col-md-8 col-form-label-sm">Gas petroleum cecair</div>
  <div class="col-md-2 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">74</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090074" id="F090074">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(e)</div>
  <div class="col-md-8 col-form-label-sm">Gas asli / Gas asli unutk kereta (NGV)</div>
  <div class="col-md-2 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">75</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090075" id="F090075">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(f)</div>
  <div class="col-md-8 col-form-label-sm">Bahan pembakar lain (Sila nyatakan)</div>
  <div class="col-md-2 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">76</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090076" id="F090076">
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="form-group">
      <textarea name="L090076" id="L090076" class="form-control form-control-sm"></textarea>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-form-label-sm">Jumlah</div>
  <div class="col-md-2">
    <div class="form-group text-center">
      <input type="text" class="form-control form-control-sm" value="100" readonly>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.20</div>
  <div class="col-md-8 col-form-label-sm">Perbelanjaan operasi</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">15</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090015" id="F090015">
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="well">
      <div class="note col-form-label-sm">
        Termasuk <br> Pembelian perkhidmatan pengangkutan, perbelanjaan perjalanan, perbelanjaan hiburan, bayaran perakaunan, kesetiausahaan & audit, bayaran guaman, bayaran perkhidmatan profesional lain, bayaran pengurusan, komisen & bayaran agensi, bayaran pos & kurier, caj bank, premium insurans kecuali insurans pampasan pekerja
      </div>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.21</div>
  <div class="col-md-8 col-form-label-sm">Bayaran faedah</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">25</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090025" id="F090025">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.22</div>
  <div class="col-md-8 col-form-label-sm">Bayaran bagi perkhidmatan keselamatan</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">67</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090067" id="F090067">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.23</div>
  <div class="col-md-8 col-form-label-sm">Tuntutan waranti</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">65</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090065" id="F090065">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.24</div>
  <div class="col-md-8 col-form-label-sm">Bayaran sewa:</div>
  <div class="col-md-3 text-center col-form-label-sm">
    <label>Nilai / RM</label>
    <span style="float:right;" class="fnum">0900</span>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-7 col-form-label-sm">Tanah</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">19</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090019" id="F090019">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-10 col-form-label-sm">Sewaan operasi</div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1 col-form-label-sm">(i)</div>
  <div class="col-md-6 col-form-label-sm">Bangunan</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">20</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090020" id="F090020">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1 col-form-label-sm">(ii)</div>
  <div class="col-md-6 col-form-label-sm">Jentera dan kelengkapan</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">21</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090021" id="F090021">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1 col-form-label-sm">(iii)</div>
  <div class="col-md-6 col-form-label-sm">Kenderaan bermotor dan jenis pengangkutan lain</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">22</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090022" id="F090022">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1 col-form-label-sm">(iv)</div>
  <div class="col-md-6 col-form-label-sm">Lain-lain</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">23</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090023" id="F090023">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.25</div>
  <div class="col-md-8 col-form-label-sm">Susut nilai semasa ke atas harta</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">24</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090024" id="F090024">
    </div>
  </div>
  <div class="col-md-12">
    <div class="well">
      <div class="note col-form-label-sm">
        KEGUNAAN PEJABAT <br> Nilai di medan 090024 mesti sama dengan medan 040403 (Soalan 4)
      </div>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.26</div>
  <div class="col-md-8 col-form-label-sm">Taksiran (ke atas tanah dan bangunan) dan cukai tanah</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">30</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090030" id="F090030">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.27</div>
  <div class="col-md-11 col-form-label-sm">Cukai tidak langsung dan lesen kerajaan seperti:</div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-7 col-form-label-sm">Duti hiburan</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">62</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090062" id="F090062">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-7 col-form-label-sm">Cukai jalan</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">31</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090031" id="F090031">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(c)</div>
  <div class="col-md-7 col-form-label-sm">Bayaran pendaftaran perniagaan, lesen memandu, duti setem dsb.</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">32</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090032" id="F090032">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.28</div>
  <div class="col-md-8 col-form-label-sm">CBP pada pembelian bersih yang tidak boleh dituntut sebagai cukai input</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">33</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090033" id="F090033">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.29</div>
  <div class="col-md-8 col-form-label-sm">Perbelanjaan operasi lain (Sila nyatakan)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">35</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090035" id="F090035">
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="form-group">
      <textarea name="L090035" id="L090035" class="form-control form-control-sm"></textarea>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.30</div>
  <div class="col-md-8 col-form-label-sm">Perbelanjaan bukan operasi</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">34</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090034" id="F090034">
    </div>
  </div>
  <div class="col-md-12">
    <div class="well">
      <div class="note col-form-label-sm">
        Termasuk <br> Kerugian daripada pertukaran wang asing/ aset kewangan, keruigian daripada jualan/ penilaian semula harta, hutang lapuk dihapuskan, pindahan semasa seperti pindahan wang, hadiah, derma, denda, dsb.
      </div>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.31</div>
  <div class="col-md-8 col-form-label-sm">Lain-lain perbelanjaan bukan operasi (Sila nyatakan)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">79</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090079" id="F090079">
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="form-group">
      <textarea name="L090079" id="L090079" class="form-control form-control-sm"></textarea>
    </div>
  </div>
</div>
<hr> 

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.32</div>
  <div class="col-md-11 col-form-label-sm">Kos pekerjaan:</div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-7 col-form-label-sm">Gaji & upah dibayar</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">36</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090036" id="F090036">
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="well">
      <div class="note col-form-label-sm">
        Termasuk perkaran-perkara seperti: <br> Gaji & upah (termasuk bayaran lebih masa), elaun, bonus, komisen;
        <br> Gaji pengarah, elaun, yuran, bonus dan komisen untuk pengarah yang bekerja
      </div>
    </div>
    <div class="well">
      <div class="note col-form-label-sm">
        KEGUNAA PEJABAT <br> Nilai di medan 090036 mesti sama dengan jumlah medan 050899 (Soalan 5A) dan medan 051799 (Soalan 5B)
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-7 col-form-label-sm">Bayaran pampasan, persaraan/ pemberhentian kepada pekerja</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">37</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090037" id="F090037">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(c)</div>
  <div class="col-md-10 col-form-label-sm">Bayaran berbentuk manfaat kepada pekerja</div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1 col-form-label-sm">(i)</div>
  <div class="col-md-6 col-form-label-sm">Rawatan perubatan percuma</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">38</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090038" id="F090038">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1 col-form-label-sm">(ii)</div>
  <div class="col-md-6 col-form-label-sm">Lain-lain (cth. makanan percuma, tempat tinggal percuma dsb.)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">39</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090039" id="F090039">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(d)</div>
  <div class="col-md-10 col-form-label-sm">Caruman majikan kepada:</div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1 col-form-label-sm">(i)</div>
  <div class="col-md-6 col-form-label-sm">Kumpulan Wang Simpanan Pekerja (KWSP)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">40</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090040" id="F090040">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1 col-form-label-sm">(ii)</div>
  <div class="col-md-6 col-form-label-sm">Kumpulan Wang Simpanan Lain</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">41</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090041" id="F090041">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1 col-form-label-sm">(iii)</div>
  <div class="col-md-6 col-form-label-sm">Pertubuhan Keselamatan Sosial (PERKESO)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">42</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090042" id="F090042">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1 col-form-label-sm">(iv)</div>
  <div class="col-md-6 col-form-label-sm">Skim keselamatan sosial persendirian (cth. insurans pampasan pekerja</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">43</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090043" id="F090043">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-1 col-form-label-sm">(v)</div>
  <div class="col-md-6 col-form-label-sm">Skim bayaran pampasan, persaraan / pemberhentian</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">44</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090044" id="F090044">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(e)</div>
  <div class="col-md-7 col-form-label-sm">Bayaran kepada pengarah tidak bekerja kerana kehadiran mereka dalam mesyuarat Lembaga Pengarah</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">45</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090045" id="F090045">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(f)</div>
  <div class="col-md-7 col-form-label-sm">Nilai pakaian percuma yang disediakan</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">46</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090046" id="F090046">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(g)</div>
  <div class="col-md-7 col-form-label-sm">Kos latihan kepada pekerja</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">47</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090047" id="F090047">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(h)</div>
  <div class="col-md-7 col-form-label-sm">Kos pengangkutan pekerja (pergi dan balik dari tempat kerja)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">48</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090048" id="F090048">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(i)</div>
  <div class="col-md-7 col-form-label-sm">Bayaran levi pekerja</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">49</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090049" id="F090049">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(j)</div>
  <div class="col-md-7 col-form-label-sm">Perbelanjaan pembayaran berasaskan saham kepada pekerja (termasuk saham & pilihan saham)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">50</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090050" id="F090050">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(k)</div>
  <div class="col-md-7 col-form-label-sm">Lain-lain kos pekerjaan (sila nyatakan):</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">51</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090051" id="F090051">
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="form-group">
      <textarea name="L090051" id="L090051" class="form-control form-control-sm"></textarea>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.33</div>
  <div class="col-md-8 col-form-label-sm">Bayaran kepada pertubuhan lain yang membekalkan pekerja</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">52</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090052" id="F090052">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.34</div>
  <div class="col-md-8 col-form-label-sm">Jumlah perbelanjaan (9.1 hingga 9.33)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">89</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090089" id="F090089">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.35</div>
  <div class="col-md-8 col-form-label-sm">Pindaan modal yang dibuat</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">53</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090053" id="F090053">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.36</div>
  <div class="col-md-8 col-form-label-sm">Bayaran bagi pajakan kewangan</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">54</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090054" id="F090054">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.37</div>
  <div class="col-md-8 col-form-label-sm">Dividen dibayar</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">55</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090055" id="F090055">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.38</div>
  <div class="col-md-8 col-form-label-sm">Cukai langsung dibayar (cth. cukai syarikat)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">56</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090056" id="F090056">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">9.39</div>
  <div class="col-md-8 col-form-label-sm">JUMLAH BESAR (9.34 hingga 9.38)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">99</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F090099" id="F090099">
    </div>
  </div>
</div>
<hr>
