<table class="font14" style="width: 100%;">
  <tbody>
  <tr>
    <td style="width: 1%;">{{ num }}</td>
    <td colspan="5">
      Berapa peratus daripada pendapatan pertubuhan ini dihasilkan oleh aktiviti utama ini?
    </td>
    <td style="width: 1%;" class="fnum"  style="float: right;">0100</td>
  </tr>
  <tr>
    <td></td>
    <td style="width: 1%;">(a)</td>
    <td colspan="3">Aktiviti utama</td>
    <td style="width: 1%;" class="fnum">31</td>
    <td style="width: 10%;"><input type="text" class="form-control form-control-sm"></td>
    <td style="width: 1%;">(%)</td>
  </tr>
  <tr>
    <td></td>
    <td valign="top">(b)</td>
    <td colspan="2">Aktiviti sekunder, sila nyatakan: <br><textarea class="form-control form-control-sm"></textarea></td>
    <td><span class="fnum">010033</span></td>
    <td class="fnum">32</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td>(%)</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td colspan="4">Jumlah</td>
    <td><input type="text" class="form-control form-control-sm text-center" value="100" disabled></td>
    <td>(%)</td>
  </tr>
  </tbody>
</table>
