<div class="row">
  <div class="col-md-4 text-center">
  </div>

  <div class="col-md-4 text-center">
    <label class="col-form-label col-form-label-sm"> Stok awal<br> RM </label>
    <label class="fnum" style="float: right; padding-top: 25px; color: blue;">1001</label>
  </div>

  <div class="col-md-4 text-center">
    <label class="fnum" style="float: right; padding-top: 25px; color: blue;">1002</label>
    <label class="col-form-label col-form-label-sm"> Stok akhir<br> RM </label>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="col-form-label col-form-label-sm">(a) Bahan mentah, bahan binaan, pembakar, bekalan dan bahan pembungkus</label>
  </div>
  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">01</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">01</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <label class="col-form-label col-form-label-sm">(b) Stok pertanian</label>
  </div>
  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">05</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">05</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <label class="col-form-label col-form-label-sm">(c) Barang dalam proses</label>
  </div>
  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">02</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">02</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <label class="col-form-label col-form-label-sm">(d) Stok barang siap (dibuat sendiri)</label>
  </div>
  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">03</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">03</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <label class="col-form-label col-form-label-sm">(e) Barang yang dibeli untuk dijual semula (stok perniagaan)</label>
  </div>
  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">04</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">04</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <label class="col-form-label col-form-label-sm">(f) JUMLAH (a hingga e)</label>
  </div>
  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">09</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">09</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
</div>
