<div class="form-group row well">
  <label class="col-md-3 col-form-label col-form-label-sm" for="F030012">Kegunaan Pejabat</label>
  <div class="input-group col-md-5">
      <select class="form-control form-control-sm" id="F030012" name="F030012">
        <option *ngFor="let row of negara" value="row.id">{{ row.code_no }} - {{ row.name }}</option>
      </select>
      <span class="fnum mt-2 ml-2">030012</span>
  </div>
</div>

