<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm" for="F010028">
      {{ text }}
    </label>
    <div class="input-group">
      <textarea name="F010028" id="F010028" class="form-control form-control-sm"></textarea>
      <span class="fnum mt-2 ml-2">010028</span>
    </div>
  </div>
</div>
