<div class="form-group row">
  <label class="col-md-1">7.5</label>
  <div class="col-md-11">
    <label>Sijil</label>
  </div>
</div>
<div class="form-group">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">(a) Akademik</div>
      <div class="col-md-3">
        <span class="field_number">060799</span>
        <input type="text" class="form-control" id="F060799" name="F060799">
      </div>
      <div class="col-md-3">
        <span class="field_number">062099</span>
        <input type="text" class="form-control" id="F062099" name="F062099">
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        (b) Sijil Kemahiran (TVET)
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5 indent">(i) Sijil Kemahiran Malaysia Tahap 3</div>
      <div class="col-md-3">
        <span class="field_number">060899</span>
        <input type="text" class="form-control" id="F060899" name="F060899">
      </div>
      <div class="col-md-3">
        <span class="field_number">062199</span>
        <input type="text" class="form-control" id="F062199" name="F062199">
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5 indent">(ii) Sijil Kemahiran Malaysia Tahap 1 & 2</div>
      <div class="col-md-3">
        <span class="field_number">060999</span>
        <input type="text" class="form-control" id="F060999" name="F060999">
      </div>
      <div class="col-md-3">
        <span class="field_number">062299</span>
        <input type="text" class="form-control" id="F062299" name="F062299">
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5 indent">(iii) Sijil Kemahiran Lain</div>
      <div class="col-md-3">
        <span class="field_number">061099</span>
        <input type="text" class="form-control" id="F061099" name="F061099">
      </div>
      <div class="col-md-3">
        <span class="field_number">062399</span>
        <input type="text" class="form-control" id="F062399" name="F062399">
      </div>
    </div>
</div>
