<div class="form-group row">
  <label class="col-md-1">{{ num }}</label>
  <div class="col-md-11">
    <label>{{ text }}</label>
  </div>
</div>
<div class="form-group">
    <div class="row" *ngFor="let row of array">
      <div class="col-md-1"></div>
      <div class="col-md-5" [innerHtml]="row.text"></div>
      <div class="col-md-3">
        <span class="field_number">{{ row.fnum1 }}</span>
        <input type="text" class="form-control" id="F{{row.fnum1}}" name="F{{row.fnum1}}">
      </div>
      <div class="col-md-3">
        <span class="field_number">{{ row.fnum2 }}</span>
        <input type="text" class="form-control" id="F{{row.fnum2}}" name="F{{row.fnum2}}">
      </div>
    </div>
</div>
