<div class="scroller">
  <table class="table-bordered font14">
    <thead class="text-center">
    <tr>
      <th rowspan="4" colspan="5">Kategori Pekerja / Jawatan (Perempuan)</th>
      <th colspan="7">Bilangan pekerja yang dibayar oleh pertubuhan ini pada Disember 2017 atau pada tempoh gaji terakhir</th>
      <th rowspan="3">Gaji & Upah Tahunan *</th>
      <th rowspan="3">Bilangan pekerja yang dibekalkan oleh pertubuhan lain pada Disember 2017 atau pada tempoh gaji berakhir</th>
    </tr>
    <tr>
      <th colspan="5">Warganegara Malaysia</th>
      <th rowspan="2">Bukan Warganegara Malaysia</th>
      <th rowspan="2">Jumlah</th>
    </tr>
    <tr>
      <th>Melayu</th>
      <th>Bumiputera lain</th>
      <th>Cina</th>
      <th>India</th>
      <th>Lain-lain</th>
    </tr>
    <tr class="fnum">
      <td>0510</td>
      <td>0511</td>
      <td>0512</td>
      <td>0513</td>
      <td>0514</td>
      <td>0515</td>
      <td>0516</td>
      <td>0517</td>
      <td>0518</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th valign="top">5.1</th>
      <th colspan="3">Pemilik yang bekerja dan rakan niaga yang aktif</th>
      <td class="text-center fnum">01</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm" disabled></td>
      <td><input type="text" class="form-control form-control-sm" disabled></td>
    </tr>
    <tr>
      <th valign="top">5.2</th>
      <th colspan="3">Pekerja keluarga tidak bergaji (semua ahli keluarga dan rakan yang tidak menerima upah yang tetap)</th>
      <td class="text-center fnum">02</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm" disabled></td>
      <td><input type="text" class="form-control form-control-sm" disabled></td>
    </tr>
    <tr>
      <th valign="top">5.3</th>
      <th colspan="3">Pekerja bergaji (sepenuh masa):</th>
      <td colspan="10"></td>
    </tr>
    <tr>
      <th></th>
      <th>5.3.1</th>
      <th colspan="2">Pengurus</th>
      <td class="text-center fnum">03</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th>5.3.2</th>
      <th colspan="2">Profesional</th>
      <td colspan="10"></td>
    </tr>
    <tr>
      <th colspan="2"></th>
      <th>(a)</th>
      <th>Profesional</th>
      <td class="text-center fnum">04</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th colspan="2"></th>
      <th>(b)</th>
      <th>Penyelidik</th>
      <td class="text-center fnum">05</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th valign="top">5.3.3</th>
      <th colspan="2">Juruteknik dan Profesional Bersekutu</th>
      <td class="text-center fnum">06</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th valign="top">5.3.4</th>
      <th colspan="2">Pekerja Sokongan Perkeranian</th>
      <td class="text-center fnum">07</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th valign="top">5.3.5</th>
      <th colspan="2">Pekerja Perkhidmatan dan Jualan</th>
      <td class="text-center fnum">08</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th valign="top">5.3.6</th>
      <th colspan="2">Pekerja Kemahiran dan Pekerja Pertukangan yang berkaitan</th>
      <td class="text-center fnum">09</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th valign="top">5.3.7</th>
      <th colspan="2">Operator Mesin & Loji dan Pemasang</th>
      <td class="text-center fnum">16</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th>5.3.8</th>
      <th colspan="2">Pekerja Asas</th>
      <td class="text-center fnum">12</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th></th>
      <th valign="top">5.3.9</th>
      <th colspan="2">Jumlah pekerja bergaji (sepenuh masa)(5.3.1 hingga 5.3.8)</th>
      <td class="text-center fnum">89</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <th valign="top">5.4</th>
      <th colspan="3">Pekerja bergaji (sambilan)</th>
      <td class="text-center fnum">13</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm" disabled></td>
    </tr>
    <tr>
      <th valign="top">5.5</th>
      <th colspan="3">JUMLAH (5.1 + 5.2 + 5.3.9 + 5.4)</th>
      <td class="text-center fnum">99</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="note">
  * Gaji & upah kasar, bonus dan elaun lain yang dibayar kepada pekerja (termasuk upah lebih masa). Masukkan
  semua pembayaran yang dibuat kepada semua pekerja dalam tahun 2017, sama ada mereka masih di dalam daftar gaji
  Disember 2017 atau pada tempoh gaji akhir 2017.
</div>
