<!--<ngb-tabset type="pills" [orientation]="currentOrientation" [justify]="currentJustify">
  <ngb-tab title="Pengakuan">
    <ng-template ngbTabContent>
      <app-pengakuan></app-pengakuan>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Soalan 1">
    <ng-template ngbTabContent>
      <app-ictec-soalan-satu></app-ictec-soalan-satu>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Soalan 2">
    <ng-template ngbTabContent>
      <app-ictec-soalan-dua></app-ictec-soalan-dua>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Soalan 3">
    <ng-template ngbTabContent>
      <app-ictec-soalan-tiga></app-ictec-soalan-tiga>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Soalan 4A">
    <ng-template ngbTabContent>
      <app-ictec-soalan-empat-a></app-ictec-soalan-empat-a>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Soalan 4B">
    <ng-template ngbTabContent>
      <app-ictec-soalan-empat-b></app-ictec-soalan-empat-b>
    </ng-template>
  </ngb-tab>
</ngb-tabset>-->
<div class="d-flex flex-row mt-2">
	<ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left nav-tabs--custom" role="navigation">
		<!--<li class="nav-item">
			<a href="#pengakuan" class="nav-link" data-toggle="tab" role="tab" >Pengakuan</a>
		</li>-->
      <li class="nav-item" *ngIf="id === 11">
        <a href="#soalan-test-bank-soalan" class="nav-link" data-toggle="tab" role="tab">Test Bank Soalan</a>
      </li>
      <li class="nav-item" *ngIf="id === 1">
        <a href="#soalan-satu-ictec" class="nav-link" data-toggle="tab" role="tab">Soalan 1</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-satu-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 1</a>
      </li>
      <li class="nav-item" *ngIf="id === 1">
        <a href="#soalan-dua-ictec" class="nav-link" data-toggle="tab" role="tab">Soalan 2</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-dua-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 2</a>
      </li>
      <li class="nav-item" *ngIf="id === 1">
        <a href="#soalan-tiga-ictec" class="nav-link" data-toggle="tab" role="tab">Soalan 3</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-tiga-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 3</a>
      </li>
      <li class="nav-item" *ngIf="id === 1">
        <a href="#soalan-empat-a-ictec" class="nav-link" data-toggle="tab" role="tab">Soalan 4A</a>
      </li>
      <li class="nav-item" *ngIf="id === 1">
        <a href="#soalan-empat-b-ictec" class="nav-link" data-toggle="tab" role="tab">Soalan 4B</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-empat-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 4</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-lima-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 5</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-enam-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 6</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-tujuh-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 7</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-lapan-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 8</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-sembilan-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 9</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-sepuluh-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 10</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-sebelas-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 11</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-duabelas-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 12</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-tigabelas-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 13</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-empatbelas-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 14</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-limabelas-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 15</a>
      </li>
      <li class="nav-item" *ngIf="(id === 7 || id === 8 || id === 9 || id === 10) && borang === 1">
        <a href="#soalan-enambelas-umum" class="nav-link" data-toggle="tab" role="tab">Soalan 16</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-satu-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 1</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-dua-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 2</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-tiga-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 3</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-empat-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 4</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-lima-a-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 5A</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-lima-b-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 5B</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-enam-a-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 6A</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-enam-b-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 6B</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-tujuh-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 7</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-lapan-satu-a-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 8.1A</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-lapan-satu-b-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 8.1B</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-lapan-satu-c-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 8.1C</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-lapan-satu-d-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 8.1D</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-lapan-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 8</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-sembilan-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 9</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-sepuluh-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 10</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-sebelas-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 11</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#soalan-duabelas-mk" class="nav-link" data-toggle="tab" role="tab">Soalan 12</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#daya-saing-mk" class="nav-link" data-toggle="tab" role="tab">Daya Saing</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#seksyen-a1-mk" class="nav-link" data-toggle="tab" role="tab">Seksyen A 1</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#seksyen-a2-mk" class="nav-link" data-toggle="tab" role="tab">Seksyen A 2</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#seksyen-b-mk" class="nav-link" data-toggle="tab" role="tab">Seksyen B</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#seksyen-c-mk" class="nav-link" data-toggle="tab" role="tab">Seksyen C</a>
      </li>
      <li class="nav-item" *ngIf="id === 3 || id === 4 || id === 5 || id === 6">
        <a href="#seksyen-d-mk" class="nav-link" data-toggle="tab" role="tab">Seksyen D</a>
      </li>
	</ul>
	<div class="tab-content" style="width: 100%">
		<!--<div class="tab-pane fade show active" id="pengakuan" role="tabpanel">
			<h4>PENGAKUAN</h4>
      <app-pengakuan></app-pengakuan>
    </div>-->
		<div class="tab-pane fade show" [ngClass]="active_test" id="soalan-test-bank-soalan" role="tabpanel">
      <h4>TEST BANK SOALAN</h4>
      <app-bank-soalan></app-bank-soalan>
    </div>
		<div class="tab-pane fade show" [ngClass]="active_ictec" id="soalan-satu-ictec" role="tabpanel">
      <div class="">
        <h4>1. MAKLUMAT PENGENALAN</h4>
        <app-ictec-soalan-satu></app-ictec-soalan-satu>
      </div>
    </div>
		<div class="tab-pane fade show" id="soalan-dua-ictec" role="tabpanel">
			<h4>2. TARAF SAH ORGANISASI</h4>
      <app-ictec-soalan-dua></app-ictec-soalan-dua>
		</div>
		<div class="tab-pane fade show" id="soalan-tiga-ictec" role="tabpanel">
			<h4>3. DANA PEMEGANG SAHAM DAN STRUKTUR HAK MILIK</h4>
      <app-ictec-soalan-tiga></app-ictec-soalan-tiga>
		</div>
		<div class="tab-pane fade show" id="soalan-empat-a-ictec" role="tabpanel">
			<h4>4. MODUL PENGGUNAAN ICT DAN e-DAGANG</h4>
      <h5>Bahagian: A Penggunaan Teknologi Maklumat dan Komunikasi (TMK)</h5>
      <app-ictec-soalan-empat-a></app-ictec-soalan-empat-a>
		</div>
		<div class="tab-pane fade show" id="soalan-empat-b-ictec" role="tabpanel">
			<h4>4. MODUL PENGGUNAAN ICT DAN e-DAGANG</h4>
      <h5>Bahagian: B Perkhidmatan atas talian dan transaksi e-Dagang</h5>
      <app-ictec-soalan-empat-b></app-ictec-soalan-empat-b>
		</div>
		<div class="tab-pane fade show" [ngClass]="active_umum" id="soalan-satu-umum" role="tabpanel">
			<h4>1. MAKLUMAT PENGENALAN</h4>
      <app-umum-soalan-satu></app-umum-soalan-satu>
    </div>
		<div class="tab-pane fade show" id="soalan-dua-umum" role="tabpanel">
			<h4>2. TARAF SAH ORGANISASI</h4>
      <app-umum-soalan-dua></app-umum-soalan-dua>
    </div>
		<div class="tab-pane fade show" id="soalan-tiga-umum" role="tabpanel">
			<h4>3. DANA PEMEGANG SAHAM DAN STRUKTUR HAK MILIK</h4>
      <app-umum-soalan-tiga></app-umum-soalan-tiga>
    </div>
		<div class="tab-pane fade show" id="soalan-empat-umum" role="tabpanel">
      <h4>4. PERBELANJAAN MODAL DAN NILAI HARTA (RM) (Tidak termasuk CBP)</h4>
      <app-umum-soalan-empat></app-umum-soalan-empat>
    </div>
		<div class="tab-pane fade show" id="soalan-lima-umum" role="tabpanel">
      <h4>5. PEKERJA DAN GAJI & UPAH</h4>
      <app-umum-soalan-lima></app-umum-soalan-lima>
    </div>
		<div class="tab-pane fade show" id="soalan-enam-umum" role="tabpanel">
      <h4>6. JAM-BEKERJA PADA TAHUN RUJUKAN</h4>
      <app-umum-soalan-enam></app-umum-soalan-enam>
    </div>
		<div class="tab-pane fade show" id="soalan-tujuh-umum" role="tabpanel">
      <h4>7. BILANGAN PEKERJA MENGIKUT KELULUSAN</h4>
      <app-umum-soalan-tujuh></app-umum-soalan-tujuh>
    </div>
		<div class="tab-pane fade show" id="soalan-lapan-umum" role="tabpanel">
      <h4>8. PEROLEHAN / PENDAPATAN (Tidak termasuk CBP)</h4>
      <app-umum-soalan-lapan></app-umum-soalan-lapan>
    </div>
		<div class="tab-pane fade show" id="soalan-sembilan-umum" role="tabpanel">
      <h4>9. PERBELANJAAN (Tidak termasuk CBP)</h4>
      <app-umum-soalan-sembilan></app-umum-soalan-sembilan>
    </div>
		<div class="tab-pane fade show" id="soalan-sepuluh-umum" role="tabpanel">
      <h4>10. NILAI STOK (Tidak termasuk CBP)</h4>
      <app-umum-soalan-sepuluh></app-umum-soalan-sepuluh>
    </div>
		<div class="tab-pane fade show" id="soalan-sebelas-umum" role="tabpanel">
      <h4>11. MODUL PENGGUNAAN ICT DAN e-DAGANG</h4>
      <app-umum-soalan-sebelas></app-umum-soalan-sebelas>
    </div>
		<div class="tab-pane fade show" id="soalan-duabelas-umum" role="tabpanel">
      <h4>12. IMPORT DAN EKSPORT</h4>
      <app-umum-soalan-duabelas></app-umum-soalan-duabelas>
    </div>
		<div class="tab-pane fade show" id="soalan-tigabelas-umum" role="tabpanel">
      <h4>13. INOVASI DAN PENYELIDIKAN & PEMBANGUNAN</h4>
      <app-umum-soalan-tigabelas></app-umum-soalan-tigabelas>
    </div>
		<div class="tab-pane fade show" id="soalan-empatbelas-umum" role="tabpanel">
      <h4>14. PERBELANJAAN PERLINDUNGAN ALAM SEKITAR (TIDAK TERMASUK CBP</h4>
      <app-umum-soalan-empatbelas></app-umum-soalan-empatbelas>
    </div>
		<div class="tab-pane fade show" id="soalan-limabelas-umum" role="tabpanel">
      <h4>15. KAPASITI PENGGUNAAN</h4>
      <app-umum-soalan-limabelas></app-umum-soalan-limabelas>
    </div>
		<div class="tab-pane fade show" id="soalan-enambelas-umum" role="tabpanel">
      <h4>16. PENGELUARAN DAN JUALAN (Tidak termasuk CBP)</h4>
      <app-umum-soalan-enambelas></app-umum-soalan-enambelas>
    </div>
		<div class="tab-pane fade show" [ngClass]="active_mk" id="soalan-satu-mk" role="tabpanel">
			<h4>1. MAKLUMAT PENGENALAN</h4>
      <app-mk-soalan-satu></app-mk-soalan-satu>
    </div>
		<div class="tab-pane fade show" id="soalan-dua-mk" role="tabpanel">
			<h4>2. TARAF SAH ORGANISASI</h4>
      <app-mk-soalan-dua></app-mk-soalan-dua>
    </div>
		<div class="tab-pane fade show" id="soalan-tiga-mk" role="tabpanel">
			<h4>3. DANA PEMEGANG SAHAM DAN STRUKTUR HAK MILIK</h4>
      <app-mk-soalan-tiga></app-mk-soalan-tiga>
    </div>
		<div class="tab-pane fade show" id="soalan-empat-mk" role="tabpanel">
			<h4>4. PERBELANJAAN MODAL DAN NILAI HARTA</h4>
      <app-mk-soalan-empat></app-mk-soalan-empat>
    </div>
		<div class="tab-pane fade show" id="soalan-lima-a-mk" role="tabpanel">
			<h4>5A. PEKERJA DAN GAJI & UPAH</h4>
      <app-mk-soalan-lima-a></app-mk-soalan-lima-a>
    </div>
		<div class="tab-pane fade show" id="soalan-lima-b-mk" role="tabpanel">
			<h4>5B. PEKERJA DAN GAJI & UPAH</h4>
      <app-mk-soalan-lima-b></app-mk-soalan-lima-b>
    </div>
		<div class="tab-pane fade show" id="soalan-enam-a-mk" role="tabpanel">
			<h4>6A. BILANGAN PEKERJA MENGIKUT KATEGORI PEKERJAAN & KELULUSAN TERTINGGI</h4>
      <app-mk-soalan-enam-a></app-mk-soalan-enam-a>
    </div>
		<div class="tab-pane fade show" id="soalan-enam-b-mk" role="tabpanel">
			<h4>6B. BILANGAN PEKERJA MENGIKUT KATEGORI PEKERJAAN & KELULUSAN TERTINGGI</h4>
      <app-mk-soalan-enam-b></app-mk-soalan-enam-b>
    </div>
		<div class="tab-pane fade show" id="soalan-tujuh-mk" role="tabpanel">
			<h4>7. JAM-BEKERJA PADA TAHUN RUJUKAN</h4>
      <app-mk-soalan-tujuh></app-mk-soalan-tujuh>
    </div>
		<div class="tab-pane fade show" id="soalan-lapan-satu-a-mk" role="tabpanel">
      <h4>8. PEROLEHAN / PENDAPATAN (Tidak termasuk CBP)</h4>
      <h5>8.1A: SURVEI 310</h5>
      <h5>AKTIVITI WAYANG GAMBAR, VIDEO & PROGRAM TELEVISYEN, RAKAMAN BUNYI DAN AKTIVITI PENYIARAN</h5>
      <app-mk-soalan-lapan-satu-a></app-mk-soalan-lapan-satu-a>
    </div>
		<div class="tab-pane fade show" id="soalan-lapan-satu-b-mk" role="tabpanel">
      <h4>8. PEROLEHAN / PENDAPATAN (Tidak termasuk CBP)</h4>
      <h5>8.1B: SURVEI 319</h5>
      <h5>PERKHIDMATAN TELEKOMUNIKASI</h5>
      <app-mk-soalan-lapan-satu-b></app-mk-soalan-lapan-satu-b>
    </div>
		<div class="tab-pane fade show" id="soalan-lapan-satu-c-mk" role="tabpanel">
      <h4>8. PEROLEHAN / PENDAPATAN (Tidak termasuk CBP)</h4>
      <h5>8.1C: SURVEI 320</h5>
      <h5>PERKHIDMATAN KOMPUTER DAN MAKLUMAT</h5>
      <app-mk-soalan-lapan-satu-c></app-mk-soalan-lapan-satu-c>
    </div>
		<div class="tab-pane fade show" id="soalan-lapan-satu-d-mk" role="tabpanel">
      <h4>8. PEROLEHAN / PENDAPATAN (Tidak termasuk CBP)</h4>
      <h5>8.1D: SURVEI 330</h5>
      <h5>AKTIVITI PENERBITAN</h5>
      <app-mk-soalan-lapan-satu-d></app-mk-soalan-lapan-satu-d>
    </div>
		<div class="tab-pane fade show" id="soalan-lapan-mk" role="tabpanel">
			<h4>8. PEROLEHAN / PENDAPATAN (Tidak termasuk CBP)</h4>
      <app-mk-soalan-lapan></app-mk-soalan-lapan>
    </div>
		<div class="tab-pane fade show" id="soalan-sembilan-mk" role="tabpanel">
			<h4>9. PERBELANJAAN (Tidak termasuk CBP)</h4>
      <app-mk-soalan-sembilan></app-mk-soalan-sembilan>
    </div>
		<div class="tab-pane fade show" id="soalan-sepuluh-mk" role="tabpanel">
			<h4>10. NILAI STOK (Tidak termasuk CBP)</h4>
      <app-mk-soalan-sepuluh></app-mk-soalan-sepuluh>
    </div>
		<div class="tab-pane fade show" id="soalan-sebelas-mk" role="tabpanel">
			<h4>11. KEUNTUNGAN / KERUGIAN SEBELUM CUKAI</h4>
      <app-mk-soalan-sebelas></app-mk-soalan-sebelas>
    </div>
		<div class="tab-pane fade show" id="soalan-duabelas-mk" role="tabpanel">
			<h4>12. MAKLUMAT TAMBAHAN KE ATAS IBU PEJABAT / CAWANGAN</h4>
      <app-mk-soalan-duabelas></app-mk-soalan-duabelas>
    </div>
		<div class="tab-pane fade show" id="daya-saing-mk" role="tabpanel">
			<h4>DAYA SAING</h4>
      <app-mk-daya-saing></app-mk-daya-saing>
    </div>
		<div class="tab-pane fade show" id="seksyen-a1-mk" role="tabpanel">
			<h4>SEKSYEN A: MODUL PENGGUNAAN ICT DAN e-DAGANG</h4>
      <h5>Bahagian 1: Penggunaan Teknologi Maklumat dan Komunikasi (TMK)</h5>
      <app-mk-seksyen-a-satu></app-mk-seksyen-a-satu>
    </div>
		<div class="tab-pane fade show" id="seksyen-a2-mk" role="tabpanel">
			<h4>SEKSYEN A: MODUL PENGGUNAAN ICT DAN e-DAGANG</h4>
			<h5>Bahagian 2: Perkhidmatan atas talian dan transaksi e-Dagang</h5>
      <app-mk-seksyen-a-dua></app-mk-seksyen-a-dua>
    </div>
		<div class="tab-pane fade show" id="seksyen-b-mk" role="tabpanel">
			<h4>SEKSYEN B: IMPORT DAN EKSPORT</h4>
      <app-mk-seksyen-b></app-mk-seksyen-b>
    </div>
		<div class="tab-pane fade show" id="seksyen-c-mk" role="tabpanel">
			<h4>SEKSYEN C: INOVASI DAN PENYELIDIKAN & PEMBANGUNAN</h4>
      <app-mk-seksyen-c></app-mk-seksyen-c>
    </div>
		<div class="tab-pane fade show" id="seksyen-d-mk" role="tabpanel">
      <h4>SEKSYEN D: PERBELANJAAN PERLINDUNGAN ALAM SEKITAR (Tidak termasuk CBP)</h4>
      <app-mk-seksyen-d></app-mk-seksyen-d>
    </div>
	</div>
</div>
