<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">Sila tandakan jenis taraf sah organisasi dalam satu kotak sahaja</label>
    <br>
    <label class="fnum">020001</label>
    <div *ngFor="let row of array" class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="F020001" id="F020001{{ row.last }}" value="{{ row.last }}">
          <span class="fnum">{{ row.last }}</span> {{ row.text }}
        </label>
    </div>
    <div class="well">
      <div class="note">Nota:<br>Bagi yang menjawab Soalan 2.1 (e), (f), (g) atau (h) sila ke Soalan 3</div>
    </div>
  </div>
</div>