<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">
      Adakah pertubuhan tuan terlibat dengan perkhidmatan atas talian dan / atau transaksi e-Dagang
      bagi tahun rujukan 2016?
    </label>
    <br>
    <label class="fnum">310076</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310076" id="F3100761" value="1">
        <span class="fnum">1</span> Ya
        <span class=" ml-2 well note">
            Jika YA, sila ke Soalan {{ num2 }}
        </span>
      </label>
    </div>
    <br>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310076" id="F3100762" value="2">
        <span class="fnum">2</span> Tidak
        <span class=" ml-2 well note">
            Jika TIDAK, TAMAT di sini
        </span>
      </label>
    </div>
  </div>
</div>