<label>3.1 Struktur Hak Milik</label>
<br>
<label>Sila laporkan hak milik pertubuhan berdasarkan modal berbayar seperti pada 31 Disember 2017:</label>
<app-nota-multiple
  [text]="'Nota: Definisi residen Malaysia dan bukan residen Malaysia'"
  [array]="arr3_1nota"
  >
</app-nota-multiple>

<table style="width: 100%;">
  <tr>
    <td>3.1.1</td>
    <td colspan="3">Dipegang secara langsung oleh residen Malaysia</td>
    <td class="text-center">Peratus (%)</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td style="width: 10%;">3.1.1.1</td>
    <td colspan="4">Individu</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td style="width: 1%;">(a)</td>
    <td colspan="3">Bumiputera</td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>(i) Melayu</td>
    <td style="width: 10%;"><input type="text" class="form-control"></td>
    <td class="field_number text-center">030003</td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>(ii) Bumiputera Lain</td>
    <td><input type="text" class="form-control"></td>
    <td class="field_number text-center">030004</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td>(b)</td>
    <td>Cina</td>
    <td><input type="text" class="form-control"></td>
    <td class="field_number text-center">030005</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td>(c)</td>
    <td>India</td>
    <td><input type="text" class="form-control"></td>
    <td class="field_number text-center">030006</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td>(d)</td>
    <td>Lain-lain</td>
    <td><input type="text" class="form-control"></td>
    <td class="field_number text-center">030007</td>
  </tr>
  <tr>
    <td></td>
    <td>3.1.1.2</td>
    <td colspan="4">Institusi / Syarikat</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td>(a)</td>
    <td>Bumiputera</td>
    <td><input type="text" class="form-control"></td>
    <td class="field_number text-center">030008</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td>(b)</td>
    <td>Bukan Bumiputera</td>
    <td><input type="text" class="form-control"></td>
    <td class="field_number text-center">030009</td>
  </tr>
  <tr>
    <td>3.1.2</td>
    <td colspan="3">Dipegang secara langsung oleh Agensi Kerajaan Persekutuan, Negeri dan Tempatan</td>
    <td><input type="text" class="form-control"></td>
    <td class="field_number text-center">030010</td>
  </tr>
  <tr>
    <td>3.1.3</td>
    <td colspan="3">Dipegang secara langsung oleh bukan residen Malaysia</td>
    <td><input type="text" class="form-control"></td>
    <td class="field_number text-center">030011</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3">JUMLAH</td>
    <td class="text-center"><input type="text" class="form-control" value="100" readonly></td>
    <td></td>
  </tr>
</table>
