<div class="well">
  <label class=" col-form-label col-form-label-sm">Kegunaan Pejabat</label>
  <div class="form-group row">
      <label for="F010029" class="col-md-9 col-form-label col-form-label-sm">(a) Kod Industri (semasa mel)</label>
      <div class="input-group col-md-3">
        <input type="text" class="form-control form-control-sm" name="F010029" id="F010029">
        <span class="fnum mt-2 ml-2">010029</span>
      </div>
  </div>
  <div class="form-group row">
      <label for="F010030" class="col-md-9 col-form-label col-form-label-sm">(b) Kod Industri Semasa (mengikut produk utama tahun rujukan)</label>
      <div class="input-group col-md-3">
        <input type="text" class="form-control form-control-sm" name="F010030" id="F010030">
        <span class="fnum mt-2 ml-2">010030</span>
      </div>
  </div>
</div>
