<div class="row">
  <div class="col-md-9">
    <label class="col-form-label col-form-label-sm">Sila nyatakan pendapatan pertubuhan tuan</label>
  </div>
  <div class="col-md-3 text-center">
    <label class="col-form-label col-form-label-sm">Nilai/RM</label>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">(a)</label>
  <label class="col-md-8 col-form-label col-form-label-sm">Hasilkan kendalian / perolehan / jualan / nilai kerja pembinaan
  </label>
  <div class="input-group mb-3 col-md-3">
    <input type="text" class="form-control form-control-sm" name="F080001" id="F080001">
    <span class="fnum ml-2">080001</span>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">(b)</label>
  <label class="col-md-8 col-form-label col-form-label-sm">Nilai jualan (barang / bahan yang dibeli untuk dijual semula tanpa melalui proses selanjutnya)
  </label>
  <div class="input-group mb-3 col-md-3">
    <input type="text" class="form-control form-control-sm" name="F080007" id="F080007">
    <span class="fnum ml-2">080007</span>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">(c)</label>
  <label class="col-md-8 col-form-label col-form-label-sm">Pendapatan
  </label>
  <div class="input-group mb-3 col-md-3">
    <input type="text" class="form-control form-control-sm" name="F080080" id="F080080">
    <span class="fnum ml-2">080080</span>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">(d)</label>
  <label class="col-md-8 col-form-label col-form-label-sm">JUMLAH PENDAPATAN (a + b + c)
  </label>
  <div class="input-group mb-3 col-md-3">
    <input type="text" class="form-control form-control-sm" name="F080099" id="F080099">
    <span class="fnum ml-2">080099</span>
  </div>
</div>

<div class="well">
  <div class="note">
    <span>Nota</span>
    <ol type="a">
      <li>* Jualan merujuk kepada jualan barang-barang, pendapatan dari perkhidmatan pembaikan, pemasangan & penyelenggraan dan pendapatan dari jualan alat ganti & aksesori.</li> <br>
      <li>Bagi Pertanian - Jualan merujuk kepada jualan daripada aktiviti pertanian dan hasil pertanian. Hasil pertanian yang dibeli untuk dijual tanpa melalui proses selanjutnya perlu di kecualikan</li> <br>
      <li>Pendapatan lain merujuk kepada pendapatan daripada sewa, komisen, yuran, dividen, subsidi, geran kerajaan, derma dan pajakan kewangan.</li>
    </ol>
  </div>
</div>
