<div class="col-md-10">
  <div class="form-group row">
    <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
    <div class="col-md-11">
      <label class="col-form-label col-form-label-sm">Adakah pertubuhan tuan mematuhi sebarang pengiktirafan tempatan dan / atau antarabangsa?(Boleh pilih lebih daripada satu)</label>
      <br>
      <label class="fnum">3300</label>
        <div *ngFor="let row of array" class="form-check">
          <div class="row">
            <div class="col-md-12">
              <label for="3300{{ row.fnum }}" class="form-check-label col-form-label col-form-label-sm">
                <input type="checkbox" class="form-check-input" id="3300{{ row.fnum }}" name="3300{{ row.fnum }}">
                <span class="fnum">{{ row.fnum }}</span> {{ row.text }}
              </label>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


