<div class="form-group row">
  <label class="col-md-1">{{ num }}</label>
  <div class="col-md-10">
    <label>{{ text }}</label>
    <input type="text" class="form-control" style="width: 300px;">
  </div>
  <div class="col-md-1">
  </div>
</div>
