<div>
  <app-page-header [heading]="'Import'"></app-page-header>
  <form>
    <fieldset>
      <legend>Borang Import</legend>

      <div class="form-group">
        <label for="kod-penyiasatan">Pilih Kod Penyiasatan</label>
        <select class="form-control" id="kod-penyiasatan" name="kod_penyiasatan">
          <option value="" selected="">Pilih Kod Penyiasatan</option>
          <option *ngFor="let row of kodPenyiasatan" value="{{ row.id }}">{{ row.code_no }} - {{ row.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Pilih Kaedah Import</label>
        <div class="custom-control custom-radio">
          <input type="radio" id="kaedah-import-terpilih" name="kaedah_import" class="custom-control-input">
          <label class="custom-control-label" for="kaedah-import-terpilih">Terpilih</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="kaedah-import-anggaran" name="kaedah_import" class="custom-control-input">
          <label class="custom-control-label" for="kaedah-import-anggaran">Anggaran</label>
        </div>
      </div>

      <div class="form-group">
        <label for="pilih-fail-import">Pilih Fail Import</label>
        <input type="file" class="form-control-file" id="pilih-fail-import" name="fail_import">
      </div>

      <button type="button" class="btn btn-success">Semak Fail</button>

      <div class="form-group">
        <label>Pilih Jenis Borang</label>
        <div class="custom-control custom-radio">
          <input type="radio" id="jenis-borang-panjang" name="jenis_borang" class="custom-control-input">
          <label class="custom-control-label" for="jenis-borang-panjang">BBU</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="jenis-borang-pendek" name="jenis_borang" class="custom-control-input">
          <label class="custom-control-label" for="jenis-borang-pendek">SBU</label>
        </div>
      </div>

      <button type="button" class="btn btn-primary">Import Fail</button>

    </fieldset>
  </form>
  
</div>