<table style="width: 100%;">
  <tr>
    <td valign="top" style="padding-right: 10px;"><label class="col-form-label col-form-label-sm">{{ num }}</label></td>
    <td colspan="4"><label class="col-form-label col-form-label-sm">Adakah pertubuhan tuan menerima sumber pembiayaan aktiviti inovasi daripada pihak berikut?
      (Boleh pilih lebih daripada satu dan nyatakan jumlahnya)</label></td>
  </tr>
  <tr class="text-center">
    <td colspan="2"></td>
    <td class="fnum">3300</td>
    <td><label class="col-form-label col-form-label-sm">Nilai (RM)</label></td>
    <td class="fnum">3300</td>
  </tr>
  <tbody>
  <tr *ngFor="let row of array">
    <td></td>
    <td><label class="col-form-label col-form-label-sm">{{ row.text }}</label></td>
    <td>
        <div class="form-check">
          <label for="3300{{ row.fnum }}" class="form-check-label col-form-label col-form-label-sm">
            <input type="checkbox" class="form-check-input" id="3300{{ row.fnum }}" name="3300{{ row.fnum }}">
            <span class="fnum">{{ row.fnum }}</span> {{ row.text }}
          </label>
        </div>
    </td>
    <td colspan="2">
      <div class="form-group" *ngIf="row.hasTextInput">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text fnum">{{ row.fnum2 }}</span>
          </div>
          <input type="text" class="form-control form-control-sm" name="F3300{{ row.fnum2 }}">
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
