<div class="wells">
  <div class="form-group row">
    <label class="col-md-2">Kegunaan Pejabat</label>
    <div class="col-md-3">
          <div class="row" *ngFor="let row of array">
            <div class="col-md-11">
              <label *ngIf="row.text">{{ row.text }}</label>
              <input type="text" class="form-control" style="width: 100px;">
            </div>
            <span class="field_number mt-2 ml-2">010015</span>
          </div>
    </div>
  </div>
</div>
