<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">
      Adakah pertubuhan tuan terlibat dengan perkhidmatan atas talian dan / atau transaksi e-Dagang?
    </label>
    <br>
    <label class="fnum">310036</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310036" id="F3100361" value="1">
        <span class="fnum">1</span> Ya
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310036" id="F3100362" value="2">
        <span class="fnum">2</span> Tidak
      </label>
    </div>
    <div class="well">
      <div class="note">
        Jika TIDAK, TAMAT di sini
      </div>
    </div>
  </div>
</div>