<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm" for="F310002">
      {{ text }}
    </label>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="input-group">
      <input class="form-control form-control-sm" type="text" name="F310002" id="F310002">
      <span class="ml-2">(%)</span>
      <span class="fnum mt-2 ml-2">310002</span>
    </div>
  </div>
</div>