img {
    width: 10%;
    height: auto;
}

.custom-animate {
    position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;
}

.nav-link {
    font-size: 16px;
}

a.dropdown-item:link {
    font-size: 16px;
}
