<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img class="img" src="assets/jatanegara.png" alt="Jata Negara">
  <a class="navbar-brand ml-3" href="#" [routerLink]="['/aes/dashboard']" [routerLinkActive]="['router-link-active']" style="font-family: Arial, Helvetica, sans-serif;">Sistem Prosesan AES</a>
  <div class="container-fluid">
    <button class="navbar-toggler" data-toggle="collapse" type="button"
            aria-controls="aesNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="aesNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/aes/dashboard']" [routerLinkActive]="['router-link-active']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/aes/import']" [routerLinkActive]="['router-link-active']">Import</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/aes/tangkapan-data']" [routerLinkActive]="['router-link-active']">Tangkapan Data</a>
        </li>-->
        <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Tangkapan Data</a>
            <div class="dropdown-menu custom-animate" x-placement="bottom-start">
              <a class="dropdown-item" href="#" [routerLink]="['/aes/tangkapan-data/ode']" [routerLinkActive]="['router-link-active']">ODE</a>
              <a class="dropdown-item" href="#" [routerLink]="['/aes/tangkapan-data/import-icr']" [routerLinkActive]="['router-link-active']">Import ICR</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/aes/semakan-data']" [routerLinkActive]="['router-link-active']">Semakan Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/aes/kelulusan-data']" [routerLinkActive]="['router-link-active']">Kelulusan Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/aes/penjadualan']" [routerLinkActive]="['router-link-active']">Penjadualan & Laporan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/aes/kemajuan-prosesan']" [routerLinkActive]="['router-link-active']">Paparan Kemajuan Prosesan</a>
        </li>
      </ul>
      <!--<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
      <a class="nav-link" href="#" routerLink="/login" style="color: snow;">Logout</a>
  </div>
</nav>