<app-l010002 [num]="'1.1'"></app-l010002>
<app-f010002></app-f010002>
<hr>
<app-f010003 [num]="'1.2'"></app-f010003>
<hr>
<app-f010015 [num]="'1.3'" ></app-f010015>
<hr>
<app-f0100161 [num]="'1.4'" [num2]="'1.3'" ></app-f0100161>
<hr>
<app-f0100351 [num]="'1.5'" ></app-f0100351>
<hr>
<app-f0100361 [num]="'1.6'" [num2]="'1.7'" ></app-f0100361>
<app-f010017 [label]="'Kod alamat kilang'"></app-f010017>
<hr>
<app-f010027 [num]="'1.7'"></app-f010027>
<hr>
<app-f010028 [num]="'1.8'" [text]="'Sila terangkan secara ringkas aktiviti utama yang dilaporkan di Soalan 1.7:'" ></app-f010028>
<app-f010029></app-f010029>
<hr>
<app-f010031 [num]="'1.9'" ></app-f010031>
<hr>
<app-f010034></app-f010034>
