<br>
<table class="table-bordered font14">
  <thead>
  <tr>
    <th colspan="2"></th>
    <th class="text-center">Pembelian (baru)<br>Nilai<br>RM</th>
    <th class="text-center">Pembelian (terpakai)<br>Nilai<br>RM</th>
    <th class="text-center">Pelupusan<br>Nilai<br>RM</th>
  </tr>
  <tr>
    <th colspan="2"></th>
    <td class="text-right fnum">0401</td>
    <td class="text-right fnum">0402</td>
    <td class="text-right fnum">0403</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>4.1 Tanah</th>
    <td class="fnum">01</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm" disabled></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <th>4.2 Bangunan dan binaan lain: <br><p class="ml-3">a. Tempat kediaman</p></th>
    <td class="fnum">02</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <th><p class="ml-3">b. Bukan tempat kediaman dan binaan lain (cth. lot kedai, pejabat dsb.)</p></th>
    <td class="fnum">03</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <th>4.3 Pembangunan tanah</th>
    <td class="fnum">04</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm" disabled></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <th>4.4 Kenderaan bermotor dan jenis pengangkutan lain</th>
    <td class="fnum">05</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <th>4.5 Perkakasan komputer</th>
    <td class="fnum">06</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <th>4.6 Perisian komputer</th>
    <td class="fnum">07</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm" disabled></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <th>4.7 Peralatan telekomunikasi</th>
    <td class="fnum">08</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <th>4.8 Jentera dan kelengkapan</th>
    <td class="fnum">09</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <th>4.9 Perabot dan pemasangan</th>
    <td class="fnum">10</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <th>4.10 Paten</th>
    <td class="fnum">11</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm" disabled></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <th>4.11 Muhibah</th>
    <td class="fnum">12</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm" disabled></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <th>4.12 Kerja dan pelaksanaan </th>
    <td class="fnum">13</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm" disabled></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <th>4.13 Lain-lain harta </th>
    <td class="fnum">14</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <th>4.14 JUMLAH (4.1 hingga 4.13) </th>
    <td class="fnum">99</td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
  </tr>
  <tr>
    <td colspan="5" class="fnum text-right">0404</td>
  </tr>
  <tr>
    <th colspan="3">4.15 Harta tetap dibuat / dibina sendiri </th>
    <td colspan="2">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="fnum mt-1 mr-2">01</span>
          </div>
          <input type="text" class="form-control form-control-sm">
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <th colspan="3">4.16 Pembaikan dan pengubahsuaian utama </th>
    <td colspan="2">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="fnum mt-1 mr-2">02</span>
          </div>
          <input type="text" class="form-control form-control-sm">
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <th colspan="3">4.17 Susut nilai semasa </th>
    <td colspan="2">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="fnum mt-1 mr-2">03</span>
          </div>
          <input type="text" class="form-control form-control-sm">
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <th colspan="3">4.18 Nilai buku bersih pada 1.1.2017 </th>
    <td colspan="2">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="fnum mt-1 mr-2">04</span>
          </div>
          <input type="text" class="form-control form-control-sm">
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <th colspan="3">4.19 Jumlah harta tetap (nilai buku bersih bagi tahun kewangan berakhir 31 Disember 2017 atau tidak lewat daripada 30 Jun 2018) </th>
    <td colspan="2">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="fnum mt-1 mr-2">05</span>
          </div>
          <input type="text" class="form-control form-control-sm">
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="5">
      <div class="well">
        <label>Kegunaan Pejabat</label>
        <div class="form-group row">
          <div class="col-md-9">
            <label>Jumlah perbelanjaan Modal (bagi tahun kewangan berakhir 31 Disember 2017 atau tidak lewat daripada 30 Jun 2018)</label>
          </div>
          <div class="col-md-3 text-center">
            <label>RM</label><label class="fnum ml-5">040501</label><br>
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
