<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3 text-center col-form-label-sm">
    <label>Nilai / RM</label>
    <span style="float:right;" class="fnum">0876</span>
  </div>
</div>
<div class="row">
  <div class="col-md-1 col-form-label-sm">8.1D</div>
  <div class="col-md-8 col-form-label-sm">Pendapatan daripada aktiviti penerbitan</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">25</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087625" id="F087625">
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="well">
      <div class="note col-form-label-sm">
        Nota: <br>* Nilai di medan 087625 mesti sama dengan jumlah medan (087626 + 087627 + 087628 + 087629 + 087630 + 087631 + 087632)
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.1.1</div>
  <div class="col-md-11 col-form-label-sm">Aktiviti penerbitan buku, terbitan berkala dan penerbitan lain</div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-7 col-form-label-sm">Penerbitan buku, brosur dan penerbitan lain</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">26</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087626" id="F087626" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-7 col-form-label-sm">Penerbitan senarai mel, buku telefon dan direktori lain</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">27</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087627" id="F087627" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(c)</div>
  <div class="col-md-7 col-form-label-sm">Penerbitan surat khabar, jurnal dan terbitan berkala dalam bentuk cetakan atau elektronik</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">28</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087628" id="F087628" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(d)</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti penerbitan lain (cth. poskad, kad ucapan dsb.)</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">29</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087629" id="F087629" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.1.2</div>
  <div class="col-md-11 col-form-label-sm">Penerbitan perisian</div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-7 col-form-label-sm">Aplikasi perniagaan dan aplikasi lain</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">30</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087630" id="F087630" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-7 col-form-label-sm">Permainan komputer untuk semua platform</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">31</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087631" id="F087631" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(c)</div>
  <div class="col-md-7 col-form-label-sm">Penerbitan perisian kecuali perisian permainan</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">32</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087632" id="F087632" >
    </div>
  </div>
</div>
<hr>
