<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <label class="col-form-label col-form-label-sm">Kelulusan</label>
  </div>
  <div class="col-md-6 row">
    <div class="col-md-12">
      <label class="col-form-label col-form-label-sm">Seperti pada Disember 2017 atau pada tempoh gaji terakhir</label>
    </div>
    <div class="col-md-6 text-center">
      <label class="col-form-label col-form-label-sm">Lelaki</label>
    </div>
    <div class="col-md-6 text-center">
      <label class="col-form-label col-form-label-sm">Perempuan</label>
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-1"><label class="col-form-label col-form-label-sm">7.1</label></div>
  <div class="col-md-5"><label class="col-form-label col-form-label-sm">Pascasiswazah</label></div>
  <div class="col-md-3">
    <span class="fnum" style="float: right;">060199</span>
    <input type="text" id="F060199" name="F060199" class="form-control form-control-sm">
  </div>
  <div class="col-md-3">
    <span class="fnum" style="float: right;">061499</span>
    <input type="text" id="F061499" name="F061499" class="form-control form-control-sm">
  </div>
</div>

<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">7.2</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">Ijazah Sarjana Muda / Diploma Lanjutan atau setaraf</label>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-1"></div>
  <label class="col-md-5 col-form-label col-form-label-sm">(a) Akademik</label>
    <div class="col-md-3">
      <span class="fnum" style="float: right;">060299</span>
      <input type="text" class="form-control form-control-sm" id="F060299" name="F060299">
    </div>
    <div class="col-md-3">
      <span class="fnum" style="float: right;">061599</span>
      <input type="text" class="form-control form-control-sm" id="F061599" name="F061599">
    </div>
</div>

<div class="form-group row">
    <div class="col-md-1"></div>
    <label class="col-md-5 col-form-label col-form-label-sm">(b) Teknikal</label>
    <div class="col-md-3">
      <span class="fnum" style="float: right;">060399</span>
      <input type="text" class="form-control form-control-sm" id="F060399" name="F060399">
    </div>
    <div class="col-md-3">
      <span class="fnum" style="float: right;">061699</span>
      <input type="text" class="form-control form-control-sm" id="F061699" name="F061699">
    </div>
</div>

<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">7.3</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">Diploma</label>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-1"></div>
  <label class="col-md-5 col-form-label col-form-label-sm">(a) Akademik</label>
  <div class="col-md-3">
    <span class="fnum" style="float: right;">060499</span>
    <input type="text" class="form-control form-control-sm" id="F060499" name="F060299">
  </div>
  <div class="col-md-3">
    <span class="fnum" style="float: right;">061799</span>
    <input type="text" class="form-control form-control-sm" id="F061799" name="F061599">
  </div>
</div>

<div class="form-group row">
  <div class="col-md-1"></div>
  <label class="col-md-5 col-form-label col-form-label-sm">(b) Teknikal</label>
  <div class="col-md-3">
    <span class="fnum" style="float: right;">060599</span>
    <input type="text" class="form-control form-control-sm" id="F060399" name="F060399">
  </div>
  <div class="col-md-3">
    <span class="fnum" style="float: right;">061899</span>
    <input type="text" class="form-control form-control-sm" id="F061699" name="F061699">
  </div>
</div>

<div class="form-group row">
  <div class="col-md-1"><label class="col-form-label col-form-label-sm">7.4</label></div>
  <div class="col-md-5"><label class="col-form-label col-form-label-sm">STPM atau yang setaraf</label></div>
  <div class="col-md-3">
    <span class="fnum" style="float: right;">060699</span>
    <input type="text" id="F060199" name="F060199" class="form-control form-control-sm">
  </div>
  <div class="col-md-3">
    <span class="fnum" style="float: right;">061999</span>
    <input type="text" id="F061499" name="F061499" class="form-control form-control-sm">
  </div>
</div>

<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">7.5</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">Sijil</label>
  </div>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5"><label class="col-form-label col-form-label-sm">(a) Akademik</label></div>
    <div class="col-md-3">
      <span class="fnum" style="float: right;">060799</span>
      <input type="text" class="form-control form-control-sm" id="F060799" name="F060799">
    </div>
    <div class="col-md-3">
      <span class="fnum" style="float: right;">062099</span>
      <input type="text" class="form-control form-control-sm" id="F062099" name="F062099">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <label class="col-form-label col-form-label-sm">(b) Sijil Kemahiran (TVET)</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5"><label class="col-form-label col-form-label-sm ml-3">(i) Sijil Kemahiran Malaysia Tahap 3</label></div>
    <div class="col-md-3">
      <span class="fnum" style="float: right;">060899</span>
      <input type="text" class="form-control form-control-sm" id="F060899" name="F060899">
    </div>
    <div class="col-md-3">
      <span class="fnum" style="float: right;">062199</span>
      <input type="text" class="form-control form-control-sm" id="F062199" name="F062199">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5"><label class="col-form-label col-form-label-sm ml-3">(ii) Sijil Kemahiran Malaysia Tahap 1 & 2</label></div>
    <div class="col-md-3">
      <span class="fnum" style="float: right;">060999</span>
      <input type="text" class="form-control form-control-sm" id="F060999" name="F060999">
    </div>
    <div class="col-md-3">
      <span class="fnum" style="float: right;">062299</span>
      <input type="text" class="form-control form-control-sm" id="F062299" name="F062299">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5"><label class="col-form-label col-form-label-sm ml-3">(iii) Sijil Kemahiran Lain</label></div>
    <div class="col-md-3">
      <span class="fnum" style="float: right;">061099</span>
      <input type="text" class="form-control form-control-sm" id="F061099" name="F061099">
    </div>
    <div class="col-md-3">
      <span class="fnum" style="float: right;">062399</span>
      <input type="text" class="form-control form-control-sm" id="F062399" name="F062399">
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-1"><label class="col-form-label col-form-label-sm">7.6</label></div>
  <div class="col-md-5"><label class="col-form-label col-form-label-sm">SPM / SPM(V) atau yang setaraf</label></div>
  <div class="col-md-3">
    <span class="fnum" style="float: right;">0601199</span>
    <input type="text" id="F060199" name="F060199" class="form-control form-control-sm">
  </div>
  <div class="col-md-3">
    <span class="fnum" style="float: right;">062499</span>
    <input type="text" id="F061499" name="F061499" class="form-control form-control-sm">
  </div>
</div>

<div class="form-group row">
  <div class="col-md-1"><label class="col-form-label col-form-label-sm">7.7</label></div>
  <div class="col-md-5"><label class="col-form-label col-form-label-sm">Di bawah taraf kelulusan SPM / SPM(V)</label></div>
  <div class="col-md-3">
    <span class="fnum" style="float: right;">0601299</span>
    <input type="text" id="F060199" name="F060199" class="form-control form-control-sm">
  </div>
  <div class="col-md-3">
    <span class="fnum" style="float: right;">062599</span>
    <input type="text" id="F061499" name="F061499" class="form-control form-control-sm">
  </div>
</div>
