<div class="form-group row">
  <label class="col-md-1">{{ num }}</label>
  <div class="col-md-11">
    <label>{{ text }}</label>
    <br>

    <label class="field_number">{{ field_number }}</label>
    <div *ngFor="let row of array" class="custom-control custom-checkbox">
      <div class="row">
        <div class="col-md-6">
          <input type="checkbox" id="F{{ row.fnum }}" name="F{{ row.fnum }}" class="custom-control-input">
          <label class="custom-control-label" for="F{{ row.fnum }}"><span class="field_number">{{ row.fnum }}</span> {{ row.text }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
