<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <label class="col-md-5 col-form-label col-form-label-sm">
    Sila nyatakan jumlah perbelanjaan transaksi e-Dagang pertubuhan tuan dalam tempoh
    laporan (Tidak termasuk CBP)
  </label>
  <div class="input-group mb-3 col-md-6">
    <div class="input-group-prepend">
      <span class="input-group-text font14">RM</span>
    </div>
    <input type="text" class="form-control form-control-sm" id="F310063" name="F310063">
    <span class="input-group-addon fnum mt-2 ml-2">310063</span>
  </div>
  <div class="col-md-1"></div>
  <label class="col-md-11 col-form-label col-form-label-sm">atau</label>
  <div class="col-md-1"></div>
  <label class="col-md-7 col-form-label col-form-label-sm">
    sekiranya perbelanjaan transaksi e-Dagang tidak dapat dikemukakan, sila nyatakan peratusan
    perbelanjaan transaksi e-Dagang daripada jumlah perbelanjaan
  </label>
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" id="F310064" name="F310064">
      <span class="input-group-addon mt-2 ml-2 font14">(%)<span class="fnum ml-2">310064</span> </span>
    </div>
  </div>
</div>
