<div class="row form-group">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-5">
    <label for="Poskod" class=" col-form-label col-form-label-sm">Poskod</label>
    <div class="input-group">
      <select class="form-control form-control-sm" id="F010015" name="F010015">
        <option value="" disabled selected>Poskod</option>
        <option *ngFor="let row of poskod" value="row.id">{{row.postcode}}, {{ row.location }}, {{row.state}}</option>
      </select>
      <span class="fnum mt-2 ml-2">010015</span>
    </div>
  </div>
</div>

