<div class="form-group row">
  <label class="col-md-1">{{ num }}</label>
  <div class="col-md-11">
    <label>{{ text }}</label>
    <div class="row">
      <label class="col-md-6">Jumlah</label>
      <div class="col-md-5">
        <input type="text" class="form-control">
        <span class="input-group-addon ">(%)</span>
      </div>
      <div class="col-md-1 field_number">{{ field_number }}</div>
    </div>
  </div>
</div>
