<table>
  <tbody>
    <tr>
      <td>1.9</td>
      <td colspan="4">
        Berapa peratus daripada pendapatan pertubuhan ini dihasilkan oleh aktiviti utama ini?
      </td>
      <th class="field_number"  style="float: right;">0100</th>
    </tr>
    <tr>
      <td></td>
      <td>(a)</td>
      <td colspan="2">Aktiviti utama</td>
      <td class="field_number">31</td>
      <td><input type="text" class="form-control"></td>
      <td>(%)</td>
    </tr>
    <tr>
      <td></td>
      <td>(b)</td>
      <td colspan="2">Aktiviti sekunder, sila nyatakan:</td>
      <td class="field_number">32</td>
      <td><input type="text" class="form-control"></td>
      <td>(%)</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><span class="field_number" style="float: right;">010033</span><textarea class="form-control"></textarea></td>
      <td>Jumlah</td>
      <td></td>
      <td><input type="text" class="form-control" value="100" disabled></td>
      <td>(%)</td>
    </tr>
  </tbody>
</table>
