<label class="col-form-label col-form-label-sm">{{ num }} Struktur Hak Milik</label>
<br>
<label class="col-form-label col-form-label-sm">Sila laporkan hak milik pertubuhan berdasarkan modal berbayar seperti pada 31 Disember 2017:</label>

<div class="well">
  <div class="note">
    <span>Nota: Definisi residen Malaysia dan bukan residen Malaysia</span>
    <ol type="a">
      <li>Residen Malaysia ialah merujuk kepada individu yang menetap dan syarikat yang beroperasi di Malaysia bagi tempoh sekurang-kurangnya satu tahun dan kepentingan ekonominya berpusat di Malaysia</li>
      <li>Bukan residen Malaysia merujuk kepada individu yang menetap dan syarikat yang beroperasi di luar Malaysia</li>
    </ol>
  </div>
</div>

<table class="font14" style="width: 100%;">
  <tr>
    <td>{{ num }}.1</td>
    <td colspan="3">Dipegang secara langsung oleh residen Malaysia</td>
    <td class="text-center">Peratus (%)</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td style="width: 10%;">{{ num }}.1.1</td>
    <td colspan="4">Individu</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td style="width: 1%;">(a)</td>
    <td colspan="3">Bumiputera</td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>(i) Melayu</td>
    <td style="width: 10%;"><input type="text" class="form-control form-control-sm" name="F030003" id="F030003"></td>
    <td class="fnum text-center">030003</td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>(ii) Bumiputera Lain</td>
    <td><input type="text" class="form-control form-control-sm" name="F030004" id="F030004"></td>
    <td class="fnum text-center">030004</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td>(b)</td>
    <td>Cina</td>
    <td><input type="text" class="form-control form-control-sm" name="F030005" id="F030005"></td>
    <td class="fnum text-center">030005</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td>(c)</td>
    <td>India</td>
    <td><input type="text" class="form-control form-control-sm" name="F030006" id="F030006"></td>
    <td class="fnum text-center">030006</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td>(d)</td>
    <td>Lain-lain</td>
    <td><input type="text" class="form-control form-control-sm" name="F030007" id="F030007"></td>
    <td class="fnum text-center">030007</td>
  </tr>
  <tr>
    <td></td>
    <td>{{ num }}.1.2</td>
    <td colspan="4">Institusi / Syarikat</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td>(a)</td>
    <td>Bumiputera</td>
    <td><input type="text" class="form-control form-control-sm" name="F030008" id="F030008"></td>
    <td class="fnum text-center">030008</td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td>(b)</td>
    <td>Bukan Bumiputera</td>
    <td><input type="text" class="form-control form-control-sm" name="F030009" id="F030009"></td>
    <td class="fnum text-center">030009</td>
  </tr>
  <tr>
    <td>{{ num }}.2</td>
    <td colspan="3">Dipegang oleh Agensi Kerajaan Persekutuan, Negeri dan Tempatan</td>
    <td><input type="text" class="form-control form-control-sm" name="F030010" id="F030010"></td>
    <td class="fnum text-center">030010</td>
  </tr>
  <tr>
    <td>{{ num }}.3</td>
    <td colspan="3">Dipegang secara langsung oleh bukan residen Malaysia</td>
    <td><input type="text" class="form-control form-control-sm" name="F030011" id="F030011"></td>
    <td class="fnum text-center">030011</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3">JUMLAH</td>
    <td class="text-center"><input type="text" class="form-control form-control-sm text-center" value="100" readonly></td>
    <td></td>
  </tr>
</table>
