<table class="table-bordered">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th class="text-center">Pembelian (baru)<br>Nilai<br>RM</th>
      <th class="text-center">Pembelian (terpakai)<br>Nilai<br>RM</th>
      <th class="text-center">Pelupusan<br>Nilai<br>RM</th>
    </tr>
    <tr>
      <th colspan="2"></th>
      <td class="text-right field_number">0401</td>
      <td class="text-right field_number">0402</td>
      <td class="text-right field_number">0403</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4.1 Tanah</th>
      <td class="field_number">01</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control" disabled></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th>4.2 Bangunan dan binaan lain: <br><p class="ml-3">a. Tempat kediaman</p></th>
      <td class="field_number">02</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th><p class="ml-3">b. Bukan tempat kediaman dan binaan lain (cth. lot kedai, pejabat dsb.)</p></th>
      <td class="field_number">03</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th>4.3 Pembangunan tanah</th>
      <td class="field_number">04</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control" disabled></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th>4.4 Kenderaan bermotor dan jenis pengangkutan lain</th>
      <td class="field_number">05</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th>4.5 Perkakasan komputer</th>
      <td class="field_number">06</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th>4.6 Perisian komputer</th>
      <td class="field_number">07</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control" disabled></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th>4.7 Peralatan telekomunikasi</th>
      <td class="field_number">08</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th>4.8 Jentera dan kelengkapan</th>
      <td class="field_number">09</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th>4.9 Perabot dan pemasangan</th>
      <td class="field_number">10</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th>4.10 Paten</th>
      <td class="field_number">11</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control" disabled></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th>4.11 Muhibah</th>
      <td class="field_number">12</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control" disabled></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th>4.12 Kerja dan pelaksanaan </th>
      <td class="field_number">13</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control" disabled></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th>4.13 Lain-lain harta </th>
      <td class="field_number">14</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th>4.14 JUMLAH (4.1 hingga 4.13) </th>
      <td class="field_number">99</td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th colspan="3">4.15 Harta tetap dibuat / dibina sendiri </th>
      <td colspan="2"><p class="field_number text-right">040401</p><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th colspan="3">4.16 Pembaikan dan pengubahsuaian utama </th>
      <td colspan="2"><p class="field_number text-right">040402</p><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th colspan="3">4.17 Susut nilai semasa </th>
      <td colspan="2"><p class="field_number text-right">040403</p><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th colspan="3">4.18 Nilai buku bersih pada 1.1.2017 </th>
      <td colspan="2"><p class="field_number text-right">040404</p><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <th colspan="3">4.19 Jumlah harta tetap (nilai buku bersih bagi tahun kewangan berakhir 31 Disember 2017 atau tidak lewat daripada 30 Jun 2018) </th>
      <td colspan="2"><p class="field_number text-right">040405</p><input type="text" class="form-control"></td>
    </tr>
  </tbody>
</table>
<div class="wells">
  <label style="font-size: 12px;">Kegunaan Pejabat</label>
  <app-text-fnum
    [num]=""
    [text]="'Jumlah Perbelanjaan Modal (bagi tahun kewangan berakhir 31 Disember 2017 atau tidak lewat daripada 30 Jun 2018)'"
    [field_number]="'040501'"
  ></app-text-fnum>
</div>
