.field_number {
    color: blue;
}

.wells {
    
    background-color: beige;
    padding: 5px;
    margin: 2px;
    border: solid 0.5px lightgrey;
    border-radius: 10px;
}

table, .form-control {
    font-size: 12px;
}