<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">
      Adakah pertubuhan tuan menggunakan instrumen Pengenalan Frekuensi Radio (RFID) dalam tempoh
      laporan?
    </label>
    <br>
    <label class="fnum">310035</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310035" id="F3100351" value="1">
        <span class="fnum">1</span> Ya
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310035" id="F3100352" value="2">
        <span class="fnum">2</span> Tidak
      </label>
    </div>
    <div class="well">
      <div class="note">
        Maksud RFID:- <br> - Teknologi yang menggunakan komunikasi melalui gelombang radio untuk menukar data antara pembaca dan tag
        elektronik yang dilampirkan kepada objek untuk tujuan pengenalan dan pengesanan
      </div>
    </div>
  </div>
</div>