.input-group-prepend span {
    background-color: transparent;
    border: none;
  }

  .input-group {
    height: 40px;
  }

.fnum {
  color: blue;
  font-size: 12px;
}

  .field_number {
    color: blue;
    font-size: 12px;
  }

  .form-control {
    font-size: 12px;
  }

  .row, label {
    font-size: 12px;

  }
