
<div class="row">
  <div class="col-md-9">
    <label class="col-form-label col-form-label-sm">Sila nyatakan perbelanjaan pertubuhan tuan</label>
  </div>
  <div class="col-md-3 text-center">
    <label class="col-form-label col-form-label-sm">Nilai/RM</label>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">(a)</label>
  <label class="col-md-8 col-form-label col-form-label-sm">Perbelanjaan kendalian / kos jualan / bahan langsung / bahan mentah / bahan binaan*
  </label>
  <div class="mb-3 col-md-3">
    <span class="fnum" style="float: right">090001</span>
    <input type="text" class="form-control form-control-sm">
  </div>
</div>

<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">(b)</label>
  <label class="col-md-8 col-form-label col-form-label-sm">Kos barang dijual (barang / bahan yang dibeli untuk dijual semula tanpa melalui proses selanjutnya)
  </label>
  <div class="mb-3 col-md-3">
    <span class="fnum" style="float: right">090009</span>
    <input type="text" class="form-control form-control-sm">
  </div>
</div>

<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">(c)</label>
  <label class="col-md-8 col-form-label col-form-label-sm">Perbelanjaan lain
  </label>
  <div class="mb-3 col-md-3">
    <span class="fnum" style="float: right">090080</span>
    <input type="text" class="form-control form-control-sm">
  </div>
</div>

<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">(d)</label>
  <label class="col-md-8 col-form-label col-form-label-sm">JUMLAH PERBELANJAAN (a + b + c)
  </label>
  <div class="mb-3 col-md-3">
    <span class="fnum" style="float: right">090099</span>
    <input type="text" class="form-control form-control-sm">
  </div>
</div>

<div class="well">
  <div class="note">
    <span>Nota</span>
    <ol type="a">
      <li>* Kos bahan langsung - Merujuk kepada semua kos secara langsung yang digunakan dalam aktiviti pertanian untuk menghasilkan pengeluaran (cth: baja, vaksin)</li> <br>
      <li>Kos barangan yang dijual merujuk kepada barangan yang dibeli untuk dijual semula tanpa melalui proses selanjutnya, contoh alat ganti.</li> <br>
      <li>Perbelanjaan lain merujuk kepada sewa, kos pekerjaan, air yang digunakan, tenaga elektrik yang dibeli dan lain - lain perbelanjaan kewangan.</li>
    </ol>
  </div>
</div>














