<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3 text-center col-form-label-sm">
    <label>Nilai / RM</label>
    <span style="float:right;" class="fnum">0800</span>
  </div>
</div>
<div class="row">
  <div class="col-md-1 col-form-label-sm">8.2</div>
  <div class="col-md-8 col-form-label-sm">Pendapatan daripada perkhidmatan pembaikan dan penyelenggaraan peralatan telekomunikasi</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">23</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F080023" id="F080023">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.3</div>
  <div class="col-md-8 col-form-label-sm">Pendapatan daripada perkhidmatan instalasi rangkaian telekomunikasi</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">24</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080024" id="F080024">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.4</div>
  <div class="col-md-8 col-form-label-sm">Pendapatan langganan</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">25</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080025" id="F080025">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.5</div>
  <div class="col-md-8 col-form-label-sm">Pendapatan daripada pembekalan rancangan kepada pertubuhan penyiaran lain</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">26</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080026" id="F080026">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.6</div>
  <div class="col-md-8 col-form-label-sm">Lesen hak cipta untuk menggunakan kandungan sindiket media</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">27</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080027" id="F080027">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.7</div>
  <div class="col-md-8 col-form-label-sm">Ruang pengiklanan atas talian</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">28</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080028" id="F080028">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.8</div>
  <div class="col-md-8 col-form-label-sm">Pendapatan daripada pengiklanan (tidak termasuk jualan masa pengiklanan di radio, televisyen atau internet</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">29</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080029" id="F080029">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.9</div>
  <div class="col-md-8 col-form-label-sm">Royalti, hak cipta, pelesenan dan yuran francais</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">14</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080014" id="F080014">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.10</div>
  <div class="col-md-8 col-form-label-sm">Komisen dan brokeraj yang diperoleh</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">11</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080011" id="F080011">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.11</div>
  <div class="col-md-11 col-form-label-sm">Pendapatan daripada sewa</div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-7 col-form-label-sm">Tanah</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">12</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F080012" id="F080012" >
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-7 col-form-label-sm">Sewa ke atas ruangan (cth. kios peyediaan makanan & minuman)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">31</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080031" id="F080031">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(c)</div>
  <div class="col-md-7 col-form-label-sm">Sewa peralatan telekomunikasi</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">32</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080032" id="F080032">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(d)</div>
  <div class="col-md-7 col-form-label-sm">*Lain-lain</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">13</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080013" id="F080013">
    </div>
  </div>
</div>

<div class="well">
  <div class="note col-form-label-sm">
    *Termasuk: <br> Bangunan bukan tempat tempat kediaman, bangunan tempat kediaman, alat pengangkutan, jentera dan kelengkapan, perabot dan pemasangan.
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.12</div>
  <div class="col-md-8 col-form-label-sm">Pemajakan perkakasan komputer</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">33</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080033" id="F080033">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.13</div>
  <div class="col-md-8 col-form-label-sm">Pendapatan daripada perkhidmatan pengurusan</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">10</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080010" id="F080010">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.14</div>
  <div class="col-md-8 col-form-label-sm">Nilai jualan (barang/ bahan yang dibeli untuk dijual semula tanpa melalui proses selanjutnya)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">07</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F080007" id="F080007" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.15</div>
  <div class="col-md-8 col-form-label-sm">Pendapatan operasi lain (Sila nyatakan)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">09</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080009" id="F080009">
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="form-group">
      <textarea name="L080009" id="L080009" class="form-control form-control-sm"></textarea>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.16</div>
  <div class="col-md-8 col-form-label-sm">Pendapatan bukan operasi</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">15</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080015" id="F080015" >
    </div>
  </div>
</div>

<div class="well">
  <div class="note">
    *Termasuk: <br> Pendapatan daripada faedah, pendapatan daripada dividen, keuntungan daripada jualan/ penilaian semula harta, keuntungan daripada pertukaran mata wang asing/ aset kewangan, pemulihan hutang lapuk, tuntutan & pampasan yang diterima, pindahan wang, hadiah dan bantuan geran/ subsidi yang diterima.
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.17</div>
  <div class="col-md-8 col-form-label-sm">Lain-lain pendapatan, bukan operasi(Sila nyatakan)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">18</span>
      </div>
      <input type="text" class="form-control form-control-sm"   name="F080018" id="F080018">
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="form-group">
      <textarea name="L080018" id="L080018" class="form-control form-control-sm"></textarea>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.18</div>
  <div class="col-md-8 col-form-label-sm">Jumlah pendapatan (8.1 hingga 8.17</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">89</span>
      </div>
      <input type="text" class="form-control form-control-sm"   name="F080089" id="F080089">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.19</div>
  <div class="col-md-8 col-form-label-sm">Pindahan modal yang diterima</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">17</span>
      </div>
      <input type="text" class="form-control form-control-sm"   name="F080017" id="F080017">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.20</div>
  <div class="col-md-8 col-form-label-sm">JUMLAH BESAR (8.18 dan 8.19)</div>
  <div class="col-md-3 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">99</span>
      </div>
      <input type="text" class="form-control form-control-sm"   name="F080099" id="F080099">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.21</div>
  <div class="col-md-11 col-form-label-sm">Sila nyatakan peratus pendapatan jika pertubuhan tuan terlibat dengan perkhidmatan ICT berikut:</div>
</div>
<br>

<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2 text-center col-form-label-sm">
    <label>Peratus <br> (%)</label>
    <span style="float:right;" class="fnum"> <br> 0876</span>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-8 col-form-label-sm">Pengkomputeraan awan</div>
  <div class="col-md-2 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">33</span>
      </div>
      <input type="text" class="form-control form-control-sm"   name="F080033" id="F080033">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-8 col-form-label-sm">Perundingan Data Raya</div>
  <div class="col-md-2 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">34</span>
      </div>
      <input type="text" class="form-control form-control-sm"   name="F080034" id="F080034">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(c)</div>
  <div class="col-md-8 col-form-label-sm">Pengenalan Frekuensi Radio</div>
  <div class="col-md-2 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">35</span>
      </div>
      <input type="text" class="form-control form-control-sm"   name="F080035" id="F080035">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(d)</div>
  <div class="col-md-8 col-form-label-sm">Aktiviti <i>Streaming</i></div>
  <div class="col-md-2 text-center">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">36</span>
      </div>
      <input type="text" class="form-control form-control-sm"  name="F080036" id="F080036" >
    </div>
  </div>
</div>
