<app-radio-fnum-ori
  [num]="'D.1'"
  [text]="'Adakah pertubuhan tuan mempunyai perbelanjaan perlindungan alam sekitar?'"
  [field_number]="'340001'"
>
</app-radio-fnum-ori>
<app-nota-pendek [text]="'Jika TIDAK, TAMAT di sini'"></app-nota-pendek>
<hr>

<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6 text-center">
    <label>Nilai (RM)</label>
    <label class="field_number" style="float: right; color: blue;">340002</label>
  </div>
</div>
<app-text-fnum-single-inline
  [num]="'D.2'"
  [text1]="'Sila nyatakan jumlah perbelanjaan perlindungan alam sekitar pertubuhan tuan dalam tempoh laporan'"
  [field_number]="''"
></app-text-fnum-single-inline>
<hr>

<app-radio-fnum-ori
  [num]="'D.3'"
  [text]="'Adakah pertubuhan tuan mendapat pengiktirafan pensijilan yang berkaitan alam sekitar?'"
  [field_number]="'340003'"
>
</app-radio-fnum-ori>
