<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">
      Adakah pertubuhan tuan mempunyai <i>web presence</i> dalam tempoh laporan?
    </label>
    <br>
    <label class="fnum">310017</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310017" id="F3100171" value="1">
        <span class="fnum">1</span> Ya
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310017" id="F3100172" value="2">
        <span class="fnum">2</span> Tidak
      </label>
    </div>
    <div class="form-group row">
      <div class="col-md-12 col-form-label-sm">
        <label class="col-form-label col-form-label-sm">
          Jika "YA", sila tandakan jenis <i>web presence</i> pertubuhan tuan (Boleh pilih lebih daripada satu)
        </label>
        <br>
        <label class="fnum">3100</label>
        <div *ngFor="let row of array" class="form-check">
          <div class="row">
            <div class="col-md-12">
              <label for="F3100{{ row.fnum }}" class="form-check-label col-form-label col-form-label-sm">
                <input type="checkbox" class="form-check-input" id="F3100{{ row.fnum }}" name="F3100{{ row.fnum }}">
                <span class="fnum">{{ row.fnum }}</span> {{ row.text }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="well">
      <div class="note">
        Termasuk: Lama web, home page atau wujud di laman pihak ketiga di mana perniagaan anda mempunyai
        penguasaan yang kuat di atas kandugan dalam laman tersebut<br>
        Tidak termasuk: Jika ia wujud di dalam online directory dan mengiklan di laman ketiga
      </div>
    </div>
  </div>
</div>