<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class=" col-form-label col-form-label-sm">Sila tandakan jenis pertubuhan tuan dalam satu kotak sahaja</label>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <div *ngFor="let row of array">
      <div class="form-check">
        <label for="F010040{{ row.id }}" class="form-check-label col-form-label col-form-label-sm">
          <input type="radio" class="form-check-input" id="F010040{{ row.id }}">
          <strong>{{ row.id }}</strong> {{ row.text }}
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row well">
      <label class="col-md-7 col-form-label col-form-label-sm" for="F010002">Kegunaan Pejabat</label>
      <div class="input-group col-md-5">
        <input class="form-control form-control-sm" type="text" name="F010040" id="F010040" readonly>
        <span class="fnum mt-2 ml-2">010040</span>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="well note">
      Nota: <br> Sekiranya jawapan ialah (2), sila lengkapkan Soalan 12 di muka surat 26
    </div>
  </div>
</div>