<div class="row">
  <div class="col-md-1"><label class="col-form-label col-form-label-sm">{{ num }}</label></div>
  <div class="col-md-11"><label class="col-form-label col-form-label-sm">Sila nyatakan maklumat pekerja yang terlibat dengan R&D</label></div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4 text-center">
    <label class="col-form-label col-form-label-sm"> Bilangan pekerja
      <br>
      <br><span class="fnum" style="float: right;">3300</span>
    </label>
  </div>
  <div class="col-md-4 text-center">
    <label class="col-form-label col-form-label-sm"> Gaji & upah tahunan
      <br> Nilai
      <br> RM <span class="fnum" style="float: right;">3300</span>
    </label>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <label class="col-form-label col-form-label-sm">(a)</label>
  </div>
  <div class="col-md-3">
    <label class="col-form-label col-form-label-sm">Penyelidik</label>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">51</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">54</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <label class="col-form-label col-form-label-sm">(b)</label>
  </div>
  <div class="col-md-3">
    <label class="col-form-label col-form-label-sm">Juruteknik dan profesional bersekutu</label>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">52</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">55</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <label class="col-form-label col-form-label-sm">(c)</label>
  </div>
  <div class="col-md-3">
    <label class="col-form-label col-form-label-sm">Pekerja sokongan perkeranian</label>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">53</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">56</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
</div>
