<div class="wells1">
  <div class="form-group row">
    <label class="col-md-2">Kegunaan Pejabat</label>
    <div class="col-md-3">
      <div class="input-group">
      <input type="text" class="form-control" style="width: 70px">
      <span class="field_number mt-2 ml-2">{{ field_number }}</span>
      </div>
    </div>
  </div>
</div>


