<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm"> (a) Adakah pertubuhan tuan mempunyai perbelanjaan perlindungan alam sekitar? </label>
    <br>
    <label class="fnum">340001</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F340001" id="F3400011" value="1">
        <span class="fnum">1</span> Ya
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F340001" id="F3400012" value="2">
        <span class="fnum">2</span> Tidak
        <span class="well ml-2">Jika Tidak, TAMAT soalan Bahagian ini</span>
      </label>
    </div>
  </div>

