<form>
  <fieldset>
    <legend><small>Import ICR</small></legend>

    <div class="form-group row">
      <label for="negeri" class="col-md-2 col-form-label">Pilih Negeri</label>
      <div class="col-md-4">
        <select (change)="onChange($event, 'negeri')" class="form-control" id="negeri" name="negeri">
          <option value="">Pilih Negeri</option>
          <option *ngFor="let row of negeri" value="{{ row.id }}">{{ row.code_no }} - {{ row.name }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="pejabat-operasi" class="col-md-2 col-form-label">Pilih Pejabat Operasi</label>
      <div class="col-md-4">
        <select (change)="onChange($event, 'pejabat-operasi')" class="form-control" id="pejabat-operasi" name="pejabat_operasi">
          <option value="">Pilih Pejabat Operasi</option>
          <option *ngFor="let row of pejabatOperasi" value="{{ row.id }}">{{ row.code_no }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="kod-penyiasatan" class="col-md-2 col-form-label">Pilih Kod Penyiasatan</label>
      <div class="col-md-4">
        <select (change)="onChange($event, 'kod-penyiasatan')" class="form-control" id="kod-penyiasatan" name="kod_penyiasatan">
          <option value="">Pilih Kod Penyiasatan</option>
          <option *ngFor="let row of kodPenyiasatan" [value]="row.id">{{ row.code_no }} - {{ row.name }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="tahun-rujukan" class="col-md-2 col-form-label">Pilih Tahun Rujukan</label>
      <div class="col-md-4">
        <select (change)="onChange($event, 'tahun-rujukan')" class="form-control" id="tahun-rujukan" name="tahun_rujukan">
          <option value="">Pilih Tahun Rujukan</option>
          <option *ngFor="let row of tahunRujukan" [value]="row.id">{{ row.tahun }}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <input type="file" class="form-control" (click)="onSemakImport()">
      </div>
    </div>
    <button type="button" class="btn btn-success" (click)="onSemakFail()" [disabled]="!statusImport">Semak Fail</button>
  </fieldset>
</form>
<div *ngIf="statusSemakan">
  <div class="form-group row">
    <div class="col-md-6">
      <textarea class="form-control" disabled>Berjaya</textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-table-batch></app-table-batch>
    </div>
  </div>
</div>