<div class="form-group row">
  <label class="col-md-1">{{ num }}</label>
  <div class="col-md-11">
    <label>{{ text }}</label>
  </div>
</div>
<div class="form-group">
    <div class="row" *ngFor="let row of array">
      <div class="col-md-1"></div>
      <label class="col-md-1">{{ row.num }}</label>
      <label class="col-md-4" [innerHtml]="row.text">
      </label>
        <div class="input-group mb-3 col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text field_number">{{ row.fnum }}</span>
          </div>
          <input type="text" class="form-control">
        </div>
    </div>
</div>
