<div class="row">
  <div class="col-md-8">
  </div>
  <div class="col-md-4 text-center">
    <label class="col-form-label col-form-label-sm">Nilai/RM</label>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <label class="col-md-7 col-form-label col-form-label-sm">
    Sila nyatakan jumlah perbelanjaan perlindungan alam sekitar pertubuhan tuan dalam tempoh laporan
  </label>
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" name="F340002" id="F340002">
      <span class="fnum ml-2 mt-2">340002</span>
    </div>
  </div>
</div>
