
<table class="font14" style="width: 100%;">
  <tr>
    <td style="width: 7%;" >{{ num }}</td>
    <td colspan="5">Sila nyatakan peratusan pendapatan e-Dagang mengikut jenis pasaran berikut:</td>
  </tr>
  <tr *ngFor="let row of array">
    <td></td>
    <td colspan="2">{{ row.text }}</td>
    <td style="width: 10%;"><input type="text" id="F{{ row.fnum }}" name="F{{ row.fnum }}" class="form-control form-control-sm"></td>
    <td style="width: 1%;">(%)</td>
    <td style="width: 1%;" class="fnum text-center">{{ row.fnum }}</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2">
      <div class="well">
        <div class="note">
          Nota : <br> Jika peratusan pendapatan antarabangsa e-Dagang diisi, sila ke Soalan 4.20
        </div>
      </div>
    </td>
    <td colspan="3"></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2">JUMLAH</td>
    <td><input type="text" class="form-control form-control-sm text-center" value="100" readonly></td>
    <td>(%)</td>
    <td></td>
  </tr>
</table>