<div class="scroller">
  <table class="table-bordered">
    <thead class="text-center">
      <tr>
        <th rowspan="5" colspan="5">
          Kategori Pekerja / Jawatan (Lelaki)
        </th>
        <th colspan="13">
          Bilangan pekerja yang dibayar oleh pertubuhan ini pada Disember 2017 atau pada tempoh gaji terakhir
        </th>
      </tr>
      <tr>
        <th rowspan="3">Pascasiswazah</th>
        <th rowspan="2" colspan="2">Ijazah Sarjana Muda / Diploma Lanjutan atau yang setaraf</th>
        <th rowspan="2" colspan="2">Diploma</th>
        <th rowspan="3">STPM atau yang setaraf</th>
        <th colspan="4">Sijil</th>
        <th rowspan="3">SPM / SPM(V) atau yang setaraf</th>
        <th rowspan="3">Di bawah taraf kelulusan SPM / SPM(V)</th>
        <th rowspan="3">JUMLAH</th>
      </tr>
      <tr>
        <th rowspan="2">Akademik</th>
        <th colspan="3">Sijil Kemahiran (TVET)</th>
      </tr>
      <tr>
        <th>Akademik</th>
        <th>Teknikal *</th>
        <th>Akademik</th>
        <th>Teknikal dan Vokasional (TVET)</th>
        <th>Tahap 3</th>
        <th>Tahap 1 & 2</th>
        <th>Lain-lain</th>
      </tr>
      <tr class="field_number">
        <th>0601</th>
        <th>0602</th>
        <th>0603</th>
        <th>0604</th>
        <th>0605</th>
        <th>0606</th>
        <th>0607</th>
        <th>0608</th>
        <th>0609</th>
        <th>0610</th>
        <th>0611</th>
        <th>0612</th>
        <th>0613</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th colspan="4">A. <u>Warganegara Malaysia</u></th>
        <th></th>
        <th colspan="13"></th>
      </tr>
      <tr>
        <th>6.1</th>
        <th colspan="3">Pemilik yang bekerja dan rakan niaga yang aktif</th>
        <th class="text-center field_number">01</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th>6.2</th>
        <th colspan="3">
          Pekerja keluarga tidak bergaji (semua ahli keluarga dan rakan yang tidak menerima upah yang tetap)
        </th>
        <th class="text-center field_number">02</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th>6.3</th>
        <th colspan="3">Pekerja bergaji (sepenuh masa):</th>
        <th></th>
        <td colspan="13"></td>
      </tr>
      <tr>
        <th></th>
        <th>6.3.1</th>
        <th colspan="2">Pengurus</th>
        <th class="text-center field_number">03</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>6.3.2</th>
        <th colspan="2">Profesional</th>
        <th></th>
        <th colspan="13"></th>
      </tr>
      <tr>
        <th colspan="2"></th>
        <th>(a)</th>
        <th>Profesional</th>
        <th class="text-center field_number">04</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th colspan="2"></th>
        <th>(b)</th>
        <th>Penyelidik</th>
        <th class="text-center field_number">05</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>6.3.3</th>
        <th colspan="2">Juruteknik dan Profesional Bersekutu</th>
        <th class="text-center field_number">06</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>6.3.4</th>
        <th colspan="2">Pekerja Sokongan Perkeranian</th>
        <th class="text-center field_number">07</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>6.3.5</th>
        <th colspan="2">Pekerja Perkhidmatan dan Jualan</th>
        <th class="text-center field_number">08</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>6.3.6</th>
        <th colspan="2">Pekerja Kemahiran dan Pekerja Pertukangan yang berkaitan</th>
        <th class="text-center field_number">09</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>6.3.7</th>
        <th colspan="2">Operator Mesin & Loji dan Pemasang</th>
        <th class="text-center field_number">16</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>6.3.8</th>
        <th colspan="2">Pekerja Asas</th>
        <th class="text-center field_number">12</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>6.3.9</th>
        <th colspan="2">Jumlah pekerja bergaji (sepenuh masa) (6.3.1 hingga 6.3.8)</th>
        <th class="text-center field_number">89</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th>6.4</th>
        <th colspan="3">
          Pekerja bergaji (sambilan)
        </th>
        <th class="text-center field_number">13</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th>6.5</th>
        <th colspan="3">
          Jumlah warganegara Malaysia <br> (6.1 + 6.2 + 6.3.9 + 6.4)
        </th>
        <th class="text-center field_number">22</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th colspan="4">B. <u>Bukan Warganegara Malaysia</u></th>
        <th class="text-center field_number">23</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th>6.6</th>
        <th colspan="3">JUMLAH (6.5 + B)</th>
        <th class="text-center field_number">99</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="well">
  <div class="row">
    <div class="col-md-1">*</div>
    <div class="note col-form-label-sm col-md-10">
      Merujuk kepada kelulusan dalam pengkhususan Teknologi yang diperoleh daripada Rangkaisan Universiti Teknikal Malaysia (MTUN)
    </div>
  </div>
</div>
