.field_number {
    color: blue;
}

.scroller {
        display: block;
        overflow-x: auto;
        max-width: 700px;
        /*white-space: nowrap;*/
        font-size: 12px;
    }

.form-control {
    width: 100px;
    font-size: 12px;
}