<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">Adakah pertubuhan tuan menggunakan komputer dalam tempoh laporan?</label>
    <br>
    <label class="fnum">310001</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310001" id="F3100011" value="1">
        <span class="fnum">1</span> Ya
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310001" id="F3100012" value="2">
        <span class="fnum">2</span> Tidak
      </label>
    </div>
    <div class="well">
      <div class="note">
        Nota:<br> Komputer termasuk komputer peribadi, komputer riba dan tablet<br>
        Jika TIDAK, sila langkah Soalan {{ num2 }}
      </div>
    </div>
  </div>
</div>