<div class="form-group row well">
  <label class="col-md-3 col-form-label col-form-label-sm" for="F010002">Kegunaan Pejabat</label>
  <div class="input-group col-md-5">
    <input class="form-control form-control-sm" type="text" name="F010002" id="F010002">
    <span class="fnum mt-2 ml-2">010002</span>
  </div>
</div>
