<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">
      Sila nyatakan nama negara yang mempunyai pendapatan e-Dagang antarabangsa yang
      tertinggi dengan pertubuhan tuan
    </label>
    <div class="row">
      <div class="col-md-8">
        <div *ngFor="let row of array">
          <div class="input-group mb-3">
            <input type="text" name="F{{ row.fnum }}" id="F{{ row.fnum }}" class="form-control form-control-sm">
            <span class="fnum mt-2 ml-2">{{ row.fnum }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <label class="col-form-label col-form-label-sm">Kegunaan Pejabat</label>
          <div *ngFor="let row of array2">
            <div class="input-group mb-3">
              <select name="F{{ row.fnum }}" id="F{{ row.fnum }}" class="form-control form-control-sm">
                <option *ngFor="let data of negara" value="data.id">{{ data.code_no }} - {{ data.name }}</option>
              </select>
              <span class="fnum mt-2 ml-2">{{ row.fnum }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="well">
      <div class="note">
        Nota:<br> Sila sertakan lampiran tambahan jika ruangan ini tidak mencukupi
      </div>
    </div>
  </div>
</div>
