<div class="scroller">
<table class="table-bordered">
    <thead class="text-center">
      <tr>
        <td colspan="3" rowspan="3">BILANGAN SYIF KERJA</td>
        <td colspan="3">BILANGAN SYIF KERJA DALAM SATU HARI</td>
        <td rowspan="2">JUMLAH</td>
      </tr>
      <tr>
        <td>Syif pertama / waktu bekerja biasa</td>
        <td>Syif kedua</td>
        <td>Syif ketiga</td>
      </tr>
      <tr>
        <td class="field_number">0701</td>
        <td class="field_number">0702</td>
        <td class="field_number">0703</td>
        <td class="field_number">0704</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ num1 }}</td>
        <td>Bilangan pekerja dalam setiap syif</td>
        <td class="field_number">01</td>
        <td>
           <div class="input-group">
            <input type="text" class="form-control">
          </div>
         <td>
           <div class="input-group">
            <input type="text" class="form-control">
          </div>
         </td>
         <td>
          <div class="input-group">
            <input type="text" class="form-control">
          </div>
        </td>
        <td><input type="text" class="form-control" disabled></td>
      </tr>
      <tr>
        <td>{{ num2 }}</td>
        <td>Jumlah hari bekerja pada tahun rujukan</td>
        <td class="field_number">02</td>
        <td>
            <div class="input-group">
             <input type="text" class="form-control">
           </div>
          <td>
            <div class="input-group">
             <input type="text" class="form-control">
           </div>
          </td>
          <td>
           <div class="input-group">
             <input type="text" class="form-control">
           </div>
         </td>
         <td><input type="text" class="form-control" disabled></td>
        </tr>
      <tr>
          <td>{{ num3 }}</td>
          <td>Jumlah jam bekerja dalam satu syif</td>
          <td class="field_number">03</td>
          <td>
              <div class="input-group">
               <input type="text" class="form-control">
             </div>
            <td>
              <div class="input-group">
               <input type="text" class="form-control">
             </div>
            </td>
            <td>
             <div class="input-group">
               <input type="text" class="form-control">
             </div>
           </td>
           <td><input type="text" class="form-control" disabled></td>
          </tr>
        <tr>
            <td>{{ num4 }}</td>
            <td>Jumlah jam pekerja bekerja lebih masa dalam setahun =({{num1}} x{{num2}} x {{num3}})</td>
            <td  class="field_number">04</td>
            <td>
                <div class="input-group">
                 <input type="text" class="form-control">
               </div>
              <td>
                <div class="input-group">
                 <input type="text" class="form-control">
               </div>
              </td>
              <td>
               <div class="input-group">
                 <input type="text" class="form-control">
               </div>
             </td>
             <td>
                <div class="input-group">
                    <input type="text" class="form-control">
                  </div>
             </td>
            </tr>
            <tr>
                <td>{{ num5 }}</td>
              <td>Jumlah jam pekerja bekerja lebih masa dalam tahun</td>
              <td class="field_number">05</td>
              <td colspan="3"><input type="text" class="form-control" disabled></td>
               <td>
                  <div class="input-group">
                      <input type="text" class="form-control">
                    </div>
               </td>
              </tr>
              <tr>
                <td>{{ num6 }}</td>
                <td>Jumlah jam pekerja bekerja dalam tahun =({{num4}} + {{num5}})</td>
                <td class="field_number">99</td>
                <td colspan="3"><input type="text" class="form-control" disabled></td>
                 <td>
                    <div class="input-group">
                        <input type="text" class="form-control">
                      </div>
                 </td>
                </tr>
                <tr>
                  <td colspan="8">
                    <div class="row">
                      <div class="col-md-6"></div>
                      <div class="col-md-6 text-center">
                        <label>RM</label>
                        <span style="float:right;" class="field_number">0705</span>
                      </div>
                    </div>
                    <app-text-fnum-single-inline
                        [num]="num7"
                        [text1]="'Upah yang dibayar untuk pekerjaan lebih masa dalam tahun rujukan'"
                        [field_number]="'07'"
                    ></app-text-fnum-single-inline>
                  </td>
                </tr>
   </tbody>
  </table>
  </div>
