<app-checkbox-fnum-dynamic
  [num]="'C.1'"
  [text]="'Adakah pertubuhan tuan mematuhi sebarang pengiktirafan tempatan dan / atau antarabangsa? (Boleh pilih lebih daripada satu)'"
  [array]="arrC_1"
  [field_number]="'3300'"
>
</app-checkbox-fnum-dynamic>
<hr>

<app-checkbox-fnum-dynamic
  [num]="'C.2'"
  [text]="'Adakah pertubuhan tuan mempunyai Sistem Perlindungan Harta Intelek (HI)? (Boleh pilih lebih daripada satu)'"
  [array]="arrC_2"
  [field_number]="'3300'"
>
</app-checkbox-fnum-dynamic>
<hr>

<app-checkbox-fnum-dynamic
  [num]="'C.3'"
  [text]="'Adakah pertubuhan tuan menerima bantuan nasihat/ teknikal dari pihak berikut? (Boleh pilih lebih daripada satu)'"
  [array]="arrC_3"
  [field_number]="'3300'"
>
</app-checkbox-fnum-dynamic>
<hr>

<app-checkbox-fnum-dynamic
  [num]="'C.4'"
  [text]="'Adakah pertubuhan tuan memperkenalkan sebarang inovasi baharu atau penambahbaikan nyata dalam tahun kewangan/ rujukan 2017? (Boleh pilih lebih daripada satu)'"
  [array]="arrC_4"
  [field_number]="'3300'"
>
</app-checkbox-fnum-dynamic>
<hr>

<div class="row">
  <div class="col-md-6">
    <label> C.6 Sila nyatakan jumlah perbelanjaan R&D bagi thaun rujukan berikut:</label>
  </div>
  <div class="col-md-6 text-center">
    <label>Nilai (RM)</label>
    <label class="field_number" style="float: right; color: blue;">3300</label>
  </div>
</div>
<app-text-fnum-single-inline
  [num]="'(a)'"
  [text1]="'2014 '"
  [field_number]="'32'"
></app-text-fnum-single-inline>

<app-text-fnum-single-inline
  [num]="'(b)'"
  [text1]="'2015 '"
  [field_number]="'33'"
></app-text-fnum-single-inline>

<app-text-fnum-single-inline
  [num]="'(c)'"
  [text1]="'2016 '"
  [field_number]="'34'"
></app-text-fnum-single-inline>
<hr>

<app-nota-pendek [text]="'Sekiranya Soalan 9.12 (a) pada muka surat 21 diisi, sila lengkapkan Soalan C7'"></app-nota-pendek>
<app-radio-fnum-ori
  [num]="'C.7'"
  [text]="'Adakah pertubuhan tuan menjalankan aktiviti R&D pada tahun rujukan? JIka YA, sila isikan matlumat berkaitan aktiviti R&D yang dilaksanakan secara dalaman (sendiri) sahaja.'"
  [field_number]="'330035'"
>
</app-radio-fnum-ori>
<app-nota-pendek [text]="'Jika YA, Sila ke soalan C8 hingga C12'"></app-nota-pendek>
<app-nota-pendek [text]="'Jika TIDAK, TAMAT bagi seksyen ini'"></app-nota-pendek>
<hr>

<div class="row">
  <div class="col-md-6">
    <label> C.8 Perbelanjaan semasa terhadap R&D</label>
  </div>
  <div class="col-md-6 text-center">
    <label>Nilai (RM)</label>
    <label class="field_number" style="float: right; color: blue;">3300</label>
  </div>
</div>
<app-text-fnum-single-inline
  [num]="'(a)'"
  [text1]="'Kos buruh '"
  [field_number]="'36'"
></app-text-fnum-single-inline>

<app-text-fnum-single-inline
  [num]="'(b)'"
  [text1]="'Kos operasi '"
  [field_number]="'37'"
></app-text-fnum-single-inline>

<app-text-fnum-single-inline
  [num]="'(c)'"
  [text1]="'Kos berulang lain '"
  [field_number]="'38'"
></app-text-fnum-single-inline>
<hr>

<div class="row">
  <div class="col-md-6">
    <label> C.9 Perbelanjaan modal terhadap R&D</label>
  </div>
  <div class="col-md-6 text-center">
    <label>Nilai (RM)</label>
    <label class="field_number" style="float: right; color: blue;">3300</label>
  </div>
</div>
<app-text-fnum-single-inline
  [num]="'(a)'"
  [text1]="'Tanah, bangunan & struktur lain '"
  [field_number]="'39'"
></app-text-fnum-single-inline>

<app-text-fnum-single-inline
  [num]="'(b)'"
  [text1]="'Kenderaan, loji, perisian, jentera & peralatan '"
  [field_number]="'40'"
></app-text-fnum-single-inline>

<app-text-fnum-single-inline
  [num]="'(c)'"
  [text1]="'Lain-lain'"
  [field_number]="'41'"
></app-text-fnum-single-inline>
<hr>

<div class="row">
  <div class="col-md-6">
    <label> C.10 Sumber dana R&D</label>
  </div>
  <div class="col-md-6 text-center">
    <label>Nilai (RM)</label>
    <label class="field_number" style="float: right; color: blue;">3300</label>
  </div>
</div>
<app-text-fnum-single-inline
  [num]="'(a)'"
  [text1]="'Dana sendiri '"
  [field_number]="'42'"
></app-text-fnum-single-inline>

<app-text-fnum-single-inline
  [num]="'(b)'"
  [text1]="'Syarikat swasta '"
  [field_number]="'43'"
></app-text-fnum-single-inline>

<app-text-fnum-single-inline
  [num]="'(c)'"
  [text1]="'Kerajaan'"
  [field_number]="'44'"
></app-text-fnum-single-inline>

<app-text-fnum-single-inline
  [num]="'(d)'"
  [text1]="'Institusi Pengajian Tinggi '"
  [field_number]="'45'"
></app-text-fnum-single-inline>

<app-text-fnum-single-inline
  [num]="'(e)'"
  [text1]="'Dana luar negara '"
  [field_number]="'46'"
></app-text-fnum-single-inline>

<app-text-fnum-single-inline
  [num]="'(f)'"
  [text1]="'Dana lain'"
  [field_number]="'47'"
></app-text-fnum-single-inline>
<hr>

<table style="width: 100%;">
  <tr>
    <td style="width: 7%;" >C.11</td>
    <td colspan="6">Sila nyatakan peratusan jenis aktiviti R&D:</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3">(a) Penyelidikan asas</td>
    <td><input type="text" id="F310046" name="F310046" class="form-control"></td>
    <td>(%)</td>
    <td class="field_number text-center">330048</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3">(b) Penyelidikan gunaan</td>
    <td><input type="text" id="F310047" name="F310047" class="form-control"></td>
    <td>(%)</td>
    <td class="field_number text-center">330049</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3">(c) Penyelidikan eksperimen</td>
    <td><input type="text" id="F310048" name="F310048" class="form-control"></td>
    <td>(%)</td>
    <td class="field_number text-center">330050</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3">JUMLAH</td>
    <td><input type="text" class="form-control text-center" value="100" readonly></td>
    <td>(%)</td>
    <td></td>
  </tr>
</table>
<hr>

<div class="row">
  <div class="col-md-1"><label>12.1</label></div>
  <div>Sila nyatakan maklumat pekerja yang terlibat dengan R&D:</div>
</div>
<div class="row">
  <div class="col-md-4 text-center">
  </div>

  <div class="col-md-4 text-center">
    <label class="field_number" style="float: right; color: blue;">3300</label>
    <label> Bilangan pekerja </label>
  </div>

  <div class="col-md-4 text-center">
    <label class="field_number" style="float: right; color: blue;">3300</label>
    <label> Gaji dan upah tahunan <br> RM </label>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <label>(a)</label>
  </div>
  <div class="col-md-3">
    <label>Penyelidik</label>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text field_number">51</span>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text field_number">54</span>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <label>(b)</label>
  </div>
  <div class="col-md-3">
    <label>Juruteknik dan profesional bersekutu</label>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text field_number">52</span>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text field_number">55</span>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <label>(c)</label>
  </div>
  <div class="col-md-3">
    <label>Pekerja sokongan perkeranian </label>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text field_number">53</span>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text field_number">56</span>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>
</div>

