ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}
li {
  display: block;
  margin-bottom: .5em;
  margin-left: 2em;
}
li::before {
  display: inline-block;
  content: "(" counter(item) ") ";
  counter-increment: item;
  width: 2em;
  margin-left: -2em;
}

.box {
  background-color: lightgrey;
  padding: 5px;
}

table {
  font-size: 12px;
}
.input-group-prepend span {
  background-color: transparent;
  border: none;
}

.input-group {
  height: 40px;
}
.field_number {
  color: blue;
  font-size: 12px;
}

.form-control {
  font-size: 12px;
}

.row, label {
  font-size: 12px;

}

