<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="jumbotron">
      <h1 class="display-3 text-center" style="font-family: Arial, Helvetica, sans-serif;">Sistem Prosesan AES</h1>
      <hr class="my-4">
      <h2>Register</h2>
      <form>
        <fieldset>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password">
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" class="form-control" id="confirm-password" placeholder="Enter confirm password">
          </div>
        </fieldset>
      </form>
      <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/login" role="button">Register</a>
        <a class="btn btn-link btn-lg" routerLink="/login" role="button">Cancel</a>
      </p>
    </div>
  </div>
</div>