<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">
      Adakah pertubuhan tuan menerima pesanan (jualan) barangan atau perkhidmatan menggunakan
      internet dalam tempoh laporan?
    </label>
    <br>
    <label class="fnum">310043</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310043" id="F3100431" value="1">
        <span class="fnum">1</span> Ya
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310043" id="F3100432" value="2">
        <span class="fnum">2</span> Tidak
      </label>
    </div>
    <div class="well">
      <div class="note">
        Jika TIDAK, sila ke Soalan 4.21
      </div>
    </div>
    <div class="well">
      <div class="note">
        Termasuk: <br>
        <ol>
          <li>Melalui laman web, <i>specialised internet marketplaces, extranet,</i>EDI <i>over the internet,</i>
          telefon mudah alih yang membolehkan akses internet.</li>
          <li>Pesanan yang diterima bagi pihak organisasi lain.</li>
          <li>Pesanan yang diterima oleh organisasi lain bagi pihak perniagaan anda.</li>
        </ol>
        Tidak termasuk: <br>
        Penghantaran pesanan melalui e-mel.
      </div>
    </div>
  </div>
</div>