<app-pejabat [field_number]=""></app-pejabat>
<app-basic-text [name]="'nama'" [label]="'Nama'"></app-basic-text>
<app-basic-text [name]="'jawatan'" [label]="'Jawatan'"></app-basic-text>
<app-basic-text [name]="'telefon'" [label]="'Telefon'"></app-basic-text>
<app-basic-text [name]="'no-faks'" [label]="'No. Faks'"></app-basic-text>
<app-basic-text [name]="'e-mel'" [label]="'E-mel'"></app-basic-text>

<small>
  Dengan ini saya mengesahkan bahawa maklumat yang diberi adalah lengkap dan betul sepanjang
  pengetahuan dan kepercayaan saya.
</small>

<app-basic-text [name]="'tarikh'" [label]="'Tarikh'"></app-basic-text>