.wells {
    background-color: lightgrey;
    padding: 7px;
    margin: 2px;
    border: solid 0.5px grey;
    border-radius: 10px;
}

.field-number {
    float: right;
    position: relative;
    bottom: 65px;
}