<div class="row">
  <div class="col-md-1"><label class="col-form-label col-form-label-sm">12.1</label></div>
  <div><label class="col-form-label col-form-label-sm">Sila laporkan jumlah import dan eksport dalam tahun rujukan bagi:</label></div>
</div>
<div class="row">
  <div class="col-md-4 text-center">
  </div>

  <div class="col-md-4 text-center">
    <label class="fnum" style="float: right; padding-top: 25px;">3201</label>
    <label class="col-form-label col-form-label-sm"> Import Nilai <br> RM </label>
  </div>

  <div class="col-md-4 text-center">
    <label class="fnum" style="float: right; padding-top: 25px;">3202</label>
    <label class="col-form-label col-form-label-sm"> Eksport Nilai <br> RM </label>
  </div>

</div>

<div class="row">
  <div class="col-md-1">
    <label class="col-form-label col-form-label-sm">(a)</label>
  </div>
  <div class="col-md-3">
    <label class="col-form-label col-form-label-sm">Barangan</label>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">01</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">01</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <label class="col-form-label col-form-label-sm">(b)</label>
  </div>
  <div class="col-md-3">
    <label class="col-form-label col-form-label-sm">Perkhidmatan</label>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">02</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">02</span>
      </div>
      <input type="text" class="form-control form-control-sm">
    </div>
  </div>
</div>
