<div class="row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm"> (a) Adakah pertubuhan tuan berdaftar untuk Cukai Barang dan Perkhidmatan (CBP)? </label>
    <br>
    <label class="fnum">010036</label>
    <div class="form-group">
      <div class="form-check input-group">
        <label class="form-check-label col-form-label col-form-label-sm">
          <input type="radio" class="form-check-input" name="F010036" id="F0100361" value="1">
          <span class="fnum">1</span> Ya
        </label>
          <span class="well note ml-2">Jika Ya, sila ke Soalan {{ num }} (b)</span>
      </div>
      <br>
      <div  class="form-check">
        <label class="form-check-label col-form-label col-form-label-sm">
          <input type="radio" class="form-check-input" name="F010036" id="F0100362" value="2">
          <span class="fnum">2</span> Tidak
          <span class="well note ml-2">Jika Tidak, sila ke Soalan {{ num2 }}</span>
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">(b) Sila tandakan jenis pembekalan CBP yang berkenaan</label>
    <br>
    <span class="fnum">0100</span>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="form-group row">
      <div *ngFor="let row of array" class="col-md-3">
        <div class="form-check">
          <label for="F0100{{ row.fnum }}" class="form-check-label col-form-label col-form-label-sm">
            <input type="checkbox" class="form-check-input" id="F0100{{ row.fnum }}" name="F0100{{ row.fnum }}">
            <span class="fnum">{{ row.fnum }}</span> {{ row.text }}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
