<div *ngIf="id === 1" class="ralat">
  <hr>
  <h5>Soalan 1</h5>
  <table>
    <tr>
      <td valign="top">41100001</td>
      <td valign="top">:</td>
      <td>The Survey Code is 411.</td>
    </tr>
    <tr>
      <td valign="top">41101002</td>
      <td valign="top">:</td>
      <td>The establishment number must 
          match with the number in the 
          survey frame as installed in 
          the data capture programming 
          system for each survey
      </td>
    </tr>
    <tr>
      <td valign="top">41100003</td>
      <td valign="top">:</td>
      <td>All the fields must NOT BE NEGATIVE except (Q3) F030002 can be negative.</td>
    </tr>
    <tr>
      <td valign="top">41101001</td>
      <td valign="top">:</td>
      <td>F010002 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41101002</td>
      <td valign="top">:</td>
      <td>F010028 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41101003</td>
      <td valign="top">:</td>
      <td>F010029 must be filled. (This field refers to MSIC code in mailing label).</td>
    </tr>
    <tr>
      <td valign="top">41101004</td>
      <td valign="top">:</td>
      <td>F010030 must be filled.</td>
    </tr>
  </table>
  <hr>
  <h5>Soalan 2</h5>
  <table>
    <tr>
      <td valign="top">41102001</td>
      <td valign="top">:</td>
      <td>F020001 must be filled either 1, 2, 3, 4, 5, 6, 7 or 9.</td>
    </tr>
    <tr>
      <td valign="top">41102002</td>
      <td valign="top">:</td>
      <td>If F020001 is 1, 2, 3 or 9 then F020002 must be 1 or 2.</td>
    </tr>
    <tr>
      <td valign="top">41102003</td>
      <td valign="top">:</td>
      <td>If F020001 is 4, 5, 6 or 7, then F020002 must NOT be filled.</td>
    </tr>
  </table>
  <hr>
  <h5>Soalan 3</h5>
  <table>
    <tr>
      <td valign="top">41103001</td>
      <td valign="top">:</td>
      <td>F030001 must be ≥ 0.</td>
    </tr>
    <tr>
      <td valign="top">41103002</td>
      <td valign="top">:</td>
      <td>F030003 + F030004 + F030005 + F030006 + F030007 + F030008 + F030009 + F030010 + F030011 = 100.</td>
    </tr>
    <tr>
      <td valign="top">41103003</td>
      <td valign="top">:</td>
      <td>If F020001 is 1, 2 or 7, then F030010 must NOT be filled.</td>
    </tr>
    <tr>
      <td valign="top">41103004</td>
      <td valign="top">:</td>
      <td>If F020001 is 5, then F030011 must not be filled</td>
    </tr>
    <tr>
      <td valign="top">41103005</td>
      <td valign="top">:</td>
      <td>If F020001 is 6, then F030010 must = 100.</td>
    </tr>
    <tr>
      <td valign="top">41103006</td>
      <td valign="top">:</td>
      <td>If F030011 > 50%, then F030012 must be filled with 3 digits.</td>
    </tr>
    <tr>
      <td valign="top">41103007</td>
      <td valign="top">:</td>
      <td>If F030011 > 50%, then F030013 must be filled</td>
    </tr>
  </table>
  <hr>
  <h5>Soalan 4A</h5>
  <table>
    <tr>
      <td valign="top">41104001</td>
      <td valign="top">:</td>
      <td>F310001 must be filled either 1 or 2.</td>
    </tr>
    <tr>
      <td valign="top">41104002</td>
      <td valign="top">:</td>
      <td>F310081 must be > 0.</td>
    </tr>
    <tr>
      <td valign="top">41104003</td>
      <td valign="top">:</td>
      <td>If F310001 is 1, then F310002 must be within in range of 1 to 100.</td>
    </tr>
    <tr>
      <td valign="top">41104004</td>
      <td valign="top">:</td>
      <td>If F310001 is 2, then F310002 must NOT be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104005</td>
      <td valign="top">:</td>
      <td>F310003 must be filled either 1 or 2</td>
    </tr>
    <tr>
      <td valign="top">41104006</td>
      <td valign="top">:</td>
      <td>
        If F310004, F310005, F310006, F310007, 
        F310008, F310009, F310010, F310011, F310012, 
        F310013, F310014, F310015, F310016, F310021, F310022,
        F310023, F310024, F310025, F310026, F310027, F310028, F310029, 
        F310030, F310031, F310032, F310033, F310034 or F310035 is 
        filled then F310003 = 1.
      </td>
    </tr>
    <tr>
      <td valign="top">41104007</td>
      <td valign="top">:</td>
      <td>If F310003 = 1, then F310004 must be within in range 1 to 100.</td>
    </tr>
    <tr>
      <td valign="top">41104008</td>
      <td valign="top">:</td>
      <td>If F310003 = 1, then F310005,  F3100306, F310007, F310008, F310009 or F310010 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104009</td>
      <td valign="top">:</td>
      <td>If F310005,  F310006, F310007, F310008 or F310009 is filled, then F310010 must NOT be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104010</td>
      <td valign="top">:</td>
      <td>If F310010 = 1, then F310005, F310006, F310007, F310008 and F310009 must NOT be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104011</td>
      <td valign="top">:</td>
      <td>If F310003 = 1, then F310011 or F310012 or F310013  must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104012</td>
      <td valign="top">:</td>
      <td>If F310013 = 1, then F310014, F310015 or F310016 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104013</td>
      <td valign="top">:</td>
      <td>If F310003 = 1, then F310017 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104014</td>
      <td valign="top">:</td>
      <td>If F310017 = 1, then F310018 or F310019 or F310020 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104015</td>
      <td valign="top">:</td>
      <td>If F310017 = 2, then F310018, F310019 and F310020 must NOT be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104016</td>
      <td valign="top">:</td>
      <td>If F310003 = 1, then F310021, F310022, F310023, F310024, F310025, F310026, F310027, F310028, F310029, F310030, F310031, F310032 or F310033 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104017</td>
      <td valign="top">:</td>
      <td>If F310003 = 1, then F310034 must be filled either 1 or 2.</td>
    </tr>
    <tr>
      <td valign="top">41104018</td>
      <td valign="top">:</td>
      <td>If F310003 = 1, then F310035 must be filled either 1 or 2.</td>
    </tr>
  </table>
  <hr>
  <h5>Soalan 4B</h5>
  <table>
    <tr>
      <td valign="top">41104019</td>
      <td valign="top">:</td>
      <td>F310036 must be filled either 1 or 2.</td>
    </tr>
    <tr>
      <td valign="top">41104020</td>
      <td valign="top">:</td>
      <td>
        If F310037, F310038, F310039, F310040, F310041, F310042, F310043, F310044, F310045, F310046, F310047, F310048, F310049, F310050, F310051, F310052, F310053, F310054, F310055, F310056, F310057, F310058, F310059, F310060, F310061, F310062, F310063, F310064, F310065, F310066, F310067, F310068, F310069, F310070, F310071, F310072, F310073, F310074, F310075, F310076, F310077, F310078, F310079 or F310080 = 1, THEN F310036 = 1.
      </td>
    </tr>
    <tr>
      <td valign="top">41104021</td>
      <td valign="top">:</td>
      <td>If F310036 = 1, then F310037, F310038, F310039, F310040, F310041 or F310042 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104022</td>
      <td valign="top">:</td>
      <td>F310043 must be filled either 1 or 2.</td>
    </tr>
    <tr>
      <td valign="top">41104023</td>
      <td valign="top">:</td>
      <td>F310043 = 1, THEN F080089 must be > 0.</td>
    </tr>
    <tr>
      <td valign="top">41104024</td>
      <td valign="top">:</td>
      <td>If F310043 is 1, then F310044 or F310045 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104025</td>
      <td valign="top">:</td>
      <td>If F310045 is filled, then must be within range 1 to 100.</td>
    </tr>
    <tr>
      <td valign="top">41104026</td>
      <td valign="top">:</td>
      <td>If F310045 > 0 AND F310044 > 0, then F310044 = (F310045 x F080089)/100.</td>
    </tr>
    <tr>
      <td valign="top">41104027</td>
      <td valign="top">:</td>
      <td>If F310044 > 0, then F310044 ≤ F080089.</td>
    </tr>
    <tr>
      <td valign="top">41104028</td>
      <td valign="top">:</td>
      <td>If  F310043 = 1, then (F310046 + F310047 + F310048 + F310049)= 100.</td>
    </tr>
    <tr>
      <td valign="top">41104029</td>
      <td valign="top">:</td>
      <td>If F310049 is > 0, then F310050 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104030</td>
      <td valign="top">:</td>
      <td>If F310050 is filled then F310049 > 0.</td>
    </tr>
    <tr>
      <td valign="top">41104031</td>
      <td valign="top">:</td>
      <td>If F080089, F310044, F310045, F310046, F310047, F310048, F310049, F310050, F310051, F310052, F310053, F310054, F310055, F310056, F310057 or F310058 is filled then F310043 = 1.</td>
    </tr>
    <tr>
      <td valign="top">41104032</td>
      <td valign="top">:</td>
      <td>If F310043 is 1, then, (F310051 + F310052 + F310053) = 100.</td>
    </tr>
    <tr>
      <td valign="top">41104033</td>
      <td valign="top">:</td>
      <td>If F310043 is 1, then, (F310054 + F310055) = 100.</td>
    </tr>
    <tr>
      <td valign="top">41104034</td>
      <td valign="top">:</td>
      <td>If F310055 ≥ 0, then, F310056, F310057 or F310058 must  be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104035</td>
      <td valign="top">:</td>
      <td>If F310056 is filled then F310059 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104036</td>
      <td valign="top">:</td>
      <td>If F310057 is filled then F310060 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104037</td>
      <td valign="top">:</td>
      <td>If F310058 is filled then F310061 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104038</td>
      <td valign="top">:</td>
      <td>F310062 must be 1 or 2.</td>
    </tr>
    <tr>
      <td valign="top">41104039</td>
      <td valign="top">:</td>
      <td>If F310063, F310064, F310065, F310066, F310067, F310068, F310069, F310070, F310071 or F310072 is filled then F310062 = 1.</td>
    </tr>
    <tr>
      <td valign="top">41104040</td>
      <td valign="top">:</td>
      <td>If F310043 = 1, THEN F090089 must be > 0.</td>
    </tr>
    <tr>
      <td valign="top">41104041</td>
      <td valign="top">:</td>
      <td>If F310062 = 1, then F310063 or F310064 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104042</td>
      <td valign="top">:</td>
      <td>If F310064 is filled, then F310064 must be within range 1 to 100.</td>
    </tr>
    <tr>
      <td valign="top">41104043</td>
      <td valign="top">:</td>
      <td>If F310064 > 0 AND F310063 > 0, then F310063= (F310064 x F090089)/100.</td>
    </tr>
    <tr>
      <td valign="top">41104044</td>
      <td valign="top">:</td>
      <td>If F310063 > 0, then F310063 ≤  F090089.</td>
    </tr>
    <tr>
      <td valign="top">41104045</td>
      <td valign="top">:</td>
      <td>If  F310062 = 1 then, (F310065 + F310066 + F310067) = 100.</td>
    </tr>
    <tr>
      <td valign="top">41104046</td>
      <td valign="top">:</td>
      <td>If  F310062 = 1 then (F310068 + F310069)  = 100.</td>
    </tr>
    <tr>
      <td valign="top">41104047</td>
      <td valign="top">:</td>
      <td>If F310069 ≥ 0, then, F310070, F310071 or F310072 must  be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104048</td>
      <td valign="top">:</td>
      <td>If F310070 is filled then F310073 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104049</td>
      <td valign="top">:</td>
      <td>If F310071 is filled then F310074 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104050</td>
      <td valign="top">:</td>
      <td>If F310072 is filled then F310075 must be filled.</td>
    </tr>
    <tr>
      <td valign="top">41104051</td>
      <td valign="top">:</td>
      <td>F310076 must be filled either 1 or 2.</td>
    </tr>
    <tr>
      <td valign="top">41104052</td>
      <td valign="top">:</td>
      <td>If 310076 is 1, then F310077 AND 310079 must be > 0.</td>
    </tr>
    <tr>
      <td valign="top">41104053</td>
      <td valign="top">:</td>
      <td>If F310076 is 1, then F310078 OR F310080 must be within range 1 to 100.</td>
    </tr>
  </table>
</div>
<div *ngIf="id === 2" class="ralat">
  <hr>
  <h5>Soalan 1</h5>
  <hr>
  <h5>Soalan 2</h5>
  <hr>
  <h5>Soalan 3</h5>
  <hr>
  <h5>Soalan 4</h5>
  <hr>
  <h5>Soalan 5</h5>
  <hr>
  <h5>Soalan 6</h5>
  <hr>
  <h5>Soalan 7</h5>
  <hr>
  <h5>Soalan 8</h5>
  <hr>
  <h5>Soalan 9</h5>
  <hr>
  <h5>Soalan 10</h5>
  <hr>
  <h5>Soalan 11</h5>
  <hr>
  <h5>Soalan 12</h5>
  <hr>
  <h5>Soalan 13</h5>
  <hr>
  <h5>Soalan 14</h5>
  <hr>
  <h5>Soalan 15</h5>
  <hr>
  <h5>Soalan 16</h5>
</div>
<div *ngIf="id === 3 || id === 4 || id === 5 || id === 6" class="ralat">
  <hr>
  <h5>Soalan 1</h5>
  F010002 must be filled<br>
  F010040 must be 1 or 2 or 3<br>
  Year of F010003 must be 4 digits and must be less than or equal to the year of F010004<br>
  F010004 and F010005 must be 8 digits<br>
  Year of F010004 must be in Year 2016 or 2017 <br>
  Year of F010005 must be in Year 2017 or 2018<br>
  Date of F010004 must be within 01072016 to 30062017<br>
  Date of F010005 must be within 01072017 to 30062018<br>
  If Month is 01, 03, 05, 07, 08, 10 or 12, then the code for Day must be < 32 days<br>
  If Month is 04, 06, 09 or 11, the code for Day must be < 31 days<br>
  If Month is 02, then the code for Day must < 29 days<br>
  Range date from F010004 to F010005 must be equal or more than 6 months in Year 2017<br>
  Range date from F010004 to F010005 must be less than or equal to 12 months (less than 366 days)<br>
  If range date from F010004 to F010005 is less than 12 months (less than 366 days), then any of F010006 to F010012 must be filled<br>
  If F010006 to F010012 is filled, then must be filled as 1;
  If not, then default to 0<br>
  If F010012 is 1, then F010013 must be filled<br>
  If F010014 is filled, then F010015 must be filled<br>
  If F010015 is filled, then F010014 must be filled<br>
  If F010015 is filled, then F010015 must map with F010017 based on lookup file (F010015=5 digit)<br>
  F010016 must be 1 or 2 <br>
  F010017 must be two (2) digits (State) and must be between 01 to 16 (State Code)<br>
  F010018 must be two (2) digits (Administration District) and must be between 01 to 32 (District Code)<br>
  F010019 must be three (3) digits (Census District)<br>
  F010020 must be ≥ 3 digits and ≤ 6 digits (EB No.)<br>
  F010021 must be 1 digit (Strata)<br>
  If F010017 is 01 then F010018 must be between 01 to 10<br>
  If F010017 is 02, then F010018 must be between 01 to 12<br>
  If F010017 is 03, then F010018 must be 01 to 11<br>
  If F010017 is 04, then F010018 must be 01 to 03<br>
  If F010017 is 05, then F010018 must be 01 to 07<br>
  If F010017 is 06, then F010018 must be 01 to 11<br>
  If F010017 is 07, then F010018 must be 01 to 05<br>
  If F010017 is 08, then F010018 must be 01 to 11<br>
  If F010017 is 09, then F010018 must be 01<br>
  If F010017 is 10, then F010018 must be 01 to 09<br>
  If F010017 is 11, then F010018 must be 01 to 08<br>
  If F010017 is 12, then F010018 must be 01 to 25<br>
  If F010017 is 13, then F010018 must be 01 to 32<br>
  If F010017 is 14, then F010018 must be 01<br>
  If F010017 is 15, then F010018 must be 01<br>
  If F010017 is 16, then F010018 must be 01<br>
  F010022 must be two (2) digits (State) and must be between 01 to 16 (State Code)<br>
  F010023 must be two (2) digits (Administration District) and must be between 01 to 32 (District Code)<br>
  F010024 must be three (3) digits (Census District)<br>
  F010025 must be ≥ 3 digits and ≤ 6 digits (EB No.)<br>
  F010026 must be 1 digit (Strata)<br>
  If F010022 is 01, then F010023 must be 01 to 10<br>
  If F010022 is 02, then F010023 must be 01 to 12<br>
  If F010022 is 03, then F010023 must be 01 to 11<br>
  If F010022 is 04, then F010023 must be 01 to 03<br>
  If F010022 is 05, then F010023 must be 01 to 07<br>
  If F010022 is 06, then F010023 must be 01 to 11<br>
  If F010022 is 07, then F010023 must be 01 to 05 <br>
  If F010022 is 08, then F010023 must be 01 to 11<br>
  If F010022 is 09, then F010023 must be 01<br>
  If F010022 is 10, then F010023 must be 01 to 09<br>
  If F010022 is 11, then F010023 must be 01 to 08<br>
  If F010022 is 12, then F010023 must be 01 to 25 <br>
  If F010022 is 13, then F010023 must be 01 to 32<br>
  If F010022 is 14, then F010023 must be 01<br>
  If F010022 is 15, then F010023 must be 01<br>
  If F010022 is 16, then F010023 must be 01<br>
  F010028 must be filled<br>
  F010029 must be filled. (This field refers to MSIC code in mailing label)<br>
  If the Survey Code is 310, then F010030 must be 59110, 59120, 59130, 59140, 59200, 60100 or 60200<br>
  If the Survey Code is 319, then F010030 must be 61101, 61201, 61300, 61901 or 61909 <br>
  If the Survey Code is 320, then F010030 must be 62010, 62021, 62022, 62091, 62099, 63111, 63112, 63120 or 63990 <br>
  If the Survey Code is 330, then F010030 must be 58110, 58120, 58130, 58190, 58201, 58202 or 58203<br>
  F010035 must be 1 or 2<br>
  F010036 must be 1 or 2<br>
  If F010036 equal to 1 then either F010037, F010038 or F010039 must be filled as 1<br>
  If F010037, F010038 or F010039 is filled then F010036 must be equal to 1<br>
  <hr>
  <h5>Soalan 2</h5>
  F020001 must be filled either 1, 2, 3, 4, 5, 6, 7 or 9<br>
  If F020001 is 1, 2, 3 or 9 then F020002 must be 1 or 2<br>
  If F020001 is 4, 5, 6 or 7, then F020002 must NOT be filled<br>
  If F020002 = 1, then (F051601 + F051603) > 0<br>
  If F020001 is 4 or 6, then F050701, F050702, F051601 AND F051602 must NOT be filled<br>
  <hr>
  <h5>Soalan 3</h5>
  F030001 must be ≥ 0<br>
  F030003 + F030004 + F030005 + F030006 + F030007 + F030008 + F030009 + F030010 + F030011 = 100<br>
  If F020001 is 1, 2 or 7, then F030010 must NOT be filled<br>
  If F020001 is 5, then F030011 must NOT be filled<br>
  If F020001 is 6, then F030010 must = 100<br>
  If F030011 > 50%, then F030012 must be filled with 3 digits<br>
  If F030011 > 50%, then F030013 must be filled<br>
  <hr>
  <h5>Soalan 4</h5>
  F040199 = F040101 + F040102 + F040103 + F040104 + F040105 + F040106 + F040107 + F040108 + F040109 + F040110 + F040111 + F040112 + F040113 + F040114<br>
  F040299 = F040202 + F040203 + F040205 + F040206 + F040208 + F040209 + F040210 + F040214<br>
  F040399 = F040301 + F040302 + F040303 + F040304 + F040305 + F040306 + F040307 + F040308 + F040309 + F040310 + F040311 + F040312 + F040313 + F040314<br>
  F040399 must be < F040404<br>
  F040403 must be < F040404<br>
  F040501 = F040199 + F040299 + F040401 + F040402 + F090012<br>
  F040403 = F090024<br>
  F040501 must be > (F040199 + F040299 - F040101 - F040111 - F040112 - F040399)<br>
  The SUM of F040405 + F090019 + F090020 + F090021 + F090022 + F090023 > 0<br>
  <hr>
  <h5>Soalan 5A</h5>
  <hr>
  <h5>Soalan 5B</h5>
  <hr>
  <h5>Soalan 6A</h5>
  <hr>
  <h5>Soalan 6B</h5>
  <hr>
  <h5>Soalan 7</h5>
  <hr>
  <div *ngIf="id === 3">
  <h5>Soalan 8.1A</h5>
  <hr>
  </div>
  <div *ngIf="id === 4">
  <h5>Soalan 8.1B</h5>
  <hr>
  </div>
  <div *ngIf="id === 5">
  <h5>Soalan 8.1C</h5>
  <hr>
  </div>
  <div *ngIf="id === 6">
  <h5>Soalan 8.1D</h5>
  <hr>
  </div>
  <h5>Soalan 8</h5>
  <hr>
  <h5>Soalan 9</h5>
  <hr>
  <h5>Soalan 10</h5>
  <hr>
  <h5>Soalan 11</h5>
  <hr>
  <h5>Seksyen A 1</h5>
  <hr>
  <h5>Seksyen A 2</h5>
  <hr>
  <h5>Seksyen B</h5>
  <hr>
  <h5>Seksyen C</h5>
  <hr>
  <h5>Seksyen D</h5>
</div>