<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-4">
          <img class="img" src="assets/jatanegara.png" alt="Jata Negara">
        </div>
        <div class="col-md-8">
          <h1 class="text-center" style="font-family: Arial, Helvetica, sans-serif;">
            Sistem Prosesan AES dan ICTec 2018
          </h1>
        </div>
      </div>
      <hr class="my-4">
      <h2>Log Masuk</h2>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <fieldset>
          <div class="form-group">
            <label for="username">ID Pengguna:</label>
            <input type="text" class="form-control" id="realName"  required ngModel #realName="ngModel" name="realName" placeholder="Masukkan ID Pengguna">
          </div>
          <div *ngIf="realName.invalid && (realName.dirty || realName.touched)" class="alert alert-danger">
            <div *ngIf="realName.errors.required">
                User ID is required.
            </div>
          </div>
          <div class="form-group">
            <label for="password">Kata Laluan:</label>
            <input type="password" class="form-control" id="password" required ngModel #password="ngModel" name="password" placeholder="Masukkan Kata Laluan">
          </div>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
                Password is required.
            </div>
          </div>
        </fieldset>
          <p class="lead">
            <!--<a class="btn btn-primary btn-lg" routerLink="/aes" role="button">Log Masuk</a>-->
            <button class="btn btn-primary btn-lg" [disabled]="!loginForm.form.valid" type="submit">Log Masuk</button>
            <!--<a class="btn btn-link btn-lg" routerLink="/register" role="button">Register</a>-->
          </p>
      </form>
    </div>
  </div>
</div>