<div class="well">
  <label class=" col-form-label col-form-label-sm">Kegunaan Pejabat</label>
  <div class="form-group row">
    <label for="F010034" class="col-md-9 col-form-label col-form-label-sm">(a) Kod Industri Sekunder</label>
    <div class="input-group col-md-3">
      <input type="text" class="form-control form-control-sm" name="F010034" id="F010034">
      <span class="fnum mt-2 ml-2">010034</span>
    </div>
  </div>
</div>
