<div>
  <div class="row">
    <div class="col-md-12">
      <app-edit-spek-header 
        [name]="kodPenyiasatan.name" 
        [code_no]="kodPenyiasatan.code_no"
        [no_siri]="noSiri.code_no"
        [tahun_rujukan]="tahunRujukan.tahun"
        [id]="kodPenyiasatan.id">
      </app-edit-spek-header>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8">
      <form>
        <app-edit-spek-soalan [id]="kodPenyiasatan.id" [borang]="borang"></app-edit-spek-soalan>
        <hr>
        <div class="container">
          <button type="button" class="btn btn-primary">Simpan</button>
          <button type="button" class="btn btn-success">Validasi Editspek</button>
          <button type="button" class="btn btn-danger" disabled>Validasi FA</button>
          <button type="button" class="btn btn-warning" disabled>Hantar</button>
        </div>
      </form>
  </div>
  <div class="col-md-4" style="border-left: solid 1px lightgrey;">
    <h5>Keterangan Ralat</h5>
    <app-edit-spek-validasi [id]="kodPenyiasatan.id"></app-edit-spek-validasi>
  </div>
</div>