.wells {
    background-color: beige;
    padding: 5px;
    margin: 2px;
    border: solid 0.5px lightgrey;
    border-radius: 10px;
    font-size: 14px;
}

.field_number {
    color: blue;
    font-size: 14px;
}
.table-borderless td,
.table-borderless th {
    border: 0;
  font-size: 14px;
}

.ralat {
    color: red;
}

.btn {
    margin: 10px;
}

.form-control, label, .form-group {
    font-size: 14px;
}


.form-check-label, .note, .font14 {
  font-size: 14px;
}


.input-group-prepend span {
  background-color: transparent;
  border: none;
}

.input-group-text {
  height: 40px;
}
