<div class="well">
  <div class="form-group">
    <table class="table table-borderless">
      <tr>
        <td colspan="6">
          KEGUNAAN PEJABAT
          <hr>
        </td>
      </tr>
      <tr class="text-center">
        <td style="width: 20%;"></td>
        <td>Negeri</td>
        <td>Daerah Pentadbiran</td>
        <td>Daerah Banci</td>
        <td>No. BP</td>
        <td>Strata</td>
      </tr>
      <tr>
        <td>{{ label }}</td>
        <td><span class="fnum">010017</span><input type="text" class="form-control"></td>
        <td><span class="fnum">010018</span><input type="text" class="form-control"></td>
        <td><span class="fnum">010019</span><input type="text" class="form-control"></td>
        <td>
          <div class="form-group">
            <span class="fnum">010020</span>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-text">-</span>
              <input type="text" class="form-control">
            </div>
          </div>
        </td>
        <td><span class="fnum">010021</span><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <td>Kod alamat pos</td>
        <td><span class="fnum">010022</span><input type="text" class="form-control"></td>
        <td><span class="fnum">010023</span><input type="text" class="form-control"></td>
        <td><span class="fnum">010024</span><input type="text" class="form-control"></td>
        <td>
          <div class="form-group">
            <span class="fnum">010025</span>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-text">-</span>
              <input type="text" class="form-control">
            </div>
          </div>
        </td>
        <td><span class="fnum">010026</span><input type="text" class="form-control"></td>
      </tr>
    </table>
  </div>
</div>
