<form>
  <fieldset>
    <legend><small>Online Data Entry</small></legend>

    <div class="form-group row">
      <label for="negeri" class="col-md-2 col-form-label">Pilih Negeri</label>
      <div class="col-md-4">
        <select (change)="onChange($event, 'negeri')" class="form-control" id="negeri" name="negeri">
          <option value="">Pilih Negeri</option>
          <option *ngFor="let row of negeri" value="{{ row.id }}">{{ row.code_no }} - {{ row.name }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="pejabat-operasi" class="col-md-2 col-form-label">Pilih Pejabat Operasi</label>
      <div class="col-md-4">
        <select (change)="onChange($event, 'pejabat-operasi')" class="form-control" id="pejabat-operasi" name="pejabat_operasi">
          <option value="">Pilih Pejabat Operasi</option>
          <option *ngFor="let row of pejabatOperasi" value="{{ row.id }}">{{ row.code_no }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="kod-penyiasatan" class="col-md-2 col-form-label">Pilih Kod Penyiasatan</label>
      <div class="col-md-4">
        <select (change)="onChange($event, 'kod-penyiasatan')" class="form-control" id="kod-penyiasatan" name="kod_penyiasatan">
          <option value="">Pilih Kod Penyiasatan</option>
          <option *ngFor="let row of kodPenyiasatan" [value]="row.id">{{ row.code_no }} - {{ row.name }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="tahun-rujukan" class="col-md-2 col-form-label">Pilih Tahun Rujukan</label>
      <div class="col-md-4">
        <select (change)="onChange($event, 'tahun-rujukan')" class="form-control" id="tahun-rujukan" name="tahun_rujukan">
          <option value="">Pilih Tahun Rujukan</option>
          <option *ngFor="let row of tahunRujukan" [value]="row.id">{{ row.tahun }}</option>
        </select>
      </div>
    </div>
        <div class="form-group row">
          <label for="no-siri" class="col-md-2 col-form-label">Pilih Nombor Siri</label>
          <div class="col-md-3">
            <input type="text" (keyup)="onKeyupNoSiri($event)" class="form-control" id="no-siri" name="no_siri">
            <!--<select (change)="onChange($event, 'no-siri')" class="form-control" id="no-siri" name="no_Siri">
              <option value="">Pilih Nombor Siri</option>
              <option *ngFor="let row of noSiri" [value]="row.id">{{ row.code_no }}</option>
            </select>-->
          </div>

            <button type="button" class="btn btn-success" (click)="onSemak(selectedKP)" [disabled]="!btnSemak">Semak</button>
        </div>
    
    <div *ngIf="statusSemakan">
        <div class="form-group row">
          <label for="mesej" class="col-md-2 col-form-label">Mesej/Status:</label>
          <div class="col-md-4">
            <textarea name="" id="mesej" class="form-control" disabled>Berjaya</textarea>
          </div>
        </div>
        <div *ngIf="isShort">
          <div class="form-group row">
            <label for="jenis-borang" class="col-md-2 col-form-label">Pilih Jenis Borang</label>
            <div class="col-md-4">
              <select (change)="onPilihBorang($event)" class="form-control" id="jenis-borang" name="kategori_Syarikat">
                <option value="">Pilih Jenis Borang</option>
                <option value="SBU">Pendek - Umum</option>
                <option value="BBU">Panjang</option>
              </select>
            </div>
          </div>
        </div>
        <a routerLink="/aes/tangkapan-data/edit-spek/{{ selectedKP || 1 }}/{{ selectedNoSiri || 1}}/{{ selectedTahun || 1}}/{{ selectedBorang || 1 }}" class="btn btn-primary">Teruskan</a>
    </div>
  </fieldset>
</form>

    