<table class="font14" style="width: 100%;">
  <tr>
    <td style="width: 7%;" >{{ num }}</td>
    <td colspan="6">Sila nyatakan peratusan pendapatan e-Dagang mengikut platform pesanan pelanggan:</td>
  </tr>
  <tbody *ngFor="let row of array">
  <tr>
    <td></td>
    <td style="width: 1%;">{{ row.num }}</td>
    <td colspan="5" [innerHtml]="row.text" ></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td colspan="2" [innerHtml]="row.text2" ></td>
    <td style="width: 10%;"><input type="text" id="F{{ row.fnum }}" name="F{{ row.fnum }}" class="form-control form-control-sm"></td>
    <td style="width: 1%;">(%)</td>
    <td style="width: 1%;"  class="fnum text-center">{{ row.fnum }}</td>
  </tr>
  </tbody>
  <tr>
    <td></td>
    <td colspan="3">JUMLAH</td>
    <td><input type="text" class="form-control form-control-sm text-center" value="100" readonly></td>
    <td>(%)</td>
    <td></td>
  </tr>
</table>