<div class="form-group row">
  <label class="col-md-1">{{ num }}</label>
  <div class="col-md-11">
    <label>{{ text }}</label>
    <br>
    <label>Sila tanda (X) dalam satu kotak sahaja</label>
    <br>
    <label class="field_number">{{ field_number }}</label>
    <div class="custom-control custom-radio">
      <input type="radio" id="F{{ field_number }}1" name="F{{ field_number }}" class="custom-control-input">
      <label class="custom-control-label" for="F{{ field_number }}1"><span class="field_number">1</span> Ya</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="F{{ field_number }}2" name="F{{ field_number }}" class="custom-control-input">
      <label class="custom-control-label" for="F{{ field_number }}2"><span class="field_number">2</span> Tidak</label>
    </div>
  </div>
</div>
