<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <label class="col-md-5 col-form-label col-form-label-sm">
    Sila nyatakan jumlah pendapatan transaksi e-Dagang pertubuhan tuan dalam tempoh
    laporan (Tidak termasuk CBP)
  </label>
  <div class="input-group mb-3 col-md-6">
    <div class="input-group-prepend">
      <span class="input-group-text font14">RM</span>
    </div>
    <input type="text" class="form-control form-control-sm" id="F310044" name="F310044">
    <span class="input-group-addon fnum mt-2 ml-2">310044</span>
  </div>
  <div class="col-md-1"></div>
  <label class="col-md-11 col-form-label col-form-label-sm">atau</label>
  <div class="col-md-1"></div>
  <label class="col-md-7 col-form-label col-form-label-sm">
    sekiranya pendapatan transaksi e-Dagang tidak dapat dikemukakan, sila nyatakan peratusan
    pendapatan transaksi e-Dagang daripada jumlah pendapatan
  </label>
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" id="F310045" name="F310045">
      <span class="input-group-addon mt-2 ml-2 font14">(%)<span class="fnum ml-2">310045</span> </span>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="well note">
      Nota: <br> Bagi pesanan internet yang diterima bagi pihak organisasi lain, sila lapor hanya yuran atau komisen yang diterima
    </div>
  </div>
</div>
