<div class="row form-group">
  <label class="col-md-1">{{ num }}</label>
  <div class="col-md-5">
    <label for="Poskod">Poskod</label>
    <div class="input-group">
      <select class="form-control" id="Poskod" name="Poskod">
        <option value="" disabled selected>Poskod</option>
        <option *ngFor="let row of poskod" value="row.id">{{row.postcode}}, {{ row.location }}, {{row.state}}</option>
      </select>
      <span class="field_number mt-2 ml-2">010015</span>
    </div>
  </div>
</div>

