<div class="jumbotron">
  <h1 class="display-3">Sistem Prosesan AES dan ICTec 2018</h1>
  <p class="lead">Selamat Kembali, Pengguna!</p>
  <hr class="my-4">
  <p>Tiada berita buat masa ini.</p>
</div>