
<table class="font14" style="width: 100%;">
  <tr>
    <td style="width: 7%;" >{{ num }}</td>
    <td colspan="6">Sila nyatakan peratusan pendapatan e-Dagang mengikut platform pesanan pelanggan:</td>
  </tr>
  <tr *ngFor="let row of array">
    <td></td>
    <td *ngIf="!row.isOther" colspan="3">{{ row.text }}</td>
    <td *ngIf="row.isOther" >{{ row.text }}</td>
    <td *ngIf="row.isOther"><textarea id="F310050" name="F310050" class="form-control form-control-sm"></textarea></td>
    <td *ngIf="row.isOther" style="width: 10%;" class="fnum text-center">310050</td>
    <td style="width: 10%;"><input type="text" id="F{{ row.fnum }}" name="F{{ row.fnum }}" class="form-control form-control-sm"></td>
    <td style="width: 1%;">(%)</td>
    <td style="width: 1%;" class="fnum text-center">{{ row.fnum }}</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3">JUMLAH</td>
    <td><input type="text" class="form-control form-control-sm text-center" value="100" readonly></td>
    <td>(%)</td>
    <td></td>
  </tr>
</table>
