<app-l010002 [num]="'1.1'"></app-l010002>
<app-f010002></app-f010002>
<hr>
<app-f010028 [num]="'1.2'" [text]="'Sila nyatakan aktiviti utama pertubuhan tuan berdasarkan perkhidmatan yang diberikan'" ></app-f010028>
<app-f010029></app-f010029>