<div class="row">
  <label class="col-md-1">{{ num }}</label>
  <div class="col-md-11">
    <label>{{ text }}
    </label>
  </div>
</div>
<table style="width: 100%;">
  <thead class="text-center">
    <tr>
      <th></th>
      <th class="field_number field_number">{{ field_number }}</th>
      <th>Nilai (RM)</th>
      <th class="field_number field_number">{{ field_number }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of array">
      <td>{{ row.text }}</td>
      <td>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="F{{row.fnum}}">
              <label class="field_number custom-control-label" for="F{{row.fnum}}">{{ row.fnum }}</label>
            </div>
          </div>
      </td>
      <td colspan="2">
          <div class="form-group" *ngIf="row.hasTextInput">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text field_number">{{ row.fnum2 }}</span>
              </div>
              <input type="text" class="form-control">
            </div>
          </div>
      </td>
    </tr>
  </tbody>
</table>
