<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3 text-center col-form-label-sm">
    <label>Nilai / RM</label>
    <span style="float:right;" class="fnum">0876</span>
  </div>
</div>
<div class="row">
  <div class="col-md-1 col-form-label-sm">8.1A</div>
  <div class="col-md-8 col-form-label-sm">Pendapatan daripada aktiviti wayang gambar, video & program televisyen, rakaman bunyi dan aktiviti penyiaran</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">01</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087601" id="F087601">
    </div>
  </div>
  <div class="col-md-1"></div>
    <div class="col-md-11">
      <div class="well">
        <div class="note">
          Nota: <br>* Nilai di medan 087601 mesti sama dengan jumlah medan (087602 + 087603 + 087604 + 087605 + 087606 + 087607 + 087608)
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.1.1</div>
  <div class="col-md-11 col-form-label-sm">Aktiviti penerbitan wayang gambar, video dan program televisyen, rakaman bunyi dan penerbitan muzik</div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti pengeluaran wayang gambar, video dan program televisyen</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">02</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087602" id="F087602" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti pasca produksi wayang gambar, video dan program televisyen</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">03</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087603" id="F087603" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(c)</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti pengedaran wayang gambar, video dan program televisyen</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">04</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087604" id="F087604" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(d)</div>
  <div class="col-md-7 col-form-label-sm">Perkhidmatan penayangan wayang gambar</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">05</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087605" id="F087605" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(e)</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti rakaman bunyi dan penerbitan muzik</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">06</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087606" id="F087606" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1 col-form-label-sm">8.1.2</div>
  <div class="col-md-11 col-form-label-sm">Aktiviti pemprograman dan penyiaran</div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(a)</div>
  <div class="col-md-7 col-form-label-sm">Penyiaran radio</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">07</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087607" id="F087607" >
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">(b)</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti pemprograman dan penyiaran televisyen</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">08</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087608" id="F087608" >
    </div>
  </div>
</div>
