ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}
li {
  display: block;
  margin-bottom: .5em;
  margin-left: 2em;
}
li::before {
  display: inline-block;
  content: "(" counter(item) ") ";
  counter-increment: item;
  width: 2em;
  margin-left: -2em;
}

.box {
  background-color: lightgrey;
  padding: 5px;
}

table {
  font-size: 12px;
}
