<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm" for="f310004">
      Berapakah peratusan pekerja di pertubuhan tuan yang menggunakan internet
      (sekurang-kurangnya sekali dalam seminggu) semasa bekerja?
    </label>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="input-group">
      <input class="form-control form-control-sm" type="text" name="f310004" id="f310004">
      <span class="ml-2">(%)</span>
      <span class="fnum mt-2 ml-2">310004</span>
    </div>
  </div>
</div>