<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">Adakah pertubuhan tuan melabur di luar Malaysia?<br><br> Sila tandakan (X) dalam satu kotak sahaja</label>
    <br>
    <label class="fnum">010035</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010035" id="F0100351" value="1">
        <span class="fnum">1</span> Ya
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010035" id="F010035" value="2">
        <span class="fnum">2</span> Tidak
      </label>
    </div>
  </div>
</div>
