<app-f080023></app-f080023>

<!--<div class="row">-->
  <!--<div class="col-md-6">-->
  <!--</div>-->
  <!--<div class="col-md-6 text-center">-->
    <!--<label>Nilai (RM)</label>-->
    <!--<label class="field_number" style="float: right; color: blue;">0800</label>-->
  <!--</div>-->
<!--</div>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.2'"-->
  <!--[text1]="'Pendapatan daripada perkhidmatan pembaikan dan penyelenggaraan peralatan telekomunikasi'"-->
  <!--[field_number]="'23'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.3'"-->
  <!--[text1]="'Pendapatan daripada perkhidmatan instalasi rangkaian telekomunikasi'"-->
  <!--[field_number]="'24'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.4'"-->
  <!--[text1]="'Pendapatan langganan'"-->
  <!--[field_number]="'25'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.5'"-->
  <!--[text1]="'Pendapatan daripada pembekalan rancangan kepada pertubuhan penyiaran lain'"-->
  <!--[field_number]="'26'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.6'"-->
  <!--[text1]="'Lesen hak cipta untuk menggunakan kandungan sindiket media'"-->
  <!--[field_number]="'27'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.7'"-->
  <!--[text1]="'Ruang pengiklanan atas talian'"-->
  <!--[field_number]="'28'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.8'"-->
  <!--[text1]="'Pendapatan daripada pengiklanan (tidak termasuk jualan masa pengiklanan di radio, televisyen atau internet)   '"-->
  <!--[field_number]="'29'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.9'"-->
  <!--[text1]="'Royalti, hakcipta, pelesenan dan yuran francais'"-->
  <!--[field_number]="'14'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.10'"-->
  <!--[text1]="'Komisen dan brokeraj yang diperoleh'"-->
  <!--[field_number]="'11'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-dynamic-->
  <!--[num]="'8.11'"-->
  <!--[text]="'Pendapatan daripada sewa'"-->
  <!--[array]="arr8_11"-->
<!--&gt;</app-text-fnum-single-inline-dynamic>-->
<!--<app-nota-pendek-->
  <!--[text]="'* Termasuk: Bangunan bukan tempat kediaman, bangunan tempat kediaman, alat pengangkutan, jentera-->
  <!--dan kelengkapan, perabot dan pemasangan.'"-->
<!--&gt;</app-nota-pendek>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.12'"-->
  <!--[text1]="'Pemajakan perkakasan komputer'"-->
  <!--[field_number]="'33'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.13'"-->
  <!--[text1]="'Pendapatan daripada perkhidmatan pengurusan'"-->
  <!--[field_number]="'10'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.14'"-->
  <!--[text1]="'Nilai jualan (barang / bahan yang dibeli untuk dijual semula tanpa melalui proses selanjutnya)'"-->
  <!--[field_number]="'07'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.15'"-->
  <!--[text1]="'Pendapatan operasi lain (sila nyatakan)'"-->
  <!--[field_number]="'09'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<input type="text" class="form-control">-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.16'"-->
  <!--[text1]="'Pendapatan bukan operasi'"-->
  <!--[field_number]="'15'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<app-nota-pendek-->
  <!--[text]="'* Termasuk: Pendapatan daripada faedah, pendapatan daripada dividen, keuntungan daripada jualan / penilaian-->
  <!--semula harta, keuntungan daripada pertukaran mata wang asing / aset kewangan, pemulihan hutang lapuk, tuntutan & pampasan-->
  <!--yang diterima, pindahan wang, hadiah dan bantuan geran / subsidi yang diterima.'"-->
<!--&gt;</app-nota-pendek>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.17'"-->
  <!--[text1]="'Lain-lain pendapatan bukan operasi (sila nyatakan)'"-->
  <!--[field_number]="'18'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<input type="text" class="form-control">-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.18'"-->
  <!--[text1]="'Jumlah pendapatan (8.1 hingga 8.17)'"-->
  <!--[field_number]="'89'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.19'"-->
  <!--[text1]="'Pindahan modal yang diterima'"-->
  <!--[field_number]="'17'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'8.20'"-->
  <!--[text1]="'JUMLAH BESAR (8.18 dan 8.19)'"-->
  <!--[field_number]="'99'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-dynamic-->
  <!--[num]="'8.21'"-->
  <!--[text]="'Sila nyatakan peratus pendapatan jika pertubuhan tuan terlibat dengan perkhidmatan ICT berikut: (%)'"-->
  <!--[array]="arr8_21"-->
<!--&gt;</app-text-fnum-single-inline-dynamic>-->
