<app-textarea-fnum 
  [num]="'1.3'"
  [text]="'Sila nyatakan alamat kilang sekiranya ia tidak sama dengan alamat pos di muka hadapan'"
  [field_number]="'010014'" >
</app-textarea-fnum>

<app-text-fnum 
  [num]=""
  [text]="'Poskod'"
  [field_number]="'010015'" >
</app-text-fnum>