<div class="btn-group" role="group" aria-label="Button group">
  <button type="button" class="btn btn-primary">Print</button>
  <button type="button" class="btn btn-success">Excel</button>
  <button type="button" class="btn btn-danger">PDF</button>
  <button type="button" class="btn btn-warning">CVS</button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Column Heading 1</th>
      <th>Column Heading 2</th>
      <th>Column Heading 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Column Content</td>
      <td>Column Content</td>
      <td>Column Content</td>
    </tr>
  </tbody>
</table>