
<table class="table-bordered font14" style="width: 100%;">
  <thead class="text-center">
  <tr>
    <td colspan="2" rowspan="2">Kategori Pekerja</td>
    <td colspan="3">Bilangan pekerja pada Disember 2017 atau pada tempoh gaji terakhir</td>
    <td rowspan="2">Gaji Dan Upah Tahunan <br> RM</td>
  </tr>
  <tr>
    <td >Warganegara</td>
    <td >Bukan Warganegara</td>
    <td >Jumlah</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td rowspan="2">
      5.1 Pemilik yang bekerja,rakan niaga yang aktif dan pekerja keluarga tidak bergaji
    </td>
    <td>L</td>
    <td>
      <p align="center" class="fnum">052001</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    <td>
      <p align="center" class="fnum">052002</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">052089</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>P</td>
    <td>
      <p align="center" class="fnum">053001</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">053002</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">053089</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td rowspan="2">5.2 Pekerja bergaji(sepenuh masa)</td>
    <td>L</td>
    <td>
      <p align="center" class="fnum">054001</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    <td>
      <p align="center" class="fnum">050689</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">050789</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">050889</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
  </tr>
  <tr>
    <td>P</td>
    <td>
      <p align="center" class="fnum">055001</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    <td>
      <p align="center" class="fnum">051589</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">051689</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">051789</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
  </tr>
  <tr>
    <td rowspan="2">5.3 Pekerja bergaji(sambilan)</td>
    <td>L</td>
    <td>
      <p align="center" class="fnum">056001</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    <td>
      <p align="center" class="fnum">050613</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">050713</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">050813</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
  </tr>
  <tr>
    <td>P</td>
    <td>
      <p align="center" class="fnum">056002</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    <td>
      <p align="center" class="fnum">051513</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">051613</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">051713</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
  </tr>
  <tr>
    <td rowspan="2">5.4 JUMLAH BESAR (5.1+5.2+5.3)</td>
    <td>L</td>
    <td>
      <p align="center" class="fnum">057099</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    <td>
      <p align="center" class="fnum">050699</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">050799</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">050899</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
  </tr>
  <tr>
    <td>P</td>
    <td>
      <p align="center" class="fnum">057199</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    <td>
      <p align="center" class="fnum">051599</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">051699</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
    <td>
      <p align="center" class="fnum">051799</p>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm">
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div class="well">
  <div class="note">Nota: <br>Gaji & upah merujuk semua gaji & upah (termasuk bayaran lebih masa),elaun,bonus dan komisen yang dibayar kepada semua pekerja bergaji.<br> L = Lelaki <br> P = Perempuan</div>
</div>





