
<table class="font14" style="width: 100%;">
  <tr>
    <td valign="top" style="width: 7%;">{{ num }}</td>
    <td colspan="7">Sila nyatakan jumlah pendapatan, perbelanjaan dan peratusan transaksi e-Dagang bagi
      tahun rujukan 2016:</td>
  </tr>
  <tr>
    <td></td>
    <td style="width: 1%;">(a)</td>
    <td>Jumlah pendapatan</td>
    <td style="width: 1%;">RM</td>
    <td style="width: 20%;" colspan="2"><input type="text" id="F310077" name="F310077" class="form-control form-control-sm"></td>
    <td></td>
    <td style="width: 1%;" class="fnum text-center">310077</td>
  </tr>
  <tr>
    <td></td>
    <td style="width: 1%;">(b)</td>
    <td>Peratusan transaksi e-Dagang daripada jumlah pendapatan</td>
    <td colspan="2"></td>
    <td style="width: 10%;"><input type="text" id="F310078" name="F310078" class="form-control form-control-sm"></td>
    <td style="width: 1%;">%</td>
    <td style="width: 1%;" class="fnum text-center">310078</td>
  </tr>
  <tr>
    <td></td>
    <td style="width: 1%;">(c)</td>
    <td>Jumlah perbelanjaan</td>
    <td style="width: 1%;">RM</td>
    <td style="width: 20%;" colspan="2"><input type="text" id="F310079" name="F310079" class="form-control form-control-sm"></td>
    <td></td>
    <td style="width: 1%;" class="fnum text-center">310079</td>
  </tr>
  <tr>
    <td></td>
    <td style="width: 1%;">(b)</td>
    <td>Peratusan transaksi e-Dagang daripada jumlah perbelanjaan</td>
    <td colspan="2"></td>
    <td style="width: 10%;"><input type="text" id="F310080" name="F310080" class="form-control form-control-sm"></td>
    <td style="width: 1%;">%</td>
    <td style="width: 1%;" class="fnum text-center">310080</td>
  </tr>
</table>