<div class="scroller">
  <table class="table-bordered">
    <thead class="text-center">
      <tr>
        <th rowspan="4" colspan="5">Kategori Pekerja / Jawatan (Lelaki)</th>
        <th colspan="7">Bilangan pekerja yang dibayar oleh pertubuhan ini pada Disember 2017 atau pada tempoh gaji terakhir</th>
        <th rowspan="3">Gaji & Upah Tahunan *</th>
        <th rowspan="3">Bilangan pekerja yang dibekalkan oleh pertubuhan lain pada Disember 2017 atau pada tempoh gaji berakhir</th>
      </tr>
      <tr>
        <th colspan="5">Warganegara Malaysia</th>
        <th rowspan="2">Bukan Warganegara Malaysia</th>
        <th rowspan="2">Jumlah</th>
      </tr>
      <tr>
        <th>Melayu</th>
        <th>Bumiputera lain</th>
        <th>Cina</th>
        <th>India</th>
        <th>Lain-lain</th>
      </tr>
      <tr class="field_number">
        <th>0501</th>
        <th>0502</th>
        <th>0503</th>
        <th>0504</th>
        <th>0505</th>
        <th>0506</th>
        <th>0507</th>
        <th>0508</th>
        <th>0509</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>5.1</th>
        <th colspan="3">Pemilik yang bekerja dan rakan niaga yang aktif</th>
        <th class="text-center field_number">01</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
      </tr>
      <tr>
        <th>5.2</th>
        <th colspan="3">Pekerja keluarga tidak bergaji (semua ahli keluarga dan rakan yang tidak menerima upah yang tetap)</th>
        <th class="text-center field_number">02</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control" disabled></td>
        <td><input type="text" class="form-control" disabled></td>
      </tr>
      <tr>
        <th>5.3</th>
        <th colspan="3">Pekerja bergaji (sepenuh masa):</th>
        <td colspan="10"></td>
      </tr>
      <tr>
        <th></th>
        <th>5.3.1</th>
        <th colspan="2">Pengurus</th>
        <th class="text-center field_number">03</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>5.3.2</th>
        <th colspan="2">Profesional</th>
        <td colspan="10"></td>
      </tr>
      <tr>
        <th colspan="2"></th>
        <th>(a)</th>
        <th>Profesional</th>
        <th class="text-center field_number">04</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th colspan="2"></th>
        <th>(b)</th>
        <th>Penyelidik</th>
        <th class="text-center field_number">05</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>5.3.3</th>
        <th colspan="2">Juruteknik dan Profesional Bersekutu</th>
        <th class="text-center field_number">06</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>5.3.4</th>
        <th colspan="2">Pekerja Sokongan Perkeranian</th>
        <th class="text-center field_number">07</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>5.3.5</th>
        <th colspan="2">Pekerja Perkhidmatan dan Jualan</th>
        <th class="text-center field_number">08</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>5.3.6</th>
        <th colspan="2">Pekerja Kemahiran dan Pekerja Pertukangan yang berkaitan</th>
        <th class="text-center field_number">09</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>5.3.7</th>
        <th colspan="2">Operator Mesin & Loji dan Pemasang</th>
        <th class="text-center field_number">16</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>5.3.8</th>
        <th colspan="2">Pekerja Asas</th>
        <th class="text-center field_number">12</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th></th>
        <th>5.3.9</th>
        <th colspan="2">Jumlah pekerja bergaji (sepenuh masa)(5.3.1 hingga 5.3.8)</th>
        <th class="text-center field_number">89</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <th>5.4</th>
        <th colspan="3">Pekerja bergaji (sambilan)</th>
        <th class="text-center field_number">13</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control" disabled></td>
      </tr>
      <tr>
        <th>5.5</th>
        <th colspan="3">JUMLAH (5.1 + 5.2 + 5.3.9 + 5.4)</th>
        <th class="text-center field_number">99</th>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="well">
  <div class="row">
  <div class="col-md-1">*</div>
  <div class="note col-form-label-sm col-md-10">
    Gaji & Upah kasar, bonus dan elaun tunai lain yang dibayar kepada pekerja (termasuk upah lebih masa). Masukkan semua pembayaran yang dibuat kepada semua pekerja dalam
    tahun 2017, sama ada mereka masih di dalam daftar gaji Disember 2017 atau pada tempoh gaji akhir 2017.
  </div>
</div>
</div>
