<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">
      Adakah pertubuhan tuan menggunakan internet atau rangkaian komputer lain dalam
      tempoh laporan?
    </label>
    <br>
    <label class="fnum">310003</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310003" id="F3100031" value="1">
        <span class="fnum">1</span> Ya
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F310003" id="F3100032" value="2">
        <span class="fnum">2</span> Tidak
      </label>
    </div>
    <div class="well">
      <div class="note">
        Nota:<br> Internet yang boleh diakses oleh komputer dan peranti yang lain (cth. telefon mudah alih, telefon
        pintar dsb.)<br>
        Jika TIDAK, sila ke {{ num2 }}
      </div>
    </div>
  </div>
</div>