<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">Adakah data yang dilaporkan di dalam pelaporan ini hanya berkaitan dengan pertubuhan ini di mana lokasinya adalah sama seperti alamat yang diberikan di dalam Soalan {{ num2 }} di atas?<br><br> Sila tandakan (X) dalam satu kotak sahaja</label>
    <br>
    <label class="fnum">010016</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010016" id="F0100161" value="1">
        <span class="fnum">1</span> Ya
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010016" id="F0100162" value="2">
        <span class="fnum">2</span> Tidak
      </label>
    </div>
  </div>
</div>
