<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm" for="f310080">
      Berapakah jumlah pekerja di pertubuhan tuan dalam tempoh laporan?
    </label>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <div class="input-group">
      <input class="form-control form-control-sm" type="text" name="f310080" id="f310080">
      <span class="fnum mt-2 ml-2">310080</span>
    </div>
  </div>
</div>