<div class="form-group row">
  <label class="col-md-1">{{ num }}</label>
  <div class="col-md-11">
    <label>{{ text }}</label>
        <div class="row" *ngFor="let row of array">
          <div class="col-md-11">
            <label *ngIf="row.text">{{ row.text }}</label>
            <input type="text" class="form-control" style="width: 100px;">
          </div>
          <div class="col-md-1 field_number">
            {{ row.fnum }}
          </div>
        </div>
  </div>
</div>
