<app-radio-fnum-without-text
  [num]="'1.6'"
  [text]="'(a) Adakah pertubuhan tuan berdaftar untuk Cukai Barang dan Perkhidmatan (CBP)?'"
  [field_number]="'010036'"
  >
</app-radio-fnum-without-text>
<app-nota-pendek [text]="'Jika YA, sila ke Soalan 1.6 (b)'" ></app-nota-pendek>
<app-nota-pendek [text]="'Jika TIDAK, sila ke Soalan 1.7'" ></app-nota-pendek>
<app-checkbox-fnum-dynamic
  [num]=""
  [text]="'(b) Sila tandakan jenis pembekalan CBP yang berkenaan'"
  [array]="arr1_6b"
  [field_number]="'satu_enamb'"
  >
</app-checkbox-fnum-dynamic>
