<div class="scroller">
  <table class="table-bordered font14">
    <thead class="text-center">
    <tr>
      <th colspan="3" rowspan="3">BILANGAN SYIF KERJA</th>
      <th colspan="3">BILANGAN SYIF KERJA DALAM SATU HARI</th>
      <th rowspan="2">JUMLAH</th>
    </tr>
    <tr>
      <th>Syif pertama / waktu bekerja biasa</th>
      <th>Syif kedua</th>
      <th>Syif ketiga</th>
    </tr>
    <tr>
      <td class="fnum">0701</td>
      <td class="fnum">0702</td>
      <td class="fnum">0703</td>
      <td class="fnum">0704</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th valign="top">{{ num1 }}</th>
      <th>Bilangan pekerja dalam setiap syif</th>
      <td class="fnum">01</td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <th valign="top">{{ num2 }}</th>
      <th>Jumlah hari bekerja pada tahun rujukan</th>
      <td class="fnum">02</td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <th valign="top">{{ num3 }}</th>
      <th>Jumlah jam bekerja dalam satu syif</th>
      <td class="fnum">03</td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <th valign="top">{{ num4 }}</th>
      <th>Jumlah jam pekerja bekerja lebih masa dalam setahun =({{num1}} x{{num2}} x {{num3}})</th>
      <td class="fnum">04</td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th valign="top">{{ num5 }}</th>
      <th>Jumlah jam pekerja bekerja lebih masa dalam tahun</th>
      <td class="fnum">05</td>
      <td colspan="3"></td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th valign="top">{{ num6 }}</th>
      <th>Jumlah jam pekerja bekerja dalam tahun =({{num4}} + {{num5}})</th>
      <td class="fnum">99</td>
      <td colspan="3"></td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>{{ num7 }}</th>
      <th colspan="4">Upah yang dibayar untuk pekerjaan lebih masa dalam tahun rujukan</th>
      <td colspan="2">
        <div class="form-group row text-center">
          <label class="col-md-12">RM<span class="fnum ml-5">0705</span></label>
          <div class="input-group col-md-12">
            <div class="input-group-prepend">
              <span class="fnum mr-2">07</span>
            </div>
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
