<div class="row">
  <label class="col-form-label col-form-label-sm col-md-1">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">Perbelanjaan semasa terhadap R&D</label>
  </div>
  <div class="col-md-8"></div>
  <div class="col-md-4 text-center">
    <label class="col-form-label col-form-label-sm">Nilai <br> RM</label>
  </div>
</div>

<div class="form-group row" *ngFor="let row of array">
    <div class="col-md-1"></div>
    <label class="col-md-7 col-form-label col-form-label-sm">{{ row.text }}</label>
    <div class="input-group mb-3 col-md-4">
      <div class="input-group-prepend">
        <span class="input-group-text fnum">{{ row.fnum }}</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F{{ row.fnum }}" id="F{{ row.fnum }}">
    </div>
</div>
