.wells {
    background-color: lightgrey;
    padding: 7px;
    margin: 2px;
    border: solid 0.5px grey;
    border-radius: 10px;
}

.field-number {
    float: right;
    position: relative;
    bottom: 65px;
}

.fnum, .fnum2 {
  color: blue;
}

.fnum, .fnum2 , .form-check-label, .note, .font14 {
  font-size: 14px;
}
.input-group-prepend span {
  background-color: transparent;
  border: none;
}

.input-group-text {
  height: 40px;
}

.table-borderless td,
.table-borderless th {
  border: 0;
  font-size: 14px;
}
