<app-f3100011 [num]="'4.1'" [num2]="'4.3'" ></app-f3100011>
<hr>
<app-f310080 [num]="'4.2'"></app-f310080>
<hr>
<app-f310002 [num]="'4.3'" [text]="'Berapakah peratusan pekerja di pertubuhan tuan yang menggunakan komputer
      (sekurang-kurangnya sekali dalam seminggu) semasa bekerja?'"></app-f310002>
<hr>
<app-f3100031 [num]="'4.4'" [num2]="'Bahagian B, Soalan 4.12'" ></app-f3100031>
<hr>
<app-f310004 [num]="'4.5'"></app-f310004>
<hr>
<app-f310037></app-f310037>
<!--<app-f310005 [num]="'4.6'"></app-f310005>-->
<hr>
<app-f310011 [num]="'4.7'"></app-f310011>
<hr>
<app-f3100171 [num]="'4.8'"></app-f3100171>
<hr>
<app-f310021 [num]="'4.9'"></app-f310021>
<hr>
<app-f3100341 [num]="'4.10'" ></app-f3100341>
<hr>
<app-f3100351 [num]="'4.11'" ></app-f3100351>
