<table class="table table-bordered">
  <thead>
    <tr>
      <th>No. Batch</th>
      <th>No. KP</th>
      <th>Bil. Pertubuhan</th>
      <th>Status Batch</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="" class="nav-link">A001</a></td>
      <td>205</td>
      <td>10</td>
      <td>Baru</td>
    </tr>
    <tr>
      <td><a href="" class="nav-link">B002</a></td>
      <td>207</td>
      <td>15</td>
      <td>Dalam Proses</td>
    </tr>
    <tr>
      <td><a href="" class="nav-link">C005</a></td>
      <td>311</td>
      <td>20</td>
      <td>Selesai</td>
    </tr>
  </tbody>
</table>