<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">
      Bagaimanakah pertubuhan tuan dihubungkan ke internet dalam tempoh laporan? (Boleh pilih lebih
      daripada satu)
    </label>
    <br>
    <label class="fnum">3100</label>
    <div *ngFor="let row of array" class="form-check">
      <div class="row">
        <div class="col-md-12">
          <label for="F3100{{ row.fnum }}" class="form-check-label col-form-label col-form-label-sm">
            <input type="checkbox" class="form-check-input" id="F3100{{ row.fnum }}" name="F3100{{ row.fnum }}">
            <span class="fnum">{{ row.fnum }}</span> {{ row.text }}
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label col-form-label col-form-label-sm" for="F310014">
                  <input type="checkbox" class="form-check-input" name="F310014" id="F310014">
                  <span class="fnum">14</span> (i) 4G
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label col-form-label col-form-label-sm" for="F310015">
                  <input type="checkbox" class="form-check-input" name="F310015" id="F310015">
                  <span class="fnum">15</span> (ii) 3G
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label col-form-label col-form-label-sm" for="F310016">
                  <input type="checkbox" class="form-check-input" name="F310016" id="F310016">
                  <span class="fnum">16</span> (iii) Sambungan mudah alih lain
                </label> 
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>