<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3 text-center col-form-label-sm">
    <label>Nilai / RM</label>
    <span style="float:right;" class="fnum">0876</span>
  </div>
</div>
<div class="row">
  <div class="col-md-1 col-form-label-sm">8.1B</div>
  <div class="col-md-8 col-form-label-sm">Pendapatan daripada perkhidmatan telekomunikasi</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">09</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087609" id="F087609">
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="well">
      <div class="note col-form-label-sm">
        Nota: <br>* Nilai di medan 087609 mesti sama dengan jumlah medan (087610 + 087611 + 087612 + 087613 + 087614)
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">8.1.1</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti telekomunikasi berwayar</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">10</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087610" id="F087610">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">8.1.2</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti telekomunikasi tanpa wayar</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">11</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087611" id="F087611">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">8.1.3</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti telekomunikasi satelit</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">12</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087612" id="F087612">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">8.1.4</div>
  <div class="col-md-7 col-form-label-sm">Penyediaan akses internet melalui rangkaian di antara pelanggan dan ISP yang bukan dimiliki atau dikawal oleh ISP</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">13</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087613" id="F087613">
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 col-form-label-sm">8.1.5</div>
  <div class="col-md-7 col-form-label-sm">Aktiviti telekomunisi lain</div>
  <div class="col-md-3 text-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="fnum mt-2 mr-2">14</span>
      </div>
      <input type="text" class="form-control form-control-sm" name="F087614" id="F087614">
    </div>
  </div>
</div>
<hr>
