
/* Set the fixed height of the footer here */
#footer {
height: 60px;
}
#footer {
color: snow;
margin-top: 20px;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}