<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">
      Sila nyatakan jenis platform yang digunakan oleh pertubuhan tuan untuk
      transaksi (jualan / pembelian) atas talian: (Boleh
      pilih lebih daripada satu)
    </label>
    <br>
    <label class="fnum">3100</label>
    <div *ngFor="let row of array" class="form-check">
      <div class="row">
        <div class="col-md-12">
          <label for="F3100{{ row.fnum }}" class="form-check-label col-form-label col-form-label-sm">
            <input type="checkbox" class="form-check-input" id="F3100{{ row.fnum }}" name="F3100{{ row.fnum }}">
            <span class="fnum">{{ row.fnum }}</span> {{ row.text }}
          </label>
        </div>
      </div>
    </div>



    <div class="well">
      <div class="note">
        Nota: <br> Jika hanya menjawab (a) sahaja, TAMAT di sini
      </div>
    </div>
  </div>
</div>
