<app-f090016></app-f090016>

<!--<div class="row">-->
  <!--<div class="col-md-6">-->
  <!--</div>-->
  <!--<div class="col-md-6 text-center">-->
    <!--<label>Nilai (RM)</label>-->
    <!--<label class="field_number" style="float: right; color: blue;">0900</label>-->
  <!--</div>-->
<!--</div>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.1'"-->
  <!--[text1]="'Bayaran pemprosesan data dan lain-lain perkhidmatan yang berkaitan dengan teknologi maklumat '"-->
  <!--[field_number]="'16'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.2'"-->
  <!--[text1]="'Bayaran pembaikan dan penyelenggaraan yang dibuat oleh pihak lain bagi harta tetap pertubuhan ini'"-->
  <!--[field_number]="'11'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<app-nota-pendek-->
  <!--[text]="'Termasuk: Bangunan (pejabat, kilang, gudang, dsb.), alat pengangkutan, jentera dan kelengkapan,-->
  <!--perabot dan pemasangan dan komputer'"-->
<!--&gt;</app-nota-pendek>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.3'"-->
  <!--[text1]="'Kos filem dibeli untuk tayangan'"-->
  <!--[field_number]="'66'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--&lt;!&ndash;nota?&ndash;&gt;-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.4'"-->
  <!--[text1]="'Pengiklanan dan promosi'"-->
  <!--[field_number]="'63'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.5'"-->
  <!--[text1]="'Kos bahan yang digunakan (termasuk bahan yang digunakan untuk perkhidmatan pengiklanan)'"-->
  <!--[field_number]="'01'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.6'"-->
  <!--[text1]="'Kos barang dijual (barang / bahan yang dibeli untuk dijual semula tanpa melalui proses selanjutnya) '"-->
  <!--[field_number]="'09'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.7'"-->
  <!--[text1]="'Bayaran kepada pembekal rancangan (cth. rancangan sukan, berita, pindahan tap dsb.) '"-->
  <!--[field_number]="'82'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.8'"-->
  <!--[text1]="'Bayaran untuk penyewaan filem '"-->
  <!--[field_number]="'64'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.9'"-->
  <!--[text1]="'Jumlah yang diberikan secara kontrak kepada pihak lain <i>(outsourcing)</i> '"-->
  <!--[field_number]="'59'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.10'"-->
  <!--[text1]="'Bayaran perhubungan antara tempatan dan bayaran keluar antarabangsa '"-->
  <!--[field_number]="'83'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.11'"-->
  <!--[text1]="'Sumbangan kepada Kumpulan Wang Pemberian Perkhidmatan Sejagat '"-->
  <!--[field_number]="'88'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.12'"-->
  <!--[text1]="'Perbelanjaan penyelidikan dan pembangunan '"-->
  <!--[field_number]="'12'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<app-text-fnum-single-inline-dynamic-->
  <!--[num]=""-->
  <!--[text]=""-->
  <!--[array]="arr9_12"-->
<!--&gt;</app-text-fnum-single-inline-dynamic>-->
<!--<div class="row">-->
  <!--<div class="col-md-2"></div>-->
  <!--<label class="col-md-4">Jumlah</label>-->
  <!--<div class="col-md-6">-->
    <!--<input type="text" class="form-control" value="100" disabled>-->
  <!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.13'"-->
  <!--[text1]="'Bayaran telekomunikasi (cth. telefon, internet dsb.) '"-->
  <!--[field_number]="'17'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<div class="form-group row">-->
  <!--<label class="col-md-1">9.14</label>-->
  <!--<div class="col-md-11">-->
    <!--<label>Bayaran royalti kepada:</label>-->
    <!--<div class="row">-->
      <!--<label class="col-md-1">(a) </label>-->
      <!--<div class="col-md-5">-->
        <!--Kerajaan / Badan berkanun (sila nyatakan jenis royalti)-->
        <!--&lt;!&ndash;<input type="text" class="form-control">&ndash;&gt;-->
        <!--<textarea class="form-control"></textarea>-->
      <!--</div>-->
      <!--<div class="input-group mb-3 col-md-6">-->
        <!--<div class="input-group-prepend">-->
          <!--<span class="input-group-text field_number">26</span>-->
        <!--</div>-->
        <!--<input type="text" class="form-control">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<label class="col-md-1">(b) </label>-->
      <!--<div class="col-md-5">-->
        <!--Organisasi bukan kerajan / tajaan korporat (sila nyatakan jenis royalti)-->
        <!--&lt;!&ndash;<input type="text" class="form-control">&ndash;&gt;-->
        <!--<textarea class="form-control"></textarea>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-1"></div>-->
      <!--<div class="col-md-5">-->
        <!--(i) Tempatan-->
      <!--</div>-->
      <!--<div class="input-group mb-3 col-md-6">-->
        <!--<div class="input-group-prepend">-->
          <!--<span class="input-group-text field_number">60</span>-->
        <!--</div>-->
        <!--<input type="text" class="form-control">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-1"></div>-->
      <!--<div class="col-md-5">-->
        <!--(ii) Luar negara-->
      <!--</div>-->
      <!--<div class="input-group mb-3 col-md-6">-->
        <!--<div class="input-group-prepend">-->
          <!--<span class="input-group-text field_number">61</span>-->
        <!--</div>-->
        <!--<input type="text" class="form-control">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-dynamic-->
  <!--[num]="'9.15'"-->
  <!--[text]="'Nilai bekalan-bekalan lain yang digunakan'"-->
  <!--[array]="arr9_15"-->
<!--&gt;</app-text-fnum-single-inline-dynamic>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.16'"-->
  <!--[text1]="'Kos percetakan '"-->
  <!--[field_number]="'58'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.17'"-->
  <!--[text1]="'Air yang dibeli '"-->
  <!--[field_number]="'06'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.18'"-->
  <!--[text1]="'Tenaga elektrik yang dibeli '"-->
  <!--[field_number]="'07'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.19'"-->
  <!--[text1]="'Bahan pembakar, pelincir dan gas '"-->
  <!--[field_number]="'08'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<app-text-fnum-single-inline-dynamic-->
  <!--[num]=""-->
  <!--[text]=""-->
  <!--[array]="arr9_19"-->
<!--&gt;</app-text-fnum-single-inline-dynamic>-->
    <!--&lt;!&ndash;<div class=" form-group row">-->
      <!--<div class="col-md-1"></div>-->
      <!--<label class="col-md-1"> (f) </label>-->
      <!--<div class="col-md-5">-->
        <!--Bahan pembakar lain (sila nyatakan)-->
        <!--<input type="text" class="form-control">-->
        <!--<textarea class="form-control"></textarea>-->
      <!--</div>-->
      <!--<div class="col-md-5">-->
        <!--<input type="text" class="form-control">-->
      <!--</div>-->
    <!--</div>&ndash;&gt;-->
<!--<div class="form-group row">-->
  <!--<div class="col-md-2"></div>-->
  <!--<label class="col-md-5">Jumlah</label>-->
  <!--<div class="col-md-5">-->
    <!--<input type="text" class="form-control" value="100" disabled>-->
  <!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.20'"-->
  <!--[text1]="'Perbelanjaan operasi '"-->
  <!--[field_number]="'15'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<app-nota-pendek-->
  <!--[text]="'Termasuk: Pembelian perkhidmatan pengangkutan, perbelanjaan perjalanan, perbelanjaan hiburan,-->
  <!--bayaran perakaunan, kesetiausahaan & audit, bayaran guaman, bayaran perkhidmatan profesional lain,-->
  <!--bayaran pengurusan, komisen & bayaran agensi, bayaran pos & kurier, caj bank, premium insurans kecuali-->
  <!--insurans pampasan pekerja'"-->
<!--&gt;</app-nota-pendek>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.21'"-->
  <!--[text1]="'Bayaran faedah '"-->
  <!--[field_number]="'25'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.22'"-->
  <!--[text1]="'Bayaran bagi perkhidmatan keselamatan'"-->
  <!--[field_number]="'67'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.23'"-->
  <!--[text1]="'Tuntutan waranti'"-->
  <!--[field_number]="'65'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<div class="form-group row">-->
  <!--<label class="col-md-1">9.24</label>-->
  <!--<div class="col-md-11">-->
    <!--<label>Bayaran sewa:</label>-->
    <!--<div class="row">-->
      <!--<label class="col-md-1">(a) </label>-->
      <!--<div class="col-md-5">-->
        <!--Tanah-->
      <!--</div>-->
      <!--<div class="input-group mb-3 col-md-6">-->
        <!--<div class="input-group-prepend">-->
          <!--<span class="input-group-text field_number">19</span>-->
        <!--</div>-->
        <!--<input type="text" class="form-control">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<label class="col-md-1">(b) </label>-->
      <!--<div class="col-md-5">-->
        <!--Sewaan operasi-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-1"></div>-->
      <!--<div class="col-md-5">-->
        <!--(i) Bangunan-->
      <!--</div>-->
      <!--<div class="input-group mb-3 col-md-6">-->
        <!--<div class="input-group-prepend">-->
          <!--<span class="input-group-text field_number">20</span>-->
        <!--</div>-->
        <!--<input type="text" class="form-control">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-1"></div>-->
      <!--<div class="col-md-5">-->
        <!--(ii) Jentera dan kelengkapan-->
      <!--</div>-->
      <!--<div class="input-group mb-3 col-md-6">-->
        <!--<div class="input-group-prepend">-->
          <!--<span class="input-group-text field_number">21</span>-->
        <!--</div>-->
        <!--<input type="text" class="form-control">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-1"></div>-->
      <!--<div class="col-md-5">-->
        <!--(iii) Kenderaan bermotor dan jenis pengangkutan lain-->
      <!--</div>-->
      <!--<div class="input-group mb-3 col-md-6">-->
        <!--<div class="input-group-prepend">-->
          <!--<span class="input-group-text field_number">22</span>-->
        <!--</div>-->
        <!--<input type="text" class="form-control">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-1"></div>-->
      <!--<div class="col-md-5">-->
        <!--(iv) Lain-lain-->
      <!--</div>-->
      <!--<div class="input-group mb-3 col-md-6">-->
        <!--<div class="input-group-prepend">-->
          <!--<span class="input-group-text field_number">23</span>-->
        <!--</div>-->
        <!--<input type="text" class="form-control">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.25'"-->
  <!--[text1]="'Susut nilai semasa ke atas harta'"-->
  <!--[field_number]="'24'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<app-nota-pendek-->
  <!--[text]="'Kegunaan Pejabat: Nilai di medan 090024 mesti sama dengan medan 040403 (Soalan 4)'"-->
<!--&gt;</app-nota-pendek>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.26'"-->
  <!--[text1]="'Taksiran (ke atas tanah dan bangunan) dan cukai tanah'"-->
  <!--[field_number]="'30'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-dynamic-->
  <!--[num]="'9.27'"-->
  <!--[text]="'Cukai tidak langsung dan lesen kerajaan seperti:'"-->
  <!--[array]="arr9_27"-->
<!--&gt;</app-text-fnum-single-inline-dynamic>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.28'"-->
  <!--[text1]="'CBP pada pembelian bersih yang tidak boleh dituntut sebagai cukai input'"-->
  <!--[field_number]="'33'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.29'"-->
  <!--[text1]="'Perbelanjaan operasi lain (sila nyatakan)'"-->
  <!--[field_number]="'35'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<div class="row">-->
  <!--<div class="col-md-1"></div>-->
  <!--<div class="col-md-5">-->
    <!--&lt;!&ndash;<input type="text" class="form-control">&ndash;&gt;-->
    <!--<textarea class="form-control"></textarea>-->
  <!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.30'"-->
  <!--[text1]="'Perbelanjaan bukan operasi'"-->
  <!--[field_number]="'34'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<app-nota-pendek-->
  <!--[text]="'Termasuk: Kerugian daripada pertukaran wang asing / aset kewangan, kerugian daripada jualan /-->
   <!--penilaian semula harta, hutang lapuk diluluskan, pindahan semasa seperti pindahan wang, hadiah, derma,-->
   <!--denda, dsb.'"-->
<!--&gt;</app-nota-pendek>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.31'"-->
  <!--[text1]="'Lain-lain perbelanjaan bukan operasi (sila nyatakan)'"-->
  <!--[field_number]="'79'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<div class="row">-->
  <!--<div class="col-md-1"></div>-->
  <!--<div class="col-md-5">-->
    <!--&lt;!&ndash;<input type="text" class="form-control">&ndash;&gt;-->
    <!--<textarea name="" class="form-control" id=""></textarea>-->
  <!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="row">-->
  <!--<div class="col-md-1"><label>9.32</label></div>-->
  <!--<div class="col-md-11">-->
    <!--<label>Kos pekerjaan:</label>-->
    <!--<app-text-fnum-single-inline-->
      <!--[num]="'(a)'"-->
      <!--[text1]="'Gaji & upah dibayar    '"-->
      <!--[field_number]="'36'"-->
    <!--&gt;</app-text-fnum-single-inline>-->
    <!--<div class="row">-->
      <!--<app-nota-pendek-->
        <!--[text]="'Termasuk perkara-perkara seperti:<br> Gaji & upah (termasuk bayaran lebih masa), elaun, bonus,-->
        <!--komisen; <br>Gaji pengarah, elaun, yuran, bonus dan komisen untuk pengarah yang bekerja'"-->
      <!--&gt;</app-nota-pendek>-->
      <!--<app-nota-pendek-->
        <!--[text]="'Kegunaan Pejabat:<br> Nilai di medan 090036 mesti sama dengan jumlah medan 050899 (Soalan 5A)-->
        <!--dan medan 051799 (Soalan 5B)'"-->
      <!--&gt;</app-nota-pendek>-->
    <!--</div>-->
    <!--<br>-->
    <!--<app-text-fnum-single-inline-->
      <!--[num]="'(b)'"-->
      <!--[text1]="'Bayaran pampasan, persaraan/ pemberhentian kepada pekerja'"-->
      <!--[field_number]="'37'"-->
    <!--&gt;</app-text-fnum-single-inline>-->
    <!--<div class="row">-->
      <!--<div class="col-md-1"><label>(c)</label></div>-->
      <!--<div class="col-md-11">-->
        <!--<label>Bayaran berbentuk manfaat kepada pekerja</label>-->
        <!--<app-text-fnum-single-inline-->
          <!--[num]="'(i)'"-->
          <!--[text1]="'Rawatan perubatan percuma'"-->
          <!--[field_number]="'38'"-->
        <!--&gt;</app-text-fnum-single-inline>-->
        <!--<app-text-fnum-single-inline-->
          <!--[num]="'(ii)'"-->
          <!--[text1]="'Lain-lain seperti makanan percuma, tempat tinggal percuma dsb.'"-->
          <!--[field_number]="'39'"-->
        <!--&gt;</app-text-fnum-single-inline>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-1"><label>(d)</label></div>-->
      <!--<div class="col-md-11">-->
        <!--<label>Caruman majikan kepada</label>-->
        <!--<app-text-fnum-single-inline-->
          <!--[num]="'(i)'"-->
          <!--[text1]="'Kumpulan Wang Simpanan Pekerja (KWSP)'"-->
          <!--[field_number]="'40'"-->
        <!--&gt;</app-text-fnum-single-inline>-->
        <!--<app-text-fnum-single-inline-->
          <!--[num]="'(ii)'"-->
          <!--[text1]="'Kumpulan Wang Simpanan Lain'"-->
          <!--[field_number]="'41'"-->
        <!--&gt;</app-text-fnum-single-inline>-->
        <!--<app-text-fnum-single-inline-->
          <!--[num]="'(iii)'"-->
          <!--[text1]="'Pertubuhan Keselamatan Sosial (PERKESO)'"-->
          <!--[field_number]="'42'"-->
        <!--&gt;</app-text-fnum-single-inline>-->
        <!--<app-text-fnum-single-inline-->
          <!--[num]="'(iv)'"-->
          <!--[text1]="'Skim keselamatan sosial persendirian (cth. insurans pampasan pekerja)'"-->
          <!--[field_number]="'43'"-->
        <!--&gt;</app-text-fnum-single-inline>-->
        <!--<app-text-fnum-single-inline-->
          <!--[num]="'(v)'"-->
          <!--[text1]="'Skim bayaran pampasan, persaraan / pemberhentian '"-->
          <!--[field_number]="'44'"-->
        <!--&gt;</app-text-fnum-single-inline>-->
      <!--</div>-->
    <!--</div>-->
    <!--<app-text-fnum-single-inline-->
      <!--[num]="'(e)'"-->
      <!--[text1]="'Bayaran kepada pengarah tidak bekerja kerana kehadiran mereka dalam mesyuarat Lembaga Pengarah'"-->
      <!--[field_number]="'45'"-->
    <!--&gt;</app-text-fnum-single-inline>-->
    <!--<app-text-fnum-single-inline-->
      <!--[num]="'(f)'"-->
      <!--[text1]="'Nilai pakaian percuma yang disediakan'"-->
      <!--[field_number]="'46'"-->
    <!--&gt;</app-text-fnum-single-inline>-->
    <!--<app-text-fnum-single-inline-->
      <!--[num]="'(g)'"-->
      <!--[text1]="'Kos latihan kepada pekerja'"-->
      <!--[field_number]="'47'"-->
    <!--&gt;</app-text-fnum-single-inline>-->
    <!--<app-text-fnum-single-inline-->
      <!--[num]="'(h)'"-->
      <!--[text1]="'Kos pengangkutan pekerja (pergi dan balik dari tempat kerja)'"-->
      <!--[field_number]="'48'"-->
    <!--&gt;</app-text-fnum-single-inline>-->
    <!--<app-text-fnum-single-inline-->
      <!--[num]="'(i)'"-->
      <!--[text1]="'Bayaran levi pekerja'"-->
      <!--[field_number]="'49'"-->
    <!--&gt;</app-text-fnum-single-inline>-->
    <!--<app-text-fnum-single-inline-->
      <!--[num]="'(j)'"-->
      <!--[text1]="'Perbelanjaan pembayaran berasaskan saham kepada pekerja (termasuk saham & pilihan saham)'"-->
      <!--[field_number]="'50'"-->
    <!--&gt;</app-text-fnum-single-inline>-->
    <!--<app-text-fnum-single-inline-->
      <!--[num]="'(k)'"-->
      <!--[text1]="'Lain-lain kos pekerjaan (sila nyatakan)'"-->
      <!--[field_number]="'51'"-->
    <!--&gt;</app-text-fnum-single-inline>-->
    <!--&lt;!&ndash;<input type="text" class="form-control">&ndash;&gt;-->
    <!--<textarea name="" class="form-control"></textarea>-->
  <!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.33'"-->
  <!--[text1]="'Bayaran kepada pertubuhan lain yang membekalkan pekerja'"-->
  <!--[field_number]="'52'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.34'"-->
  <!--[text1]="'Jumlah perbelanjaan (9.1 hingga 9.33)'"-->
  <!--[field_number]="'89'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.35'"-->
  <!--[text1]="'Pindahan modal yang dibuat'"-->
  <!--[field_number]="'53'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.36'"-->
  <!--[text1]="'Bayaran bagi pajakan kewangan'"-->
  <!--[field_number]="'54'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.37'"-->
  <!--[text1]="'Dividen dibayar'"-->
  <!--[field_number]="'55'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.38'"-->
  <!--[text1]="'Cukai langsung dibayar (cth. cukai syarikat)'"-->
  <!--[field_number]="'56'"-->
<!--&gt;</app-text-fnum-single-inline>-->
<!--<hr>-->
<!--<app-text-fnum-single-inline-->
  <!--[num]="'9.39'"-->
  <!--[text1]="'JUMLAH BESAR (9.34 hingga 9.38)'"-->
  <!--[field_number]="'99'"-->
<!--&gt;</app-text-fnum-single-inline>-->

