.input-group-prepend span {
    background-color: transparent;
    border: none;
}

.input-group {
    height: 40px;
}

.field_number {
    color: blue;
    font-size: 12px;
}
label, .form-group, .form-control {
    font-size: 12px;
}