<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm"> Adakah pertubuhan tuan menjalankan aktiviti R&D pada tahun rujukan? Jika YA sila isikan maklumat berkaitan aktiviti R&D yang dilaksanakan secara dalaman (sendiri) sahaja.<br><br> </label>
    <br>
    <label class="fnum">330035</label>
    <div  class="form-check">
      <label class="form-check-label">
        <div class="input-group">
          <input type="radio" class="form-check-input" name="F330035" id="F3300351" value="1">
          <span class="fnum">1</span> Ya
          <span class="well ml-2">Jika Ya, sila ke Soalan 13.8 hingga 13.12</span>
        </div>
      </label>
    </div>
    <br>
    <div class="form-check">
      <label class="form-check-label">
        <div class="input-group">
          <input type="radio" class="form-check-input" name="F330035" id="F3300352" value="2">
          <span class="fnum">2</span> Tidak
          <span class="well ml-2">Jika Tidak, TAMAT bagi Seksyen ini</span>
        </div>
      </label>
    </div>
  </div>
</div>
