<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">Sila nyatakan aktiviti utama pertubuhan tuan,tanda (X) dalam satu kotak sahaja</label>
    <br>
    <label class="fnum">010027</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010027" id="F0100271" value="1">
        <span class="fnum">1</span> Pertanian, perhutanan dan perikanan
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010027" id="F0100272" value="2">
        <span class="fnum">2</span> Perlombongan dan pengkuarian
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010027" id="F0100273" value="3">
        <span class="fnum">3</span> Pembuatan
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010027" id="F0100274" value="4">
        <span class="fnum">4</span> Bekalan elektrik, gas, wap dan pendinginan udara
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010027" id="F0100275" value="5">
        <span class="fnum">5</span> Bekalan air;pembentungan, pengurusan sisa dan aktiviti pemulihan
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010027" id="F0100276" value="6">
        <span class="fnum">6</span> Pembinaan
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010027" id="F0100277" value="7">
        <span class="fnum">7</span> Pengangkutan dan penyimpanan
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010027" id="F0100278" value="8">
        <span class="fnum">8</span> Penginapan dan aktiviti perkhidmatan makanan dan minuman
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010027" id="F0100279" value="9">
        <span class="fnum">9</span> Maklumat dan komunikasi
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010027" id="F01002710" value="10">
        <span class="fnum">10</span> Aktiviti kewangan
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010027" id="F01002711" value="11">
        <span class="fnum">11</span> Aktiviti hartanah
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010027" id="F01002712" value="12">
        <span class="fnum">12</span> Aktiviti profesional
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010027" id="F01002713" value="13">
        <span class="fnum">13</span> Aktiviti pentadbiran dan khidmat sokongan
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F010027" id="F01002714" value="14">
        <span class="fnum">14</span> Aktiviti perkhidmatan lain
      </label>
    </div>
  </div>
</div>
