<div class="wells">
  <div class="form-group">
  <table class="table table-borderless">
    <tr>
      <td colspan="6">
        KEGUNAAN PEJABAT
        <hr>
      </td>
    </tr>
    <tr class="text-center">
      <td style="width: 20%;"></td>
      <td>Negeri</td>
      <td>Daerah Pentadbiran</td>
      <td>Daerah Banci</td>
      <td>No. BP</td>
      <td>Strata</td>
    </tr>
    <tr>
      <td>Kod alamat {{ jenis_alamat }}</td>
      <td><span class="field_number">{{ fnum_kilang_negeri }}</span><input type="text" class="form-control"></td>
      <td><span class="field_number">{{ fnum_kilang_pentadbiran }}</span><input type="text" class="form-control"></td>
      <td><span class="field_number">{{ fnum_kilang_banci }}</span><input type="text" class="form-control"></td>
      <td>
        <div class="form-group">
          <span class="field_number">{{ fnum_kilang_nobp }}</span>
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-text">-</span>
            <input type="text" class="form-control">
          </div>
        </div>
      </td>
      <td><span class="field_number">{{ fnum_kilang_strata }}</span><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <td>Kod alamat pos</td>
      <td><span class="field_number">{{ fnum_pos_negeri }}</span><input type="text" class="form-control"></td>
      <td><span class="field_number">{{ fnum_pos_pentadbiran }}</span><input type="text" class="form-control"></td>
      <td><span class="field_number">{{ fnum_pos_banci }}</span><input type="text" class="form-control"></td>
      <td>
        <div class="form-group">
          <span class="field_number">{{ fnum_pos_nobp }}</span>
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-text">-</span>
            <input type="text" class="form-control">
          </div>
        </div>
      </td>
      <td><span class="field_number">{{ fnum_pos_strata }}</span><input type="text" class="form-control"></td>
    </tr>
  </table>
</div>
</div>
