<div class="scroller">
  <table class="table-bordered font14">
    <thead class="text-center">
    <tr>
      <td colspan="4" rowspan="2"></td>
      <td>Produk pertama</td>
      <td>Produk kedua</td>
      <td>Produk ketiga</td>
    </tr>
    <tr>
      <td class="fnum">1510</td>
      <td class="fnum">1511</td>
      <td class="fnum">1512</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>16.1</td>
      <td colspan="2">Deskripsi produk</td>
      <td></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <td>16.2</td>
      <td colspan="2">Unit kuantiti</td>
      <td></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <td>16.3</td>
      <td colspan="2">Nilai jualan dalam tahun (RM)</td>
      <td class="fnum">01</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <td>16.4</td>
      <td colspan="2">Kuantiti jualan dalam tahun</td>
      <td class="fnum">02</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <td>16.5</td>
      <td colspan="2">Keluasan dituai</td>
      <td class="fnum">03</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <td>16.6</td>
      <td colspan="2">Dikeluarkan dari bahan yang dibekalkan oleh orang lain dengan menerima bayaran</td>
      <td class="fnum">04</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <td>16.7</td>
      <td colspan="2">Jumlah pengeluaran daripada bahan mentah sendiri</td>
      <td class="fnum">99</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <td style="transform: rotate(-90deg);" rowspan="2">Kegunaan Pejabat</td>
      <td>16.8</td>
      <td>Kod unit kuantiti</td>
      <td class="fnum">05</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    <tr>
      <td>16.9</td>
      <td>Kod produk</td>
      <td class="fnum">06</td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
      <td><input type="text" class="form-control form-control-sm"></td>
    </tr>
    </tbody>
  </table>
</div>
