<div class="row">
  <div class="col-md-6 row">
    <label for="noSiri" class="col-md-3 col-form-label">Nombor Siri:</label>
    <div class="col-md-9">
      <input type="text" readonly="" class="form-control-plaintext" id="noSiri" value="{{ no_siri }}">
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4 row">
    <label for="status" class="col-md-4 col-form-label">Status:</label>
    <div class="col-md-8">
      <input type="text" readonly="" class="form-control-plaintext red" id="status" value="BARU">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 row">
    <label for="namaPendaftaran" class="col-md-3 col-form-label">Nama Pendaftaran:</label>
    <div class="col-md-9">
      <input type="text" readonly="" class="form-control-plaintext" id="namaPendaftaran" value="Ali Sdn Bhd">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 row">
    <label for="kodPenyiasatan" class="col-md-3 col-form-label">Kod Penyiasatan:</label>
    <div class="col-md-9">
      <input type="text" readonly="" class="form-control-plaintext" id="kodPenyiasatan" value="{{ code_no }} - {{ name }}">
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4 row">
    <label for="status" class="col-md-4 col-form-label">Status Ralat:</label>
    <div class="col-md-8">
      <input type="text" readonly="" class="form-control-plaintext red" id="status" value="Ralat">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 row">
    <label for="tahunRujukan" class="col-md-3 col-form-label">Tahun Rujukan:</label>
    <div class="col-md-9">
      <input type="text" readonly="" class="form-control-plaintext" id="tahunRujukan" value="{{ tahun_rujukan }}">
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4 row">
    <label for="status" class="col-md-4 col-form-label">Bilangan Ralat:</label>
    <div class="col-md-8">
      <input type="text" readonly="" class="form-control-plaintext red" id="status" value="{{ralatCount}}">
    </div>
  </div>
</div>