<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm" for="F010014">
      Sila nyatakan alamat kilang sekiranya ia tidak sama dengan alamat pos di muka hadapan
    </label>
    <div class="input-group">
      <textarea name="F010014" id="F010014" class="form-control form-control-sm"></textarea>
      <span class="fnum mt-2 ml-2">010014</span>
    </div>
  </div>
  <div class="form-group row" style="padding-top: 20px">
    <div class=" col-md-2"></div>
    <label class="col-md-2 col-form-label col-form-label-sm" for="F010015">Poskod</label>
    <div class="input-group col-md-8">
      <select class="form-control form-control-sm" id="F010015" name="F010015">
        <option value="" disabled selected>Poskod</option>
        <option *ngFor="let row of poskod" value="row.id">{{ row.postcode }} - {{ row.location }} - {{ row.state }}</option>
      </select>
      <span class="fnum mt-2 ml-2">010015</span>
    </div>
  </div>
</div>
