<app-f3100011 [num]="'A.1'" [num2]="'A3'" ></app-f3100011>
<hr>
<app-f310002 [num]="'A.2'" [text]="'Berapakah peratusan pekerja di pertubuhan tuan yang menggunakan komputer
    (sekurang-kurangnya sekali dalam seminggu) semasa bekerja?'" ></app-f310002>
<hr>
<app-f3100031 [num]="'A.3'" [num2]="'Bahagian 2, Soalan A11'" ></app-f3100031>
<hr>
<app-f310004 [num]="'A.4'" ></app-f310004>
<hr>
<app-f310005 [num]="'A.5'" ></app-f310005>
<hr>
<app-f310011 [num]="'A.6'" ></app-f310011>
<hr>
<app-f3100171 [num]="'A.7'" ></app-f3100171>
<hr>
<app-f310021 [num]="'A.8'" ></app-f310021>
<hr>
<app-f3100341 [num]="'A.9'" ></app-f3100341>
<hr>
<app-f3100351 [num]="'A.10'" ></app-f3100351>
