    <b>Bagi soalan 1.2 di muka surat 2, sila nyatakan maklumat bagi Ibu Pejabat dan setiap cawangan di bawah ini.</b>
    
<div class="scroller">
<table class="table-bordered">
    <thead class="text-center">
      <tr>
        <th rowspan="2">Bil.</th>
        <th rowspan="2">Ibu Pejabat dan Cawangan-cawangan</th>
        <th colspan="2">Bilangan cawangan</th>
        <th>Pendapatan diterima daripada perkhidmatan</th>
      </tr>
      <tr>
          <th colspan="2">1270</th>
          <th>1271</th>
      </tr>
    </thead>
    <tbody>
            <tr>
              <td>1.</td>
              <td>Ibu Pejabat</td>
              <th>20</th>
              <th>KEGUNAAN PEJABAT<input type="text" class="form-control"></th>
              <th><input type="text" class="form-control"></th>
            </tr>
            <tr>
                <td>2.</td>
                <td>Johor</td>
                <th>01</th>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>3.</td>
                    <td>Kedah</td>
                    <th>02</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>4.</td>
                    <td>Kelantan</td>
                    <th>03</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>5.</td>
                    <td>Melaka</td>
                    <th>04</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>6.</td>
                    <td>Negeri Sembilan</td>
                    <th>05</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>7.</td>
                    <td>Pahang</td>
                    <th>06</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>8.</td>
                    <td>Pualau Pinang</td>
                    <th>07</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>9.</td>
                    <td>Perak</td>
                    <th>08</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>10.</td>
                    <td>Perlis</td>
                    <th>09</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>11.</td>
                    <td>Selangor</td>
                    <th>10</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>12.</td>
                    <td>Terengganu</td>
                    <th>11</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>13.</td>
                    <td>Sabah</td>
                    <th>12</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>14.</td>
                    <td>Sarawak</td>
                    <th>13</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>15.</td>
                    <td>W.P. Kuala Lumpur</td>
                    <th>14</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>16.</td>
                    <td>W.P. Labuan</td>
                    <th>15</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td>17.</td>
                    <td>W.P. Putrajaya</td>
                    <th>16</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                    <td colspan="2">Jumlah</td>
                    <th>17</th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
            </tr>    
            <tr>
                    <td colspan="5">Nota: Jumlah nilai di medan 127117 mesti sama dengan jumlah hasil tambah di perkara 8.1A, 8.1B, 8.1C, 8.1D di muka surat (15 hingga 18) di bawah Soalan 8</td>   
    </tbody>
</table>
</div>
    