
.field_number {
    color: blue;
    font-size: 12px;
}

.scroller {
        display: block;
        overflow-x: auto;
        max-width: 700px;
        /*white-space: nowrap;*/
        font-size: 12px;
    }

.form-control, label {
    font-size: 12px;
}