.field_number {
    color: blue;
}

.scroller {
        display: block;
        overflow-x: auto;
        max-width: 700px;
        font-size:12px;
        /*white-space: nowrap;*/
    }

.form-control {
    font-size:12px;
}