<div class="scroller">
<table class="table-bordered">
    <thead class="text-center">
      <tr>
        <td colspan="4" rowspan="2"></td>
        <td>Produk pertama</td>
        <td>Produk kedua</td>
        <td>Produk ketiga</td>
      </tr>
      <tr>
        <td class="field_number">1510</td>
        <td class="field_number">1511</td>
        <td class="field_number">1512</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>16.1</td>
        <td colspan="2">Deskripsi produk</td>
        <td></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <td>16.2</td>
        <td colspan="2">Unit kuantiti</td>
        <td></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <td>16.3</td>
        <td colspan="2">Nilai jualan dalam tahun (RM)</td>
        <td class="field_number">01</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <td>16.4</td>
        <td colspan="2">Kuantiti jualan dalam tahun</td>
        <td class="field_number">02</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <td>16.5</td>
        <td colspan="2">Keluasan dituai</td>
        <td class="field_number">03</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <td>16.6</td>
        <td colspan="2">Dikeluarkan dari bahan yang dibekalkan oleh orang lain dengan menerima bayaran</td>
        <td class="field_number">04</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <td>16.7</td>
        <td colspan="2">Jumlah pengeluaran daripada bahan mentah sendiri</td>
        <td class="field_number">99</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <td style="transform: rotate(-90deg);" rowspan="2">Kegunaan Pejabat</td>
        <td>16.8</td>
        <td>Kod unit kuantiti</td>
        <td class="field_number">05</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
      <tr>
        <td>16.9</td>
        <td>Kod produk</td>
        <td class="field_number">06</td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
        <td><input type="text" class="form-control"></td>
      </tr>
   </tbody>
  </table>
  </div>
