<div class="form-group row">
  <label class="col-md-1 col-form-label col-form-label-sm">{{ num }}</label>
  <div class="col-md-11">
    <label class="col-form-label col-form-label-sm">Adakah pertubuhan ini milikan wanita? [Bagi yang menjawab 2.1 (a), (b), (c), atau (d) sahaja]</label>
    <br>
    <label class="fnum">020002</label>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F020002" id="F0200021" value="1">
        <span class="fnum">1</span> Ya
      </label>
    </div>
    <div  class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="F020002" id="F0200022" value="2">
        <span class="fnum">2</span> Tidak
      </label>
    </div>
    <div class="well">
      <div class="note">
        <span>Nota: Definisi pertubuhan milikan wanita</span>
        <ol type="a">
          <li>51 peratus dan ke atas pemilikan ekuiti dipegang oleh wanita ATAU</li>
          <li>Ketua Pegawai Eksekutif atau Pengarah Urusan adalah wanita yang memiliki sekurang-kurangnya 10 peratus ekuiti</li>
        </ol>
      </div>
    </div>
  </div>
</div>