
<div class="row">
  <div class="col-md-1">
    <label>11.1</label>
  </div>
  <div class="col-md-9">
    <label>Sila laporkan keuntungan/ kerugian bersih seperti yang dilaporkan dalam akaun tuan.</label>
    <label>Keuntungan/ Kerugian</label>
  </div>
</div>

<div class="row">
  <div class="col-md-6 text-center">
    <label>Tahun Semasa <b> RM </b></label>
    <label class="field_number" style="float: right; color: blue;">1100</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text field_number">01</span>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="col-md-6 text-center">
    <label>Tahun Sebelum <b> RM </b></label>
    <label class="field_number" style="float: right; color: blue;">1100</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text field_number">02</span>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-checkbox-fnum-dynamic
      [num]="'11.2'"
      [text]="'Sekiranya terdapat pertukaran aktiviti atau perbezaan keuntungan/ kerugian yang ketara (> atau <30%) berbanding dengan tahun sebelum, sila tandakan sebab-sebab di bawah ini:'"
      [array]="arr1_11_2"
      [field_number]="'1100'"
    >
    </app-checkbox-fnum-dynamic>
  </div>
</div>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-7">
      <input type="text" class="form-control">
    </div>
    <div class="col-md-1 field_number">110019</div>
  </div>
<hr>
