<table class="font14" style="width: 100%;">
  <tr>
    <td style="width: 7%;" >{{num}}</td>
    <td colspan="6">Sila nyatakan peratusan jenis aktiviti R&D</td>
  </tr>
  <tbody *ngFor="let row of arr13_11">
  <tr>
    <td></td>
    <td style="width: 1%;">{{ row.num }}</td>
    <td colspan="5" [innerHtml]="row.text" ></td>
    <td colspan="6" style="width: 1%;"  class="fnum text-center">{{ row.fnum }}</td>
  </tr>
  <tr>
    <td colspan="5"></td>
    <td colspan="6"></td>
    <td style="width: 10%;"><input type="text" id="F{{ row.fnum }}" name="F{{ row.fnum }}" class="form-control form-control-sm"></td>
    <td style="width: 1%;">(%)</td>
  </tr>
  </tbody>
  <tr>
    <td></td>
    <td colspan="10">JUMLAH</td>
    <td><input type="text" class="form-control form-control-sm text-center" value="100" readonly></td>
    <td>(%)</td>
    <td></td>
  </tr>
</table>
