<div class="form-group row">
  <label class="col-md-1">{{ num }}</label>
  <div class="col-md-11">
    <label>{{ text }}</label>
    <div class="input-group">
        <textarea class="form-control" ></textarea>
        <span class="field_number mt-2 ml-2">{{ field_number }}</span>
    </div>
  </div>
</div>


