<div class="form-group row">
  <label class="col-md-1">{{ num }}</label>
  <label class="col-md-5"[innerHtml]="text1" >
  </label>
    <div class="input-group mb-3 col-md-6">
      <div class="input-group-prepend" style="width: 400px;">
        <span class="input-group-text field_number">{{ field_number }}</span>
      </div>
      <input type="text" class="form-control">
      <span class="input-group-addon">{{ text2 }}</span>
    </div>
</div>
